[2020-05-11 11:05] suisuitj opened #41 "replica set could not be created successfully following readme"
Hi
Thanks for your sharing of mongodb operator. I'm learning how to build k8s operator by mongodb these days. I tried to create mongodb operator following readme insturctions. But it failed for :

[failure descripiton]
There is an error in operator while checking satus of replica set. When Reconcile is called again, and an error was returned by `r.client.CreateOrUpdate(&svc)`
` The service already

[2020-05-11 12:11] chatton commented on #41
Hi @suisuitj, thanks for the report,

It looks like at the moment this particular error only occurs on a service **_update_**, but not on creation. The operator is incorrectly updating the service.

Meaning that even though there are errors in the logs this shouldn't effect your deployment unless you are manually making changes to the underlying kubernetes service created by the operator.

Trackin

[2020-05-11 12:41] suisuitj commented on #41
Thanks for your quick reply.
Yes, from the log, the inital creation of stateful set is successful. The failure occurs during checking the status of `stateful set ready`.

I am learning to debug/fix the failure.  Maybe my creation of stateful set failed during the checking phase of `stateful set ready`. I will report to you if have any progress.

[2020-06-04 07:55] #41 closed

[2020-06-10 13:01] bliemli opened #58 "mongodb-agent on OpenShift fails to get current user"
When deploying the operator on OpenShift, the mongodb Pods from the StatefulSet fail to start:

[code]

[2020-06-11 09:25] chatton commented on #58
Hi @bliemli

In order for the operator to run correctly in Openshift, you'll need to add the following environment variable to the operator pod

[code]

so the full deployment would be

[code]

[2020-06-11 14:28] Baykonur opened #61 "storageClassName missing in the CRD"
Hello,

How can we specify the `storageClassName` for the `sts` getting created by the operator?

In the [example](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mongodb_cr.yaml) and in the [crd definition](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_mongodb_crd.yaml) I do not see any place where to set i

[2020-06-11 15:05] chatton commented on #61
Hi @Baykonur,

Additional configuration of the StatefulSet created by the operator is not yet supported through the CRD.

This issue is being tracked internally by [CLOUDP-65312](https://jira.mongodb.org/browse/CLOUDP-65312)

[2020-06-11 16:02] Baykonur commented on #61
Thanks, any indication when we can get this feature available?

[2020-06-17 08:43] chatton commented on #61
Hi @Baykonur, this is going to be one of the next features we work on, so it should be coming soon, likely next week or 2.

[2020-06-17 15:27] bliemli commented on #58
Hi @chatton

Thanks a lot! I couldn't find documentation about available parameters. Where can I find it?

[2020-06-19 12:43] thesayyn opened #65 "Does the operator support cross-namespace deployments?"
I have been trying to get this working on a local minikube cluster. However, while I was trying to get this working, I have realized something that this operator only works on the namespace which it has been deployed to.

So my question is;  is this operator work on cluster-wide deployments?

Thank you.

[2020-06-22 16:44] ManAnRuck opened #66 "Configure resources requests & limits"
How to configure the resource limits for the mongodb pods?

I didn't find any documentation about this.

[2020-06-23 11:16] chatton commented on #66
Hi @ManAnRuck

This feature is currently being worked on. Configuration of the underlying StatefulSet should be possible within the next few weeks.

[2020-06-23 12:11] theburi commented on #65
This good point. We will add at cluster-wide watch option

[2020-06-23 13:20] thesayyn commented on #65
I am willing to implement such a feature. If it is okay for you?

[2020-06-24 10:04] chatton commented on #65
Hi @thesayyn, if you want to implement this that would be great. Bear in mind a few of things that would need to be done.

1. You would need to sign the [CLA](https://www.mongodb.com/legal/contributor-agreement)
2. Provide a mechanism  (perhaps an Env variable) to configure the watch namespace.
3. You would need to provide a new set of cluster roles for the operator (for now, I think the easiest w

[2020-06-24 20:32] thesayyn commented on #65
I'd like to implement it. Also, I think that we should accept cmd options instead of env variables. IMHO env variables aren't as easily discoverable as cmd options.
So instead of passing env variables around, we should accept cmd options since we can validate them and they are easy to track.

What do you think?

[2020-06-26 15:31] chatton commented on #65
@thesayyn Using cmd options is definitely one of the extensively used patterns we've seen. I think I prefer it to using envs while we don't have that many configuration options. Interested to hear from @bznein @antonlisovenko @LouisPlisso on this.

[2020-06-26 15:58] fabianlindfors commented on #65
@thesayyn @chatton  I also prefer environment variables. They are better integrated with Kubernetes in the sense that they can be set from a ConfigMap or Secret.

[2020-06-27 08:28] thesayyn commented on #65
Then env variables it is.

[2020-07-01 11:34] lokm01 opened #77 "Configure the mongo image itself"
Is there currently any way to specify which mongo image will be pulled?

It would be great if we could specify images in ECR for example.

[2020-07-01 11:36] chatton commented on #77
Hi @lokm01

There isn't any way to configure this at the moment, this is something that we should be implementing pretty soon. I'm creating a ticket to track this internally.

[2020-07-02 14:38] ajaychoudhary-nbs opened #85 "chart requires kubeVersion: >=1.13 which is incompatible with Kubernetes v1.16.8-eks-e16311"
Kube version compatibility issue because of kubeVersion referred in Chart,yaml.
Potential fix is to ignore this or change this to kubeVersion: '>=1.13-0' so that it can work with more range of versions with string literals.

[2020-07-02 15:09] #85 closed

[2020-07-03 13:57] ledux commented on #66
Hi @chatton
Will the configuration of the StatefulSet include the size of the PersistentVolume?

[2020-07-05 12:37] noelo opened #89 "Issues deploying on OpenShift"
Hi,
I'm using the operator on OpenShift 4.3 and I'm seeing a readiness probe failure on, I think, the mongodb-agent pod.
I've followed the instructions in the readme to deploy. Due to the probe failure the pod isn't added to the created service.

Client Version: version.Info{Major:"4", Minor:"1+", GitVersion:"v4.1.0+b4261e0", GitCommit:"b4261e07ed", GitTreeState:"clean", BuildDate:"2019-07-06T03:1

[2020-07-07 15:17] antonlisovenko commented on #89
Hi @noelo

thanks for your report

have you tried to configure the MongoDB using the instructions given in another issue? https://github.com/mongodb/mongodb-kubernetes-operator/issues/58#issuecomment-642528641

[2020-07-07 16:18] noelo commented on #89
Yes I tried that as well but same result as far as I remember

[2020-07-08 00:30] napalm684 opened #92 "Connecting to Headless Service from Docker Desktop (localhost)"
Given this appears to be implemented using a headless service with no cluster IP and no kube-proxy support as a result, how does one using docker desktop on Windows connect via an IDE tool like Robo 3T etc? I have tried just about everything I can think of with no success. Any guidance would be much appreciated!

[2020-07-09 11:16] pierreozoux opened #97 "License"
Hi,

and thanks for working on this.

I find it confusing to have the repo with the apache license and the agent with a proprietary license. Especially when you can't run this repo without the agent.

I'd kindly recommend you to change the approach to make it clearer for everybody and avoid confusion. (When people are confused, or they didn't expect something, sometimes they become angry and it is

[2020-07-15 10:49] jameszhengruiqing opened #106 "pod has unbound immediate PersistentVolumeClaims"
Hi,

I tried to deploy the pods with steps in readme file. Encountered "pod has unbound immediate PersistentVolumeClaims" error.

In the docker logs, it states "Error reading cluster config from /var/lib/automation/config/automation-config : [10:46:02.528] Cluster config did not pass validation for pre-expansion semantics : mongoDbTools field is required if there are any managed MongoDB processes"

[2020-07-15 11:10] fabianlindfors commented on #106
Hi, James!

I haven't seen the PersistentVolumeClaims error before. What version of Kubernetes are you using and what does your environment look like?

Regarding the second error, we have a fix for this which we'll release later today. I can ping you once it has been published.

To connect to the database, we recommend using the URI available from your MongoDB resource. You can get the URI by runn

[2020-07-15 14:17] jameszhengruiqing commented on #106
Hi Fabian,

Thanks for the quick reply. I'm using Windows docker desktop to run kubernetes (V1.16.5).

Thanks and regards,
James Zheng

[2020-07-15 17:46] flolu opened #108 "Cannot connect to ReplicaSet from within Kubernetes Cluster"
I have followed the instruction from the README to install the Operator.
Then I applied the following configuration to my cluster:
[code]

So far everything works fine and running `k get po -n mongodb` returns
[code]
The service is also up and running:
[code]

Now I deployed my NodeJs application, which tries to connect to MongoDb like this:
[code]
However, I cannot connect to the database. I get

[2020-07-15 20:45] fabianlindfors commented on #106
We've now released version 0.0.8 of the operator which should fix the issue you've been experiencing. Please pull the repository and try installing the operator again.

Regarding the URI, I think this could be related to the other issue. Could you try updating and get back to me?

[2020-07-16 08:24] StMarian commented on #108
I think the problem is in your connection string:
_mongodb://event-store-svc.mongodb.svc.cluster.local:27017_ - this is the format of the connection string to the single instance of mongodb
if you want to connect to the replicaset, your connection string should look like this:
_mongodb://event-store-0.event-store-svc.mongodb.svc.cluster.local:27017,event-store-1.event-store-svc.mongodb.svc.cluster

[2020-07-16 10:30] jamesbroadhead commented on #97
Hi Pierre -

Thanks for your thoughts on this.

The licensing situation for the code in this repo is a little nuanced, and I had hoped that the segment in our [README](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/README.md#license) explained it.

We discussed this approach quite a lot internally, and there are many pros and cons to the various approaches that you suggested.

[2020-07-16 11:54] flolu commented on #108
@StMarian I've tried the new connection string, but unfortunately, I still get this error:
[code]
Do you have any other idea, what might be the reason for this error?

[2020-07-16 12:01] jameszhengruiqing commented on #108
@StMarian  I also face the same issue.

I tried with

`mongodb://example-mongodb-0.example-mongodb-svc.mongodb.svc.cluster.local:27017,example-mongodb-1.example-mongodb-svc.mongodb.svc.cluster.local:27017/?replicaSet=example-mongodb`

Error log:
`node:1) UnhandledPromiseRejectionWarning: MongoNetworkError: failed to connect to server [example-mongodb-1.example-mongodb-svc.mongodb.svc.cluster.local

[2020-07-16 12:16] jameszhengruiqing commented on #106
Hi Fabian,

I got failed FailedScheduling error. Do you know where to add the PersistentVolumeClaims? Is this critical error?

`  Warning  FailedScheduling  106s (x2 over 106s)  default-scheduler        pod has unbound immediate PersistentVolumeClaims
  Normal   Scheduled         104s                 default-scheduler        Successfully assigned default/example-mongodb-0 to docker-desktop
  Norma

[2020-07-16 12:46] StMarian commented on #108
@flolu The connection string that I provided to you assumes that your mongodb is deployed to the _mongodb_ namespace. If this is not true, you will need to update the connection string and use the correct _namespace_:
mongodb://event-store-0.event-store-svc._mongodb_.svc.cluster.local:27017,event-store-1.event-store-svc._mongodb_.svc.cluster.local:27017/?replicaSet=event-store

[2020-07-16 12:48] flolu commented on #108
@StMarian Yes. I've deployed it into the _mongodb_ namespace.

[2020-07-16 14:54] jameszhengruiqing commented on #108
@StMarian

Where to add the namespace. I didn't add namespace.

Thanks and Regards,
James Zheng

[2020-07-16 15:44] jameszhengruiqing commented on #108
I guess the issue is with the connection string. Hope this can be documented in the readme file. Thanks in advance.

[2020-07-19 16:31] kylos101 opened #114 "Question: why expect the CA cert in configmap, instead of as a property 'ca.crt' in the secret containing the TLS.crt and TLS.key?"
Hi there,

First, may  I say it is awesome that you're all spinning up a MongoDB community operator!

Second, I noticed the CA cert is expected to be in the ConfigMap, as `ca.crt` per #75 and #81. May I ask why you look for the `ca.crt` in the ConfigMap, and not the Secret?

As background:
My understanding is, when cert-manager provisions a Certificate, and persists it to the k8s cluster within a

[2020-07-19 20:40] kylos101 commented on #114
Here are the contents of a secret provisioned by a cert-manager Certificate:

![image](https://user-images.githubusercontent.com/1272076/87884732-7f118a00-c9de-11ea-8040-13f74d08656c.png)

[2020-07-20 09:18] fabianlindfors commented on #114
Hi, Kyle!

As the comment on your PR indicates, not all cert-manager issuers support the `ca.crt` field and hence we opted to accept it separately. Our main goal is to support the `kubernetes.io/tls` Secret format which only requires `tls.crt` and `tls.key`.

In the future we might add support for passing the CA certificate in the Secret as it would definitely be convenient. It will not be part of

[2020-07-20 09:25] flolu commented on #108
So today I've tried to isolate the issue by creating a minimal reproduction. It turned out, that everything works fine.
Honestly, I don't know where the issue was, but now it works :rofl:

You can check it out here: https://github.com/flolu/mongodb-k8s-connection

[2020-07-20 09:25] #108 closed

[2020-07-20 09:55] #97 closed

[2020-07-20 13:35] kylos101 commented on #114
Hi, @fabianlindfors,

Mind = blown! 👍

Thank you very much for reaching out to clarify, I appreciate it.

[2020-07-20 13:35] #114 closed

[2020-07-22 13:00] hemantkathuria opened #120 "How to deploy mongodb.com_v1_mongodb_scram_cr.yaml successfully"
I am trying to deploy mongodb.com_v1_mongodb_scram_cr.yaml which comes by default on an AKS cluster . I have only changed the replicaset count to 1 from 3. Do I need to create a secret with "my-user-password" name?

I even tried creating a secret with the same name but still no luck.

kubectl create secret generic my-user-password --from-literal=password=pass@word1

**********************Error Mes

[2020-07-22 13:05] hemantkathuria opened #121 "Tolerance for MongoDb Pods"
Hello,

1 - Currently we have Taints for a node pool in our AKS cluster and we want to have the MongoDB community database deployed to that specific node pool. How do we specify the [tolerance](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/)?

2 - Also do you plan to support Standalone deployment of MongoDB?

[2020-07-22 13:49] chatton commented on #120
Hi @hemantkathuria

 The `mongodb.com_v1_mongodb_scram_cr.yaml` CR file only partially configures SCRAM. This feature is still a work in progress and so it won't be possible to configure SCRAM users until that work is complete, which should be within the next week or two (at which point there will be more documentation available for how to configure your users).

 Regarding the `unbound immediate

[2020-07-22 14:42] theburi commented on #121
We started with ReplicaSet first. and Sharded Clusters and Standalone will follow.

We also found that running single Node Replicaset is pretty much an alternative to a Standalone, however without potential problems in future migration to ReplicaSet like connection string or upgrade.

[2020-07-22 14:48] theburi commented on #121
Regarding Tolerations: We don't expose STS Pod Templates yet where Tolerations get configured. This is something that we will be adding going forward.

[2020-07-22 14:50] hemantkathuria commented on #120
**********************
Thank you very much for the quick response. Looking forward for the SCRAM support. Please find below the output of the asked commands. Also, please note, i was able to install once using "mongodb.com_mongodb_crd.yaml". But when I tried "mongodb.com_v1_mongodb_scram_cr.yaml" I faced the issues.

`

Name:            default
IsDefaultClass:  Yes
Annotations:     kubectl.kuberne

[2020-07-22 14:54] hemantkathuria commented on #121
In that case what do you suggest on how to deploy the pods on the Nodes / Node Pools having Taints defined? Any workaround possible? Also, are you expecting this feature in recent future like few weeks similar to SCRAM support?

[2020-07-23 08:47] chatton commented on #121
Hi @hemantkathuria

Arbitrary configuration support should also be coming shortly like SCRAM.

As a temporary work around, you could apply a change to the underlying StatefulSet created by the operator. The operator will not overwrite any changes made, only apply them on top of the existing StatefulSet.

You could try the following

* Create the MongoDB resource
* Wait for StatefulSet to be create

[2020-07-23 11:01] fabianlindfors commented on #106
The PersistentVolumeClaims error seems to indicate that Kubernetes couldn't create a corresponding Persistent Volume for the claim that is created by the operator. I'm not too familiar with Docker on Windows but it's possible that it can't create persistent volumes dynamically. One option is to manually set up Persistent Volumes which should then be automatically bound for the claims.

I think it'

[2020-07-26 10:28] kaykhancheckpoint opened #126 "Use a different storage class"
Hi,

How do i alter the storage class so that it does not use the default one but uses another one. Im basically trying to get persistent volumes so they are created with aws ebs

[2020-07-26 15:20] kylos101 commented on #126
Hi @kaykhancheckpoint you may want to look at #61. Work is underway in #118.

[2020-07-27 08:00] kaykhancheckpoint commented on #61
Any update on this, its also a feature i require

[2020-07-29 03:46] lexual commented on #77
Any progress on this since last update? :) 🤞

[2020-07-30 06:48] hemantkathuria commented on #120
Hello Friends!

Are we close to the release of this feature? We are really looking forward for the same?

Thank you

[2020-07-30 06:48] hemantkathuria commented on #121
Hello Friends!

Are we close to the release of this feature? We are really looking forward for the same?

Thank you

[2020-07-30 06:49] hemantkathuria commented on #126
Hello Friends!

Are we close to the release of this feature? We are really looking forward for the same?

Thank you

[2020-07-30 11:13] kaykhancheckpoint commented on #120
Yes waiting for this also :)

[2020-07-30 19:41] kaykhancheckpoint opened #127 "How to expose mongodb externally outside of kubernetes cluster"
Hi i want to expose the mongodb publicly. But im not sure where to set mongodb service as type load balancer?

Can anyone provide an example of this, thanks

[2020-08-03 09:40] ImadYamane commented on #92
I am facing the same issue, did you find a solution?

[2020-08-03 14:56] napalm684 commented on #92
Nope I gave up and used helm.

[2020-08-03 20:37] TannerBragg commented on #77
@chatton This is important.  Please consider implementing soon.  :]

[2020-08-04 08:19] fabianlindfors commented on #61
Sorry about the auto-closing. This issue should be fixed with #118 which will be included in the next release. The PR adds the ability to add arbitrary configuration of the StatefulSet, including the `storageClassName`.

[2020-08-04 13:33] scorsi opened #131 "How to configure the operator to watch different namespace ?"
Hey,

I wanted to put my MongoDB instances into the same namespace than my micro-services. How could I achieve that ?
I saw we can change the `WATCH_NAMESPACE` variable of the operator yaml file, but can we pass a wildcard or a list of namespaces ?

https://github.com/mongodb/mongodb-kubernetes-operator/blob/956aea37f397ede4a858c0a611a50362cb82bcbe/deploy/operator.yaml#L23

Thanks !

[2020-08-08 06:27] navndn commented on #127
Hey @kaykhancheckpoint  did you figure out?

I'm thinking of adding an Istio ServiceEntry for mongodb's clusterIP service and then exposing the ServiceEntry through Istio's Gateway+VirtualService... Not sure this will workout or even if it does, there must be an elegant way than this...

[2020-08-08 10:17] kaykhancheckpoint commented on #127
@navndn No i didn't. I've moved away from this operator for the time being, its still in pre-release and there are some important features that it doesn't have right now which i need.

For now im using mongodb helm chart owned by bitnami.

But, I'll keep an eye on this and see how it progresses.

[2020-08-08 13:06] navndn commented on #127
@kaykhancheckpoint thanks for response. Even I decided to use bitnami chart for now

[2020-08-10 14:24] chatton commented on #131
Hi @scorsi , this feature currently isn't supported, at the moment the operator can only watch a single namespace. Tracking this internally as `CLOUDP-69016`

[2020-08-10 15:41] cacois commented on #89
This issue persists, and is present in Openshift 4.5 as well. The error indicates a permissions error inside the mongodb pod itself, so this is unrelated to any config vars set for the operator (i've tried that solution, it had no effect).

Advice on a workaround would be appreciated, currently the operator is unusable in openshift.

[2020-08-11 08:47] chatton commented on #126
Hi @hemantkathuria  This feature is almost complete and should be out the next release (this week or next!)

[2020-08-11 09:01] scorsi opened #136 "Pods crashed and can't start back with replicas number from 3 to 1"
Hello,

I got a weird issue where my mongo db can't start. The pods were running before (and crashed?) and while trying to restart, the `mongodb-agent` container is marked as failing starting.

If I delete everything (claimed volumes and the mongodb resource) everything will start and run correctly, but after some time, the pods did stop and can't restart.

_Note: I had a 3 replicas and scale down

[2020-08-11 09:32] chatton commented on #136
Hi @scorsi  thanks for the report,

Do you mean you created a regular 3 member replica set, then scaled down to 1 and it broken this way?

What sort of kubernetes environment are you using?

I will try to reproduce this and get back to you.

[2020-08-11 09:38] scorsi commented on #136
I had a 3 members replicaset and scaled down to 1, yes. It's after some days that the pods were deleted or crashed (I don't very know what happen) and can't start back. It looks like the `order-db-0` tried to communicate with `order-db-1` (I imagine to recover data ?) and can't since it don't exists. It's like the pods registered themself but don't unregistered in case of scale-down.

I'm running

[2020-08-12 09:23] chatton commented on #136
@scorsi it looks like there is an issue with scaling down in some situations, I was able to repro this, thanks for creating this issue! We will start working on a fix straight away 👍

[2020-08-12 19:07] borenstein commented on #126
I see that PR #118 has been merged into master, and that this allows "arbitrary StatefulSet configuration." I don't see any examples of how this is done. Is it a set of parameters to be supplied in the `spec` section of my `MongoDB` resource manifest? If so, could you please supply an example?

[2020-08-17 16:03] chatton commented on #126
Hi Guys, sorry for the delay, arbitrary StatefulSet configuration is now possible with the latest release of the operator v0.1.1.

You can use the [this CR](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mongodb_openshift_cr.yaml) as a starting point.

We will add more detailed examples shortly.

[2020-08-17 16:06] chatton commented on #121
Hi @hemantkathuria

Arbitrary StatefulSet configuration was implemented in the latest release v0.1.1, you can look at [this example](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mongodb_openshift_cr.yaml) as a starting point. We will be adding more shortly.

[2020-08-17 16:10] chatton commented on #89
Hi, as of the latest operator release, v0.1.1 it should now be possible to configure the CRD in such a way to run correctly in openshift, see the following [example](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mongodb_openshift_cr.yaml)

The `MANAGED_SECURITY_CONTEXT` environment variable must be set to true in both the agent, and mongod container

[2020-08-17 16:11] chatton commented on #66
Hi, it should be possible to configure anything that is in the statefulset podTemplateSpec as of operator v0.1.1 see [this example](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mongodb_openshift_cr.yaml)

[2020-08-19 11:12] uberkelium opened #144 "No Docker image for quay.io/mongodb/mongodb-kubernetes-operator:0.1.1"
It looks like version 0.1.1 for mongodb-kubernetes-operator was deleted from quay.io, so the latest release from this repo fails when trying to pull the image. I'm not sure if this is intentional.

https://quay.io/repository/mongodb/mongodb-kubernetes-operator?tab=history

![image](https://user-images.githubusercontent.com/22272118/90628126-edaa5900-e1d1-11ea-89b2-dde975e84250.png)

[code]

[2020-08-19 11:13] chatton commented on #144
Hi @uberkelium  thanks for bringing this up, will take care of this ASAP

[2020-08-19 11:19] chatton commented on #144
@uberkelium everything should be there now, closing this issue, feel free to re-open if it isn't resolved

[2020-08-19 11:19] #144 closed

[2020-08-19 13:43] uberkelium opened #145 "How to adjust persistent volume claim size? (Type: ReplicaSet)"
I looked at the YAML reference at https://docs.mongodb.com/kubernetes-operator/master/tutorial/deploy-replica-set/ and have been trying to tweak the following YAML:
[code]
However, each member of the replica set still has 10Gi per PVC. How can I correctly change it?

[2020-08-19 14:35] bznein commented on #145
Hello @uberkelium, you might be referring to the [https://github.com/mongodb/mongodb-enterprise-kubernetes](enterprise operator).

If so, the documentation on how to achieve what you are asking can be found here:
https://docs.mongodb.com/kubernetes-operator/stable/tutorial/resize-pv-storage/

[2020-08-19 14:46] uberkelium commented on #145
Oh, sorry. I mixed up the documentation between the two. No, I'm not using the MongoDB Enterprise Kubernetes Operator, but I was looking at that documentation by mistake. Now that you mention it though, I am a little bit confused on the differences between the two. Community can do everything that Enterprise can, except you have to manage replica sets and sharding yourself, correct? This is the on

[2020-08-19 15:10] LouisPlisso commented on #127
@kaykhancheckpoint thanks for your question

### External access
You can configure your mongodb deployment to be reachable from outside the kubernetes cluster with a LoadBalancer or NodePort (like with the bitnami helm chart).
We don't provide examples as of now, as we do believe **all connections should be over SSL** and it's not straightforward to provide SSL encrypted connections from outside t

[2020-08-19 15:15] bznein commented on #145
From Release 0.1.0 we added the possibility to specify arbitrary configurations from the stateful set through `spec.statefulSet.spec`. We are still in the process of creating examples but you should be able to achieve what you are trying by adding your custom requirements to `spec.statefulSet.spec.volumeClaimTemplates.spec.resources`. (I believe it is the same issue that was raised here: https://g

[2020-08-20 22:02] uberkelium commented on #145
I think it is not working as intended. There are 2 outcomes that I tried:
1. Use name "data-volume" for the pvc template
2. Use a different name than "data-volume"

For #1, the mongodb-kubernetes-operator crashes
For #2, two pvc templates are used, one "data-volume" and the other that is specified in MongoDB spec.
So, my understanding is that the operator is adamant about adding data-volume, and t

[2020-08-20 22:11] shantanubansal opened #146 "Connection String Host Improvement"
Hey,
Is it possible to access all the nodes in ReplicaSet with just a single Service Name? This will be very useful.?
Suppose My ReplicaSet are pod:
 `mongo-0
   mongo-1
   mongo-2`.
So to access them I will have a host
`mongodb://mongo-0.mongo,mongo-1.mongo,mongo-2.mongo:27107`
Instead of this if we will be able to do just
`mongodb://mongo:27107`
that would be cool. As we won't have to change the

[2020-08-20 22:39] uberkelium commented on #145
Hack solution: If it is currently not possible to set PVC size for MongoDB in statefulSet, there is an awkward solution which requires manual intervention.
1. Create the replicaSet the ordinary way
2. Copy the statefulSet info: `k get statefulset -o=yaml`
3. Save the statefulSet info to statefulset.yaml
4. Modify persistentVolumeClaim template with the desired size
5. Delete everything and apply t

[2020-08-21 08:11] antonlisovenko commented on #146
hi @shantanubansal

DB url string must conform to requirements by MongoDB: https://docs.mongodb.com/manual/reference/connection-string/
The standard way is to list the hosts in the URL. But there is the way to make this more scalable in case of changes in topology: just use the SRV records: https://docs.mongodb.com/manual/reference/connection-string/#dns-seedlist-connection-format
In Kubernetes yo

[2020-08-24 05:18] shantanubansal commented on #146
hi @antonlisovenko ,
I get that. But should not be the feature out of the box from the operator? Because this abstraction makes it very simple for the person who gonna use this operator. People using operator should not be worried about all this. They should just go and provide the details of number of replicaset and users and out of the box they should get the details. Just a thought! as a mongoD

[2020-08-24 11:43] theburi commented on #146
Can I clarify one point here. The operator does create a K8s service and that service creates SRV records automatically in K8S DNS. That SRV record is updated every time STS scales up or down.
so the connection string that can be used is mongodb+srv://<crd name>-svc.<namespace>.svc.cluster.local/...

There is an outstanding feature we need is to expose that string automatically in CRD object or cr

[2020-08-24 14:56] navndn commented on #120
Hi @chatton  Is this feature released yet?
Thanks

[2020-08-25 05:10] ubergeek77 commented on #146
I'm a little confused about how this works. I've created a ReplicaSet using the very basic config referenced from the README:

[code]

This creates everything automatically (the StatefulSet, Service, Volumes, etc).

In a debugging Pod with access to the cluster's DNS records, I can successfully ping this host:

[code]

As far as I'm aware (and please correct me if I am wrong), this hostname repres

[2020-08-25 08:29] theburi commented on #146
We have seen some issues with older drivers not supporting SRV (bugs) and some K8S DNS implementation have not been compliant with RFC2782.
What K8S distro are you using (and version) and what MongoDB Driver (version)? We could try to reproduce.

[2020-08-25 09:40] ubergeek77 commented on #146
I am using `microk8s` version `1.16.14`. I will be moving my deployments to GKE once I'm done creating and testing them, so I chose this version of `microk8s` to have parity with Google's "default" version for GKE. The host machine for `microk8s` is Ubuntu 20.04.

My in-cluster debugging container is a Pod created from the `ubuntu:20.04` image, with MongoDB installed via the following guide:

http

[2020-08-26 03:01] ubergeek77 commented on #146
I have found out exactly what causes this, and I've found the solution.

MongoDB [adheres very strictly](https://jira.mongodb.org/browse/DRIVERS-521) to RFC 2782's naming conventions, and as such, it *requires* the *service name* in the SRV record to be *exactly* `mongodb`. It cannot be anything else.

As of [MongoDB Kubernetes Operator v0.1.1](https://github.com/mongodb/mongodb-kubernetes-operato

[2020-08-26 07:59] antonlisovenko commented on #146
Hi @ubergeek77

Thanks for your detailed analysis!
Sorry for misleading you, we do set the port name to `mongodb` in the Enterprise Operator so connecting over `srv` records is possible there, but not in the Community Operator.
Not sure if there is a way to fix this now except for manual changing of the services specification.
We'll discuss if we can address this issue soon, thank you again!

[2020-08-26 12:19] gubjanos commented on #145
@uberkelium I have run into the same issue as you. I did some research and what I see currently is there is no way with the community operator to overwrite the data-volume with a custom-tailored one.  Let me elaborate on this:
The replicaset controller will always create a pvc named data-volume, with 10G store and some other default settings, regardless of your MongoDB custom resource as you can s

[2020-08-26 13:31] gubjanos commented on #145
Or maybe it is just an issue with the merging introduced in https://github.com/mongodb/mongodb-kubernetes-operator/pull/118? @fabianlindfors

[2020-08-26 14:20] gubjanos commented on #145
After some further investigation I think the issue is the following:
https://godoc.org/k8s.io/api/core/v1#PersistentVolumeClaim does not have a Name field, (it has an ObjectMeta which has a Name field). But in mergeVolumeClaimMap
https://github.com/mongodb/mongodb-kubernetes-operator/blob/3b8ea122eb9953a12326d0285c03b2869bbbdd94/pkg/kube/statefulset/statefulset.go#L322
m.Name is referenced. Maybe

[2020-08-26 15:21] gubjanos commented on #145
Isn't an & missing from here?
https://github.com/mongodb/mongodb-kubernetes-operator/blob/3b8ea122eb9953a12326d0285c03b2869bbbdd94/pkg/kube/statefulset/statefulset.go#L300
The correct one should be:
[code]

Mergo doc states that dst must be a pointer to a struct in Merge: https://godoc.org/github.com/imdario/mergo

Also it is used like this on volume mounts:  https://github.com/mongodb/mongodb-kub

[2020-08-26 15:30] bznein commented on #145
Hello @gubjanos and @uberkelium, and thanks for your investigation!

There was indeed a bug in our implementation (partially is what @gubjanos pointed out in their last comment) which has now been found. A fix will be merged soon, and will be available in the next release!

[2020-08-26 17:09] #145 closed

[2020-08-27 08:39] pixie79 commented on #120
I just tried to create a db with TLS but it objecting saying i needed to setup users first?

[2020-08-27 12:08] naddame commented on #120
I just tried the release v0.2.0 which include users in the file mongodb.com_v1_mongodb_cr.yaml and it does not works. Got warn: `WARN    mongodb/replica_set_controller.go:174   error creating automation config config map: Secret "digital-factory-mongodb-mdfdb-admin-scram-credentials" not found`

[2020-08-27 12:36] bznein commented on #120
Hello @naddame, can you please create a new issue and paste the yaml file you used and the command you used to create the secret? Thanks!

Hi @pixie79, can you please open a new issue and gives us a bit more information about how you tried to set up a db with TLS? Thanks!

[2020-08-27 14:52] naddame opened #153 "[Release v0.2.0] Mongodb pods are not created by following the installation steps."
I just tried the release v0.2.0 which include `users:` in the file `deploy/crds/mongodb.com_v1_mongodb_cr.yaml` and it does not works. Got warn: WARN mongodb/replica_set_controller.go:174 error creating automation config config map: Secret "digital-factory-mongodb-mdfdb-admin-scram-credentials" not found

No pod created because, I suppose, of this warning.  And when I remove the `users:` block fro

[2020-08-27 15:01] bznein commented on #153
Hello @naddame and thanks for your report.

We will soon prepare detailed docs for this feature. When enabling SCRAM authentication and creating a user, the operator looks for a secret (the one referred under `users.passwordSecretRef`) which contains the password that needs to be used to generate the user.

You can either create it manually like this:

`kubectl create secret generic my-user-passwo

[2020-08-27 15:35] #153 closed

[2020-08-28 16:02] jalonsoa commented on #131
Hi !,
  You only need 2 things. First, define the env WATCH_NAMESPACE as empty (without value). Second, you need to create the service account that the operator uses, by default mongodb-kubernetes-operator, in the namespace where you want to create the mongo database (the namespace where you create the mongodb resource)

  So, yo need to create 2 resources to create a database inside other namespa

[2020-08-31 10:18] chatton commented on #61
Hi @Baykonur, @kaykhancheckpoint

It is now possible to modify the StorageClass name and other stateful set values via the CRD. See the PR https://github.com/mongodb/mongodb-kubernetes-operator/pull/157 as an example.

[2020-08-31 10:20] #66 closed

[2020-08-31 10:21] chatton commented on #66
configuring requests/limits is no supported via custom stateful set configuration. See https://github.com/mongodb/mongodb-kubernetes-operator/pull/157 for a small example.

[2020-08-31 10:24] #61 closed

[2020-08-31 10:24] #126 closed

[2020-08-31 19:45] schamane opened #161 "Support for 4.4 Mongodb versions"
I tried to deploy cluster on kind with version set to 4.4.0 and it stuck on agent checking health.
It would be cool to support newest 4.4 mongo too.

[2020-08-31 19:55] bznein commented on #161
Hi @schamane thanks for the report.

Can you please provide more context for us to reproduce/understand the issue?
Can you show us the specification of the deployment you are trying to create and the logs from the operator?

Thanks

[2020-09-01 08:18] pixie79 opened #162 "Cluster started without users or TLS"
Hi,

Following the guides and examples I created the following yaml and created a new deployment with kubectl create:

[code]

However when checking the changemap created I can see that TLS and auth is disabled?
  "auth": {
    "disabled": true,
    "authoritativeSet": false,
    "autoAuthMechanism": "MONGODB-CR"
  },
  "tls": {
    "CAFilePath": "",
    "clientCertificateMode": "OPTIONAL"
  },

H

[2020-09-01 08:23] chatton commented on #162
Hi @pixie79 thanks for the report!

Could you provide the output of `kubectl describe sts mongodb` and the operator logs?

[2020-09-01 08:29] pixie79 commented on #162
Hi @chatton

Here you go:

➜  talos-engine git:(master) kubectl describe sts mongod
Name:               mongodb
Namespace:          default
CreationTimestamp:  Tue, 01 Sep 2020 09:08:38 +0100
Selector:           app=mongodb-svc
Labels:             app=mongodb-svc
Annotations:        <none>
Replicas:           3 desired | 3 total
Update Strategy:    RollingUpdate
Pods Status:        3 Running / 0 W

[2020-09-01 08:35] chatton commented on #162
Hi @pixie79 the logs are saying `MongoDB.mongodb.com "mongodb" is invalid: spec.users: Required value	` this looks to indicate that the `users` field is not at the correct level of indentation, the example you provided looks correct though, could you double check that users is under `spec.users`?

If everything looks okay could you provide the exact file you're using and I'll use it to try and rep

[2020-09-01 08:51] pixie79 commented on #162
I agree it looks like it is under the correct indentation, but I wonder if it is the '-' (which i copied from one of the examples)

Mark
[mongo.yaml.gz](https://github.com/mongodb/mongodb-kubernetes-operator/files/5155038/mongo.yaml.gz)

[2020-09-01 08:53] LouisPlisso commented on #161
@schamane this is because we didn't upgrade the automation agent since the release of 4.2: once this is done it should work directly

[2020-09-01 09:11] LouisPlisso commented on #161
@chatton can you please take a look?

[2020-09-01 09:16] aspeteRakete opened #163 "Unauthorized/No Permission to create Database"
Hi there,
I am trying to deploy a mongo instance in kind with the scram_cr (with members set to 1):
[code]

I can then connect to mongodb with Robo3T or Datagrip. Authentication succeeds and I can view the admin database.
However when I am trying to create a new Database/Collection I get an unauthorized message:

[code]

[2020-09-01 09:30] chatton commented on #163
Hi @aspeteRakete you'll need to make sure that that the user has the required roles to read/write to the test database, try adding the following role

[code]

you should be able to do

[code]

[2020-09-01 09:34] chatton commented on #163
You can take a look [at the docs](https://docs.mongodb.com/manual/reference/built-in-roles/) to get a comprehensive list of the built in roles.

[2020-09-01 10:00] #121 closed

[2020-09-01 11:04] aspeteRakete commented on #163
Thanks for the swift help! That did the trick.

[2020-09-01 11:04] #163 closed

[2020-09-01 13:31] chatton commented on #161
Hi @schamane we'll be upgrading the automation agent to a version which supports mongodb 4.4. So 4.4 support will be available in the next operator release.

[2020-09-02 06:32] apenen commented on #131
Hi!

Other operators have the service account with global permissions. With that you don't have to create it in each namespace.
It can be a solution to haven't to add service accounts in each namespace

[2020-09-03 14:39] #58 closed

[2020-09-03 14:39] #89 closed

[2020-09-03 16:34] #161 closed

[2020-09-03 21:15] nazarkulyk opened #171 "deprecated CustomResourceDefinition"
Please add support for 1.19 version.

On applying CustomResourceDefinition i get an error:

[code]

[2020-09-03 21:54] user12344321 opened #172 "Readme operator installation process is broken"
Following the installation procedure from the readme shows an error and does not create the `example-mongodb` pod. Looking into the logs of the `crd/mongodb.mongodb.com` shows:

After doing a git bisect, it seems this has been broken since `82f4dc9 2020-08-25 | CLOUDP-66799: Configure SCRAM users`

[2020-09-03 22:46] nikosece opened #173 "can't deploy at local kubernetes (unbound immediate PersistentVolumeClaims)"
I have a cluster with 2 physical machines and no cloud providers. i am trying to deploy  the statefulset as i want to create a mongodb with persistent. Due to local storage i have created manually some Persistent Volumes, and i am trying to bound at them with volume claim templates. here is my extra code:
`volumeClaimTemplates:
        - metadata:
            name: mongo-persistent-storage

[2020-09-04 05:24] adux6991 opened #174 "Error downloading url=https://dummy to /var/lib/mongodb-mms-automation/mongodb-database-tools-linux-x86_64-100.0.2"
Please help and thanks in advance!

Version:

https://github.com/mongodb/mongodb-kubernetes-operator/tree/37c8442101bfe371fe7f7a5bb2b5525b5b9e69f0

Reproduce Steps:

[code]

Error Log:
[code]

[2020-09-04 05:43] adux6991 commented on #174
The error log leads us here https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/pkg/controller/mongodb/replica_set_controller.go#L398

[2020-09-04 05:48] adux6991 commented on #174
@fabianlindfors Could you have a look at these lines introduced in https://github.com/mongodb/mongodb-kubernetes-operator/commit/dc3430cbf66e4fdf950a154526458852e9729358 ?

[2020-09-04 07:45] fireba11 opened #175 "statefulset never gets ready"
With the readme i was able to deplo the operatore fine.
However, trying to deploy a replica set fails.
* mongodb.com_v1_mongodb_cr.yaml does not deploy due to scram missing
* mongodb.com_v1_mongodb_scram_cr.yaml does, but doesn't come up

I can see a service
NAME                          TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)     AGE
service/example-mongodb-svc   ClusterIP   None         <

[2020-09-04 08:15] fireba11 commented on #175
O.o there seems to be no rbac allowing a pvc .. no wonder it won't work.
Any plan to provide a rbac? ;-)

[2020-09-04 09:30] #175 closed

[2020-09-04 11:06] nikosece commented on #174
Same error here

[2020-09-04 14:40] fireba11 opened #176 "example for CRD with cpu/memory settings"
since the default values for cpu and memory are somewhat low .. can you provide an example (as in extend the readme probably) how to set those?
https://github.com/mongodb/mongodb-kubernetes-operator/pull/157/files looks like it should be possible

[2020-09-06 08:15] IsNull commented on #176
Here you go:

[code]

[2020-09-06 08:20] fireba11 commented on #176
:star_struck: much obliged

[2020-09-06 08:20] #176 closed

[2020-09-06 17:46] fischerscode commented on #174
I had the same issue using the master branch. Release v0.2.0 worked for me.

[2020-09-06 22:14] fischerscode opened #177 "volumeClaimTemplates only works with name: data-volume"
**Thanks for your great work!**

In release v0.2.0 the `spec.statefulSet.spec.volumeClaimTemplates.metadata.name` must be `data-volume`, otherwise two claims are created.

### How to reproduce:

1. `git clone https://github.com/mongodb/mongodb-kubernetes-operator.git #clone repo`
2. `git checkout v0.2.0 #use v.0.2.0`
3. `kubectl create -f deploy/crds/mongodb.com_mongodb_crd.yaml #deploy crd`
4. `k

[2020-09-07 07:52] chatton commented on #174
Hi guys, it looks like there was an issue with backwards compatibility with the newest version, upgrading to v0.2.0 as fischerscode suggested should do the trick. Please let me know if you have any other issues!

[2020-09-07 07:56] fischerscode commented on #174
For me this issue occurred using the master branch.

[2020-09-07 08:32] fireba11 opened #178 "CRD changes don't get noticed by operator"
If you set resource limits as described in #176 and change the values operator doesn't notice any changes.
Expected behaviour would be for it to apply the new values.

I haven't tested in detail if that is true for everything.
Top level specs like version changes work, below spec.containers it doesn't get noticed any more apparently.

[2020-09-07 08:35] chatton commented on #178
Hi @fireba11 thanks for the report,

there were some issues with the arbitrary configuration that have been fixed and will make it into the next release.

I'll let you know once the next version of the operator is released and you can test this again.

[2020-09-07 09:41] chatton commented on #162
Hi @pixie79  sorry for the delay, I tried to repro using v0.2.0. The CR you provided is not rejected based on the user field, one thing that does happen though is that your current MongoDB user name is invalid, I get the following error message.

[code]

With this fixed, the operator then does go to the next phase of reconciliation.

Are you using a version older than 0.2.0?

There will be a new r

[2020-09-07 11:21] LouisPlisso commented on #171
@nazarkulyk Thanks for reporting

please note this is only a deprecation warning from k8s 1.16+, so you can safely disregard this warning

we are still supporting k8s 1.15, so we need to kep the v1beta1 version.
As soon as we drop k8s 1.15 support, we'll move to CRD v1 :)

[2020-09-07 11:21] #171 closed

[2020-09-07 12:52] Brice187 commented on #177
`accessModes: [ "ReadWriteOnce", "ReadWriteMany" ]` many you should only choose the desired one?

[2020-09-07 14:01] Brice187 commented on #174
[code]

Same problem here with 0.2.0

[2020-09-08 02:08] adux6991 commented on #174
v0.2.0 worked for me

[2020-09-08 02:10] adux6991 commented on #174
@Brice187 Try reinstalling all resources using v0.2.0?

[2020-09-08 04:20] Brice187 commented on #174
@adux6991 I never installed pre v0.2.0 ressources :(

[2020-09-08 06:51] Brice187 commented on #174
Switching back to a older agent version `quay.io/mongodb/mongodb-agent:10.15.1.6468-1` fixed the problem. Maybe an issue with
v10.19.0.6562-1

[2020-09-08 12:23] deveshk0 opened #180 "Headless service not using cluster dns"
After creating the cluster resource ,  a headless service will be created and that service is added to the `/var/lib/automation/config/automation-config`.

But it is using cluster.local as suffix not my cluster dns suffix like `kubet-cluster.internal`

eg - `test-mongodb-0.test-mongodb-svc.test-mongo.svc.cluster.local` is created instead of `test-mongodb-0.test-mongodb-svc.test-mongo.svc.kubet-clu

[2020-09-08 12:40] rodrigovalin commented on #180
Unfortunatelly, there's no way we can set this. The relevant line is this:

https://github.com/mongodb/mongodb-kubernetes-operator/blob/37c8442101bfe371fe7f7a5bb2b5525b5b9e69f0/pkg/controller/mongodb/replica_set_controller.go#L372

This is actually a good "first issue" if you would like to contribute to the project :)

[2020-09-08 13:06] deveshk0 commented on #180
There are two approaches, I can think of -
-  Quick and easy one, use an environment variable to take info from the user.
-  Somehow figure out cluster-dns in the operator using go-client(will have to check if there is any apis available for that) or using `/etc/resolv.conf` since that contains that info.

[2020-09-08 13:15] rodrigovalin commented on #180
@deveshk0

I'm not sure you can fetch the cluster domain from the `client-go` unfortunatelly. But what can be done is to add a `spec.clusterDomain` string attribute to the `MongoDB` resource that you can use to pass your custom cluster domain, that the operator can use as the default value of the `getDomain` function I shared in my previous comment.

[2020-09-08 13:46] deveshk0 commented on #180
@rodrigovalin can you have look into the #181  I did with env variable as it required minimal changes.

[2020-09-08 14:34] Brice187 opened #182 "the object has been modified; please apply your changes to the latest version and try again"
So i bootstrapped the cluster on three nodes running k3s. dmzkubectl is just an alias to access the right cluster in dev.

[code]
Everything so everything looks good, but the operator stucks in a reconciling loop...

[code]
so how can I follow this instruction: `please apply your changes to the latest version and try again	{"ReplicaSet": "testmongo/example-scram-mongodb"}` ?

# Update

[code]

[2020-09-08 17:40] #77 closed

[2020-09-09 02:22] blaggacao opened #183 "add kustomize file to be deployable as module"
Adding a kustomization file would enable the deployment to be consumed as "kustomization module".
 A very light weight one is by no means any stance for or against any specific deployment mode, it just enables this kind of consumption.

This consumption in a _kustomization.yaml_ is what I'm aiming for:
[code]

[2020-09-09 06:32] Brice187 commented on #182
So in minikube this setup ist working fine.

[code]
This seems to be an issue with k3s

[2020-09-09 12:30] chatton commented on #178
Hi @fireba11 could you try again with version 0.2.1 of the operator?  Closing this issue now, please re-open if the problem hasn't been resolved!

[2020-09-09 12:31] chatton commented on #177
Hi @fischerscode this issue should be resolved by the latest operation release 0.2.1, please test it again with the new version. Closing this issue but please re-open if the problem isn't resolved.

[2020-09-09 12:31] #177 closed

[2020-09-09 12:32] chatton commented on #174
Hi guys, the latest version of the operator 0.2.1 should now work okay with the agent version in operator.yaml, let me know if you have any more issues with this.

[2020-09-09 13:00] Brice187 commented on #182
0.2.1 fixes this issue \o/

[2020-09-10 03:00] adux6991 commented on #174
@chatton Thanks for your efforts! v0.2.1 works great.

[2020-09-10 08:21] fireba11 commented on #178
Hi, i tested the new version and have good and bad ..
the change got noticed and applied, but after recreating all 3 nodes operator kept throwing errors every couple seconds:

2020-09-10T08:18:53.255Z        INFO    mongodb/replica_set_controller.go:142   Reconciling MongoDB     {"ReplicaSet": "mongo-test/mongodb"}
2020-09-10T08:18:53.292Z        DEBUG   mongodb/replica_set_controller.go:165   Ens

[2020-09-10 08:34] fireba11 commented on #178
Hm, i just noticed i had the security block commented out, re-added it and it went quiet.
Not sure if that warrants more investigation, maybe except the validation of the crd since i can apparently apply things operator can't work with ;-)

[2020-09-10 08:36] chatton commented on #178
it sounds like there is an issue alright, it shouldn't be possible to apply something without the users array in the first place, I will investigate this, thanks for the update!

[2020-09-10 09:40] chatton commented on #178
@fireba11 it looks like the security object is considered optional but the users array is mandatory, meaning when you comment out the entire security object it mistakenly thinks everything is okay, I'll update the CRD shortly!

[2020-09-11 05:00] #174 closed

[2020-09-13 00:03] kylos101 opened #193 "Packaging the operator as a helm chart?"
Hi mongodb team,

I'm just curious, are there plans to package this operator as a helm chart?

If no, why? I assume now might be too early to package it (because it is in a state of flux). Or perhaps there's some other set of reasons?

In the meantime, I'll follow the instructions to clone and then kubectl create & get. Thank you so very much for putting this together, it is very much appreciated.

[2020-09-14 06:44] LouisPlisso commented on #193
Hi @kylos101,
yes we are planning to prepare a helm chart for this operator, but you're right that it's a bit too early as of now

Stay tuned for new features and a helm chart 😉
Louis

[2020-09-14 08:45] #180 closed

[2020-09-14 11:02] kylos101 commented on #193
Very cool, thanks Louis! Have a nice day. 😀

On Mon, Sep 14, 2020, 2:44 AM Louis <notifications@github.com> wrote:

[2020-09-14 14:22] #178 closed

[2020-09-14 23:31] WolfspiritM opened #197 "Support expansion of PVCs"
Hi,

Currently StatefulSets don't support the change of volumeClaimTemplates after creating.
This is (especially for a database) a bad thing cause if the storage increases it is hard to increase the volume size.

kubernetes/kubernetes#68737
kubernetes/enhancements#660
kubernetes/enhancements#661
kubernetes/enhancements#1848

It would be nice if the operator can detect changes to the volumeClaimTem

[2020-09-15 13:19] kmanev073 opened #198 "Enterprise vs Community Operator?"
I was wondering what are the differences between this operator and the enterprise one? I couldn't find any documentation on the topic. No pricing comparisons, no feature comparisons, no license comparisons... Is this community driver production ready? Clearly the enterprise should be...

[2020-09-15 15:32] uberkelium commented on #198
Yes, Enterprise documentation is extremely vague and confusing, probably by design. I assume that MongoDB Inc. is using this project to hook in more customers for the Enterprise operator.

While this does not fully answer the question, I also had the same question which was partially answered here: https://github.com/mongodb/mongodb-kubernetes-operator/issues/145#issuecomment-676489060

As for whe

[2020-09-15 15:38] kmanev073 commented on #198
Cool and thanks! If you rely on this operator for production, how do you do backups and etc?
Is there any good documentation because I spent around 3-4 hours and still couldn't run it.

[2020-09-15 15:47] antonlisovenko commented on #197
hi @WolfspiritM

Thanks for the question and the links provided.

The process of handling resizing is quite complicated, we have a description of how it can be done manually for the enterprise Operator here: https://docs.mongodb.com/kubernetes-operator/stable/tutorial/resize-pv-storage/ and it can be applied to the community operator as well. I think so far the support for the automatic resizing d

[2020-09-15 17:05] uberkelium commented on #198
Sure thing. What is your intended setup?

For backups, I use:
* Rook-Ceph RBD for bare metal self-hosted storage
  - https://github.com/rook/rook.git
* Kubernetes CSI external snapshotter which connects with Rook-Ceph so you can do volumeSnapshot and volumeSnapshotContent
  - https://github.com/kubernetes-csi/external-snapshotter.git
* A cron Node.js script which essentially creates a snapshot and

[2020-09-16 08:37] dalareo commented on #89
This solved my issue with EKS.

I got:

```Error: couldn't add user: not master :```

when trying to create users from shell inside init-container of my application.

[2020-09-16 09:11] theburi commented on #198
The community Operator is about to reach "Beta" state and I would expect it to evolve even more until it gets to a stable state.
If you use MongoDB Community, this project should let you run it in Kubernetes. It is still very much a WIP.

Enterprise Operator is targeting Enterprise customers and is much far along and has many more features. So if you have MongoDB Entperise Advanced license- Enterp

[2020-09-16 19:09] dick-twocows opened #199 "Unable to logon using admin:58LObjiMpxcjP1sMDW."
As per the title I cannot connect to the replicaset using the supplied password.

Am I using the correct user/password combination? Or am I missing something?

[code]

Deployed using;
[code]

[2020-09-16 19:36] dick-twocows commented on #199
Also...

[2020-09-16 19:42] dick-twocows commented on #199
OK, my bad!
Checking the operator logs and the user is 'my-user', DOH!
[code]

[2020-09-16 19:42] #199 closed

[2020-09-18 07:32] rashiga opened #200 "BI connector installing with Mongodb Replica cluster"
We have installed mongodb replicaset cluster on k8s cluster. We are using mysql client to connect to BI connector. The schema is not getting created when we use the mongosql command : "mongosqld --config <path-of-config-file>/mongosqld.conf". Mongosqld.conf is as below:
<----security:
  enabled: true
  defaultSource: "admin"

mongodb:
  net:
    uri: "pod-ip:27017"
    auth:
      username: "admin

[2020-09-19 13:06] Brice187 opened #202 "[Documentation] How to bind /data/db to host path"
It would be nice if you could add some examples how to use host mounts with this operator.
I want to build a script for mongodump, which my backup solution triggers and I want to backup the whole mongodb data dir

[2020-09-21 08:44] WolfspiritM opened #203 "mongodb-svc doesn't get removed"
Hi,

After removing the mongodb resource everything gets removed except for the "*-svc".

Is that on purpose or a bug?

[2020-09-21 09:35] bznein commented on #172
Hi @user12344321 The documentation has been heavily updated with the new features (related to SCRAM users) since you posted. Can you please try by following the new one and let us know if everything works fine?

Thanks

[2020-09-21 09:40] bznein commented on #203
Hi @WolfspiritM

thanks for the report, it looks indeed like this is a bug.
Tracking this internally as CLOUDP-73359

[2020-09-21 10:21] bznein commented on #173
Hello @nikosece and thanks for your patience.

We had some bugs around merging custom specs for volumes claims which we hopefully fixed with release 0.2.1, which is after your post. Can you please try again with the latest release and let me know if the issue persists?

Thanks

[2020-09-21 23:01] TannerBragg commented on #173
Hi @bznein

I just happened to give the operator a try today and observed the same behavior via the 0.2.0 operator version.  I updated the operator to 0.2.1 and it appears to still exhibit the following event when creating the first pod

`error while running "VolumeBinding" filter plugin for pod "example-openshift-mongodb-0": pod has unbound immediate PersistentVolumeClaims`

I did add the followi

[2020-09-24 08:28] #136 closed

[2020-09-25 07:34] DanielKnutsen opened #205 "Replicaset issue when scaling down"
I tried scaling a Replicaset yesterday. It works fine when scaling up. However, when scaling down the remaining mongod instances keeps trying to reconnect to the removed replicas.

Logs after downscale:

2020-09-25T07:22:12.265+0000 I  CONNPOOL [Replication] Connecting to mongodb-core-1.mongodb-core-svc.mongodb.svc.cluster.local:27017

2020-09-25T07:22:12.274+0000 I  REPL_HB  [replexec-0] Heartbea

[2020-09-25 07:36] chatton commented on #205
Hi @DanielKnutsen thanks for the report,

 this issue will be fixed with the next release, this will be happening next week.

[2020-09-25 07:40] DanielKnutsen commented on #205
Hello @chatton,

Great! Have to say that it is a really cool project you guys have going on here.

[2020-09-25 07:40] #205 closed

[2020-09-29 09:48] GNURub opened #207 "error: no kind "MongoDB" is registered for version "mongodb.com/v1""
Im installing a replicaset using example from reame,  and y get the next error:

`kubectl logs mongodb/example-scram-mongod`
error: no kind "MongoDB" is registered for version "mongodb.com/v1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28"

I have de crds
NAME                  CREATED AT
mongodb.mongodb.com   2020-09-29T09:40:19Z

Using minikube and google cloud. Same error...

[2020-09-29 09:51] chatton commented on #207
Hi @GNURub thanks for the report,

This issue can happen if the operator is deployed before the CRDs are created, could you double check the CRDs were created first?

In the meantime I will try to repro using minikube.

[2020-09-30 21:52] brechtvalcke opened #211 "/opt/scripts/agent-launcher.sh: line 114: splittedAgentFlags[*]: unbound variable"
Hi, sadly my installation broke again..

Mongodb kubernetes operator 1.7 worked fine for about a month and than out of nowhere it broke and if I check the logs of the ops manager that is broken I get this error in there:
`/opt/scripts/agent-launcher.sh: line 114: splittedAgentFlags[*]: unbound variable`

I really don't understand! I removed the entire namespace and enterprise operator. Reinstalled

[2020-10-01 07:59] chatton commented on #211
Hi @brechtvalcke thanks for the report, I think you've accidentally created this issue in the wrong repository (this is for the Community Operator)

I think you were looking for [The Enterprise Operator](https://github.com/mongodb/mongodb-enterprise-kubernetes)

Closing this issue, but please re-open it there

Could you also help me clarify a few things?

Did this issue occur during an upgrade fro

[2020-10-01 07:59] #211 closed

[2020-10-02 09:36] guraybaydur opened #212 "Unable to deploy Mongodb Replica Set on Openshift"
Hi,

I am trying to deploy MongoDB on Openshift without Enterprise Operator. I followed the README files but they are a bit confusing for me so I would like to explain what i did step by step and then which error I had.

Here are the steps I took:

1. This is the site that I am using: https://github.com/mongodb/mongodb-kubernetes-operator
2. Clicked Install or Upgrade under Documentation section.

[2020-10-04 12:53] deyanp commented on #198
@theburi , any idea what is the rough pricing for the Enterprise Operator? I am currently using MongoDB Atlas M30, and wondering if I set it all by myself and pay for the Enterprise Operator if I am going to come to the same or even higher costs ...

[2020-10-04 18:44] guraybaydur commented on #212
I have created a missing secret called "my-user-password" with the "oc create secret generic my-user-password --from-literal=password=deneme123 -n xxx" command

But it now gives this error
![Screen Shot 2020-10-04 at 21 42 05](https://user-images.githubusercontent.com/6615115/95024278-acd7a800-068a-11eb-8d09-c3b992f222a7.png)

Could you please help me? Thank you!

[2020-10-05 07:49] chatton commented on #212
Hi @guraybaydur thanks for the report,

could you show the output of `oc describe sts example-openshift-mongodb` I'm particularly interested in the StatefulSet volumes.

[2020-10-05 08:04] guraybaydur commented on #212
Hi @chatton here is the output: [output.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/5326025/output.txt)

[2020-10-05 08:05] guraybaydur commented on #212
Also the screenshot: ![Screen Shot 2020-10-05 at 11 04 51](https://user-images.githubusercontent.com/6615115/95054485-9b2de900-06fa-11eb-9e10-3eb0fd6e9348.png)

[2020-10-05 08:08] chatton commented on #212
Thanks @guraybaydur,

Actually I think describe does not give enough information here, could you please also provide the output of `kubectl get sts example-openshift-mongodb -o yaml`

[2020-10-05 09:13] guraybaydur commented on #212
Hi again @chatton ,

Here is the: [output2.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/5326389/output2.txt)

And the screenshots:
![Screen Shot 2020-10-05 at 12 12 39](https://user-images.githubusercontent.com/6615115/95061337-2364bc00-0704-11eb-9c64-8e7bc13f3962.png)
![Screen Shot 2020-10-05 at 12 12 51](https://user-images.githubusercontent.com/6615115/95061331-21026200-070

[2020-10-05 14:28] guraybaydur commented on #212
Hi again @chatton , I thought maybe my secret is not strong enough therefore I used "oc create secret generic my-user-password --from-literal=password='S!B\*d$zDsb=' -n mongo" but still not works :( I am still seeing this error
![Screen Shot 2020-10-04 at 21 42 05](https://user-images.githubusercontent.com/6615115/95092349-33929080-0730-11eb-8ddd-46ba34eedff7.png)

[2020-10-05 14:48] chatton commented on #212
Hi @guraybaydur it looks like this has something to do with the managed security context of OpenShift. The operator configures the **default** permissions 0600/384 of the secret volume that gets mounted (which appear to be configured correctly in your StatefulSet), which is what are expected by mongodb, but it looks like when running in OpenShift, the actual permissions may be modified elsewhere.

[2020-10-05 14:59] guraybaydur commented on #212
Hi @chatton , thanks for the reply.

Here is the permissions of keyfile(the first one is a symbolic link to other file below)![Screen Shot 2020-10-05 at 17 55 58](https://user-images.githubusercontent.com/6615115/95095728-152e9400-0734-11eb-8f5d-38ad622b5962.png)

And the output:

1000740000@example-openshift-mongodb-0:/$ ls -l /var/lib/mongodb-mms-automation/authentication/keyfile
lrwxrwxrwx. 1 r

[2020-10-06 07:28] guraybaydur commented on #212
Hi @chatton, good morning,

I searched for the issue it looks like keyfile should only have user 400 privileges but as you see above it has more privileges. So how should I proceed in this case?

I found this link for the error: https://stackoverflow.com/questions/14789622/mongodb-keyfile-too-open-permissions

and also in the official doc it says group and world permissions should not be applied:

[2020-10-06 07:59] chatton commented on #212
Hi @guraybaydur,

I haven't had time to try and repro this in OpenShift yet. But this looks like an issue with how OpenShift is modifying the permissions. We configure 600 permissions for this volume with the operator (The StatefulSet output shows this value is correctly being set), but as you can see they end up being more permissive 668 using OpenShift.

It looks like this is the exact issue we'

[2020-10-06 15:08] chatton commented on #212
Tracking this internally as [CLOUDP-74355](https://jira.mongodb.org/browse/CLOUDP-74355)

[2020-10-07 07:14] guraybaydur commented on #212
Hi @chatton , good morning!

As you linked another issue, I looked at it and ran this command below. After that I recreated the pods. It worked, now my 3 replica sets are up and running, thank you for your help:

oc adm policy add-scc-to-user anyuid system:serviceaccount:<namespace>:mongodb-kubernetes-operator

I think this may create a security issue as discussed in the linked issue, but anyway i

[2020-10-07 08:06] manuel-lang commented on #207
I think the [Install Guide](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md) isn't really clear about this. As @chatton mentioned, we will have to deploy the CRDs first with
```kubectl create -f deploy/crds/mongodb.com_mongodb_crd.yaml```.

[2020-10-07 08:41] chatton commented on #212
Hi @guraybaydur

I'm glad you were able to progress a bit further! Regarding external connectivity, please take a look at this reply to this question in [a different issue](https://github.com/mongodb/mongodb-kubernetes-operator/issues/127#issuecomment-676486278)

[2020-10-07 09:29] fireba11 opened #215 "cr annotations don't seem to update"
I tried to update my mongodb to the latest 4.2.10 but nothing happened.
I noticed the CR does have an annotation "mongodb.com/v1.lastVersion: 4.2.9". After updating that to 4.2.10 the operatore ran the upgrade.
When and how is that annotation supposed to get updated?

[2020-10-07 09:37] chatton commented on #215
Hi @fireba11

That annotation is used internally by the operator to track progress of in-progress upgrades across multiple reconciliations, but it sounds like it's not working as intended.

Just to clarify, you updated the spec.version from 4.2.9 -> 4.2.10, the operator didn't apply any changes to the StatefulSet until you manually updated the lastVersion annotation?

[2020-10-07 19:43] guraybaydur commented on #127
Hi everyone, I have a question related to this issue.

I deployed mongodb community operator on Openshift. I can connect to my resources from outside via NodePort and LoadBalancer option but I can not connect it via routes (either secure or insecure).

when i try to connect it gives this error: "Error: network error while attempting to run command 'isMaster' on host '"

Is there a way to use route

[2020-10-08 07:15] guraybaydur commented on #127
Hi @LouisPlisso , hope you are good.

I deployed mongodb community operator on Openshift. I can connect to my resources from outside via NodePort and LoadBalancer. But the problem is sometimes these service resources direct me to secondary mongodb resource instead of primary and I can not run any query on secondary resource because it gives the error below:

![Screen Shot 2020-10-08 at 10 13 45](h

[2020-10-08 08:19] fireba11 commented on #215
Correct.

[2020-10-08 11:29] guraybaydur commented on #127
Hi again @chatton , I would like to ask you my last question.

I can access my mongodb replica sets from outside cluster via NodePort or LoadBalancer but they sometimes direct connection to primary and sometimes to secondary. I would like to ask if there is a way to know which pod is exactly primary (I deleted the pods and they switched roles in some occassions) so that I won't face any NotMasterN

[2020-10-09 10:36] rgherta opened #217 "scram-sha-1 User"
How can we create users with  SCRAM-SHA-1 authentication mechanism?

[2020-10-09 17:56] tareksalem opened #218 "no replica set is created with kind: MongoDB"
I am running a Kubernetes cluster on google cloud and followed the instructions to create a mongodb replica set, I have installed the crds and the operator and the operator pod is running on my cluster, the last thing to do is creating the replica set, here is my yaml file to create it:

[code]

I am applying this definition using

[code]

the kubernetes tells me the definition is create but when

[2020-10-12 09:54] bznein commented on #218
Hi @tareksalem and thanks for your report.

I can reproduce your issue with your provided yaml file, and by looking at the operator logs I see:

`error creating automation config config map: Secret "i-storage-mongodb-Admin-scram-credentials" is invalid: metadata.name: Invalid value: "i-storage-mongodb-Admin-scram-credentials": a DNS-1123 subdomain must consist of lower case alphanumeric characters

[2020-10-13 07:32] yjwong commented on #127
I was able to get this operator to work with some modifications, using the (undocumented) [split horizon](https://jira.mongodb.org/browse/SERVER-40156) functionality available in MongoDB. This uses SNI, thus does require TLS to be enabled; if you have already have a PKI of sorts it's a lot easier.

In summary, besides the default `Service` that the operator creates, I created 3 more `Service` obje

[2020-10-14 11:41] luisamador commented on #172
I've also come across an installation issue while following the installation steps.

![image](https://user-images.githubusercontent.com/18208396/95983958-c0210b00-0e22-11eb-9ee7-fed18511f3a4.png)

the file "deploy/crds/mongodb.com_mongodb_scram_crd.yaml" doesn't exist anymore. I ran this command instead in order to create the CRD:

```kubectl create -f deploy/crds/mongodb.com_mongodb_crd.yaml```

[2020-10-16 10:55] Thoro opened #221 "Unable to connect to cluster"
Hi

have just tried to create my first cluster with 2 nodes in total, when connecting to their individual IPs I can see who is master and who is not.

When trying to connect via

[code]
I receive an output like:

[code]

The same happens with Robo 3T, I see that connections go to both nodes, what might be the issue here?

[2020-10-16 10:58] antonlisovenko commented on #221
hi @Thoro thanks for the report
Do you have the same problem if you have a replica set with 3 members?

[2020-10-16 11:14] Thoro commented on #221
I have also tried it with 3 members, but scaled it down again, I just discovered the --verbose option on the mongoshell, and I believe I figured it out.

My names for mongodb are not globally resolve able, so it tries to connect to the cluster internal names.

I have updated my local hosts file with the names and the "public" (private but routed) ips and now it seems to connect fully.

[2020-10-16 11:17] #221 closed

[2020-10-16 17:15] bewest opened #222 "alternate mongo versions, 3.6, <4.0"
Is it possible to run 3.6 in any configuration?

[code]

Working theory is that it will be easier to migrate versions once we are inside kubernetes and preferably not migrating both things at once.

[2020-10-18 08:19] RahulMR42 opened #223 "Install document Needed a correction ?"
Existing document reference as below  :
![image](https://user-images.githubusercontent.com/23480999/96362007-e22ecc00-1147-11eb-819c-6e099088aff8.png)

Which looks to be not valid

![image](https://user-images.githubusercontent.com/23480999/96362102-78fb8880-1148-11eb-8279-348c7fa005b9.png)

![image](https://user-images.githubusercontent.com/23480999/96362125-b3652580-1148-11eb-9916-668366cc5d73.p

[2020-10-20 08:01] krishvoor opened #226 "MongoDB Community Operator NA for ppc64le arch"
Hello Team,

Taking a quick glimpse/code read through  [mongodb-kubernetes-operator] I realized inorder to deploy MongoDB Community Operator on IBM POWER systems additional efforts would be needed.

Per my observation(s) I saw the following requires enablement on IBM POWER architecture -

**Docker Images Needed for POWER Architecture -**
mongodb-kubernetes-operator- https://github.com/mongodb/mong

[2020-10-20 12:01] #223 closed

[2020-10-20 18:13] kylos101 commented on #193
Closing because my question was answered. Thanks again!

[2020-10-20 20:44] guraybaydur commented on #127
Hi @yjwong ,

I am trying your fork for accessing externally. But I am having an error in stateful set where image name is set incorrectly.

![Screen Shot 2020-10-20 at 23 36 22](https://user-images.githubusercontent.com/6615115/96641584-9fc6e400-132d-11eb-8601-11a8464b88be.png)

![Screen Shot 2020-10-20 at 23 42 13](https://user-images.githubusercontent.com/6615115/96641784-e9afca00-132d-11eb-946

[2020-10-20 21:40] TannerBragg opened #229 "OCP 4.5 Failing to Create Replica Set"
Looking for a little guidance here.  I deploy in a restricted network that requires the use of a registry proxy.  I don't see any problems with it working as the Mongo Operator is up and running; however, after creating a MongoDB object from the examples, no replica sets are created.

Operator Deployment:
[code]

MongoDB Object Definition:
[code]

See error in output below:
[code]

[2020-10-21 02:12] lamalex opened #230 "Other pods cannot connect to replica set"
I have created a mongodb replica set with the supplied yaml,

[code]
but when I try to connect to this cluster from another pod, I get a SCRAM authentication error.
`Error { kind: AuthenticationError { message: "SCRAM failure: Authentication failed." }, labels: [] }`

I am connecting at  `mongodb://lrds:58LObjiMpxcjP1sMDW@mongodb-0.mongodb-svc.default.svc.cluster.local/liftright-dev?replicaSet=mon

[2020-10-21 02:17] lamalex commented on #230
Relevant:
[code]

[2020-10-21 02:42] lamalex commented on #230
The rust driver was using SCRAM-SHA-1, but my created user required SCRAM-SHA-256. Setting authenticationMechanism=SCRAM-SHA-256 on the connection string fixed it!

[2020-10-21 02:42] #230 closed

[2020-10-21 07:28] tuapuikia opened #231 "Shard cluster support"
Is it possible to deploy mongodb shared cluster using community operator?

[2020-10-21 07:34] bznein commented on #231
Hi @tuapuikia,

at the moment the Community Operator doesn't support sharded cluster.

[2020-10-21 07:36] bznein commented on #229
Hi @TannerBragg,

to deploy on OpenShift you'll have to specify the `MANAGED_SECURITY_CONTEXT` variable for the operator as well:

[2020-10-21 09:08] irajdeep commented on #217
Hi @rgherta
does this documentation: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/users.md help?

[2020-10-21 12:06] theburi commented on #226
MongoDB Agent and db tools have Power binaries. just a matter of getting the right URL in a download center.
Let us look at the readiness probe if we could provide that in this repo as well.

[2020-10-21 12:20] krishvoor commented on #226
@theburi - Thanks for your comments, we would also need ppc64le [server] arch. specific docker images in CI for continous releases, can you perhaps guide me on how I can propose IBM Power Systems in CI Environment ?

[2020-10-21 13:59] TannerBragg commented on #229
@bznein The following is what was deployed.  My apologies for accidentally deleting that environment variable when I cleaned up the yaml.

When I updated the image to 0.2.2, I did not update the CRDs.  Do I need to update the CRDs with a less than minor version change?

When I was running 0.2.1, it would actually attempt to create the resources.  I will rollback and give that another shot and repo

[2020-10-22 07:46] caiconkhicon commented on #193
Sorry, even though this issue was closed, may I ask when will it be implemented? Next month, or next year, etc.

[2020-10-22 09:03] caiconkhicon opened #233 "MongoDB Pod cannot run properly if it does not run with UID:GID 0:0"
I follow https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md, and in this file, it deploys a MongoDB resource by applying `deploy/crds/mongodb.com_v1_mongodb_cr.yaml`, but it fails because the Secret does not exist. It looks like, the file to be used here is https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mongodb

[2020-10-22 09:14] irajdeep commented on #233
Hi @caiconkhicon

The instruction was changed since it refers to installing the `mongodb` crd which is contained in the file `deploy/crds/mongodb.com_mongodb_crd.yaml`.

The previously mentioned file `deploy/crds/mongodb.com_mongodb_scram_crd.yaml` doesn't exist in the repo.
For deploying mongodb with SCRAM, probably you should look here: https://github.com/mongodb/mongodb-kubernetes-operator/blob

[2020-10-22 09:21] caiconkhicon commented on #233
Hi @irajdeep , thanks for your reply. Ok I was confused.
So now, actually my question is, I follow https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md, and in this file, it deploy a MongoDB resource by applying `deploy/crds/mongodb.com_v1_mongodb_cr.yaml`, but it fails because the Secret does not exist.

PS: I will also update the original post to reflex my

[2020-10-22 09:31] opsforce commented on #222
maybe not support 3.*

[2020-10-22 09:52] caiconkhicon commented on #233
@irajdeep : Yes I did that. The steps in the doc are pretty the same as applying https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mongodb_scram_cr.yaml (a MongoDB CR + a Secret). However, now I face another issue. The container `mongod` refuses starting with the error:
[code]

After checking inside the container, I found that somehow the keyfile is chan

[2020-10-22 10:03] bznein commented on #233
Hi @caiconkhicon, about the `permissions too open` issue, I think that's the same that was reported here: https://github.com/mongodb/mongodb-kubernetes-operator/issues/212#issuecomment-704100924

[2020-10-22 12:45] caiconkhicon commented on #233
Hi @bznein , thanks for a hint. However, it is not my case. I don't use Openshift.
In my case, it is because by default, it is because of the default file permission:
[code]
This setting is set by the Operator. I wonder why no one reports this issue? is it just me?

[2020-10-22 13:09] bznein commented on #233
Hi @caiconkhicon `defaultMode` shows the decimal value of the permissions, and `384` maps to `600` octal.

It seems that something changes the permissions of the volumes from the one set by default from the operator.
This seems really close to what happens on openshift, can you provide a bit more context on where you are running the operator?

Can you also provide the output of `kubectl get sts ex

[2020-10-22 13:28] caiconkhicon commented on #233
@bznein : Thanks for enlightening me 👍
I run on a cluster created by Rancher (RKE  cluster).
And this is the actual permissions of the files:
[code]

This is the spec of the StafefulSet:
[code]

[2020-10-22 13:35] caiconkhicon commented on #233
@bznein : an assumption/question from me: Why the `defaultMode` is still 384, while I am showing the spec in YAML?

[2020-10-22 13:35] bznein commented on #233
This is interesting. If you look at the stateful set, it has permission `384`, which is `600` octal, which would be `rw-------` (https://chmodcommand.com/chmod-0600/), while the actual file has permission `rw-r-----` which corresponds to `640`.

This is the exact same issue that on openshift is reported; I can't find any similar issue on rancher's github but might be worth trying to create a minim

[2020-10-22 13:38] caiconkhicon commented on #233
Another small test from me: I create another Pod and mount the same Secret. In this case, the permission is right as I expect. Thus, I think it is sth to do with MongoDB (e.g. a process change the permission of the file (which does not seem to be, since Secret is ReadOnly), MongoDB image has a special setting)

[2020-10-22 13:51] bznein commented on #233
Hi @caiconkhicon, this is certainly puzzling.

So just to confirm, you are able to mount a secret to a pod with permissions `384` (`600`) and it gets correctly mounted with those?

The operator mounts the secret with the permission shows in the statefulset specs, so if that is not what ends up with used we will need to figure out what's happening there

[2020-10-22 13:56] caiconkhicon commented on #233
Yes, that's what I observed. I will tell you if I have more info/test

[2020-10-22 14:28] caiconkhicon commented on #233
It is very puzzling.
I did other tests, using the Pod manifest. **Please note that I replace the mongodb image with nginx image !!!** So it is sth wrong with the manifest, not the image (?)

**1. Keep the manifest. Set the permission for each file:**
[code]
Then `kubectl describe` output is:
[code]
The actual file permissions are:
[code]

**2.  Keep the manifest. Set the default permission**
[code

[2020-10-22 14:37] caiconkhicon commented on #233
It seems that 416 (or rw-r-----) is the low-limit, because if I set it to 420, things work as expected

[2020-10-22 15:06] caiconkhicon commented on #233
@bznein : I found the culprit:

[code]
This is from the Pod manifest. I don't find it in the StatefulSet manifest.

[2020-10-22 15:14] bznein commented on #233
@caiconkhicon thanks! This was a very interesting investigation!

This might be something that happens only when deploying on Rancher.
I'll try to reproduce it as soon as possible and will file an internal ticket for tracking.

In the meantime, you are more than welcome to submit a PR to our repo if you think you can fix it yourself!

[2020-10-22 16:12] caiconkhicon commented on #233
@bznein : I found the issue. I explain it here, then you can think of how to fix it from the point of view of MongoDB operator.

So, in our cluster, we have PodSecurityPolicy (PSP) named `restricted-psp` (it is set up by Rancher, but the same setup can happen in many cases, since it is a security best practice). This PSP has this rule:
[code]

Because of that, the mounted Volumes Pod is forced to

[2020-10-22 16:25] bznein commented on #233
@caiconkhicon thank you this is all very clear! This seems very related to #212 and we might find a single way to fix both issues!

We will track this internally as CLOUDP-75730

[2020-10-23 06:49] caiconkhicon commented on #233
@bznein : Thanks. I will update the issue title to reflex our discussion here.

However, my initial question of this issue is still there: Applying the file `deploy/crds/mongodb.com_v1_mongodb_cr.yaml` is not enough, since it only has the MongoDB resource. The correct one should be `mongodb.com_v1_mongodb_scram_cr.yaml `, since it has the MongoDB resource + Secret. Can you also take care of it, or

[2020-10-23 22:10] AlperEnver opened #235 "Pod stuck in pending state"
Hi, I am trying to get mongo operator running for the first time using Minikube by following the docs in git.

I have successfully deployed the operator but when I try to deploy a replica-set the pod just hangs in a pending state.

The operator just keeps trying to reconcile and it never does. There is an error in the log saying that the stateful set is not there. Even if I define that in the cr I

[2020-10-27 09:00] bznein commented on #235
Hi @AlperEnver,
can you please provide the output of `kubectl describe pods example-mongodb-0`?

thanks

[2020-10-27 10:01] bartlomiejwulff opened #236 "Replica-Sets are restarting every ~15 minutes"
Hi, I'm testing this operator in two different K8s environments and in both I see the same behaviour of the stateful sets - they are restarting every ~15 minutes due to readinessProbe check failure. But the logs looks pretty strange:

Operator log:

2020-10-27T09:08:23.124Z        INFO    mongodb/mongodb_status_options.go:89    StatefulSet mongo/mongodb-replicaset is not yet ready, retrying in 10

[2020-10-27 11:36] radtriste opened #237 "Shouldn't the plural in crd file be finishing with an `s` ?"
https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_mongodb_crd.yaml#L19

[code]

We would expect

[code]

[2020-10-27 11:36] radtriste commented on #237
I can PR quickly if needed

[2020-10-27 15:44] AlperEnver commented on #235
HI!

I have attached the output for the describe pod command.

Thanks

[pod.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/5446391/pod.txt)

[2020-10-28 16:21] exo137 commented on #236
I think I have found the part-rootcause.

I am using fluxcd for the automatic deployment of my manifests, also for this operator incl. roles and rolebinding etc.

Since fluxcd was "applying" the same CRD configuration every several minutes, the mognodb operator has tried to apply it to the statefulset. Since I have changed the upgradeStrategy to onDelete on the statefulset, the restarts are gone.

[2020-10-29 15:01] srknc opened #238 "Default configuration doesn't expose 27017 by default"
Hi,
Following the documentation here, I've created CRD (https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_mongodb_crd.yaml) and operator (https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/operator.yaml and other files)
Finally defined `MongoDB` resources below(1).
Kubernetes cluster creates operator `mongodb-kubernetes-operator-5fbdc

[2020-10-29 17:12] TannerBragg commented on #229
@bznein bump.  Did you see my last?

[2020-11-02 09:28] theburi commented on #226
After looking at a code we realized that our probes need to be included in this repository. We will publish them in the next release. That will allow us to rebuild them targeting ppc64le architecture.

Here is a link to mongodb Agent for Power https://cloud.mongodb.com/download/agent/automation/mongodb-mms-automation-agent-manager-10.19.0.6566-1.ppc64e1.ubuntu1604.deb
and mongodb binaries are avai

[2020-11-02 09:52] Brice187 commented on #182
0.2.2 introduces this issue again:
[code]
switching back to 0.2.1

[2020-11-02 11:00] chatton commented on #238
Hi @srknc It looks like your MongoDB resource definition was taking from the MongoDB Enterprise Operator samples, as a result many of those fields are not recognized by the Community Operator (everything under podSpec, clusterName, logLevel, persistent)

Can you try using one of the samples from this repo and check to see if you have the same issue? If so, can you provide the operator logs and als

[2020-11-02 11:58] chatton commented on #236
Hi @bartlomiejwulff

There is a check in the codebase to ensure that if the same StatefulSet configuration is applied, the configuration won't go through, however  from the logs it is showing "areEqual=false" which indicates that the existing StatefulSet is different in some way from the one being applied.

Do you observe the same behaviour if trying to re-apply the resource without `fluxcd`? If `

[2020-11-04 10:54] jxadro opened #239 "Release 0.2.2 not able to make in work in OpenShift 4.4 cluster."
Hi.

I have deployed the operator 0.2.2 release on OCP 4.4 but the operator pods fails, I would say it is not able to create the CRD.

oc logs mongodb-kubernetes-operator-9cbfdffbd-jfvcz
2020-11-04T10:52:37.557Z        INFO    manager/main.go:49      Watching namespace: mongo-op-comm
2020-11-04T10:52:40.022Z        INFO    manager/main.go:66      Registering Components.
2020-11-04T10:52:40.023Z

[2020-11-05 17:11] #127 closed

[2020-11-06 12:48] FedeBev opened #241 "Specify pod resources"

[2020-11-06 12:50] FedeBev opened #242 "Specify pods resources"
Hi there,

is there a way to customize pods resources such as cpu and memory request/limit?

Thanks

[2020-11-06 15:50] FedeBev commented on #242
Having a look at the implementation I saw the possibility to specify the spec of the statefulset therefore I've been able to specify the pod resources through the following manifest
[code]

The following manifest is the result of the `kubectl  get statefulset -o yaml` command and it's what I was expecting
<details><summary>Click to expand</summary>
<p>

[code]
</p>
</details>

Is that the right wa

[2020-11-06 15:50] #241 closed

[2020-11-06 15:51] FedeBev commented on #241
Sorry, duplicate of #242

[2020-11-06 15:53] bznein commented on #242
Hi @FedeBev,

yes that's the correct way of specifying pod resources!

[2020-11-06 16:09] FedeBev commented on #242
Thanks @bznein!

Is this specified somewhere in the doc? If it isn't, in my opinion shoul be added, is an important infomation.
About important information, what aboud the volume size?

[2020-11-08 15:05] RahulMR42 opened #244 "Issues - Failure while following the updated procedure (V1 procedure)"
Followed the steps
- >Installed the CRD # Successful
->Installed the "mongodb" kind # Failed

**KubeSpce->Dev#kubectl get crds**
NAME                  CREATED AT
mongodb.mongodb.com   2020-11-08T14:52:22Z

**KubeSpce->Dev#kubectl get mongodb**
NAME              PHASE    VERSION
example-mongodb   Failed

**KubeSpce->Dev#kubectl describe mongodb/example-mongodb**
Name:         example-mongodb
Namesp

[2020-11-09 17:17] bznein commented on #183
This has been closed by #240

[2020-11-09 17:17] #183 closed

[2020-11-09 19:16] maxrome opened #245 "Unable to create/update replicaset in openshift 3.11"
The deploy of the yaml example of releases 0.2.2 and 0.3.0 does not work in openshift 3.11

I changed only the mongodb resource name and the `passwordSecretRef`

Below the controller logs:
[code]

[2020-11-10 08:51] jxadro commented on #239
I think I could make it work creating by hand the crd with the yaml provided, but I think this is not the documented approach and I do not know if this could have any future issue.

oc create -f deploy/crds/mongodb.com_mongodb_crd.yaml

[2020-11-10 10:16] jxadro commented on #239
I see the steps in the documentation reflect these steps now... I think it was not like that one week ago.
https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md

I close the issue

[2020-11-10 10:16] #239 closed

[2020-11-10 11:49] tengzhuofei opened #246 "generate crds error"
![image](https://user-images.githubusercontent.com/49179198/98670544-cb1d7b80-238d-11eb-8282-ffd9aa0f8605.png)

[2020-11-10 11:52] tengzhuofei commented on #246
+kubebuilder:validation:Pattern="^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$"  error

[2020-11-13 12:50] rgherta commented on #217
Hello @irajdeep

Current version allows only SHA-256 that is better secured, it makes sense, but still the same mongo version supports both.

We must add this legacy SHA-1 hash method to the cluster-configuration.json file that is mounted to the mongodb-agent
It looks like we must add this item "SCRAM-SHA-1" in the 2 arrays created by scram_enabler.go but I do not know if there is some other logic

[2020-11-13 16:16] srknc commented on #238
Hi @chatton , indeed problem should be because of parameters difference, I will reinstall again from enterprise repo, most probably the problem will go away.

[2020-11-14 12:13] bartlomiejwulff commented on #236
Hi @chatton

thanks for the reply and apologize my late answer.

Yes, I have tried to roll out the operator incl. CRD and all other components manually, without Fluxcd. Unfortunately I still se the same behavior :( You are right, areEqual is always false, that's confusing. My current workaround is to delete the operator deployment and to change the updateStrategy of the statefulset to "OnDelete" r

[2020-11-15 14:25] net-brain opened #248 "Error "no replset config has been received""
I created a demo replicaset from the manifest (original from the repo). Then I executed a shell on one of the pods and got an error, that the replicaset has not been created. What I'm doing wrong?
`root@example-scram-mongodb-0:/# mongo
MongoDB shell version v4.2.6
connecting to: mongodb://127.0.0.1:27017/?compressors=disabled&gssapiServiceName=mongodb
Implicit session: session { "id" : UUID("d4c72

[2020-11-16 12:58] FridMehdi opened #249 "Version Kuberenets Supported"
Could we have the version of kuberntes supported to run the Operator Kubentes and deploy replica set
the cpacity planning to use this projet on production
thanks in advance

[2020-11-16 16:18] net-brain commented on #248
Sorry, it's a problem from my infrastructure....

[2020-11-16 16:18] #248 closed

[2020-11-17 13:46] haroonb opened #250 "mongodump failes to authenticate"
Hello I'm trying to validate the operator for our production environment. I'm currently trying backup and restore scenarios, but I can't seem to get it to mongodump. It seems, that my user can't access the db, but if I go into the db using mongo und switch the db it works fine.

Thanks for any assistance you can provide.

[code]
[code]

[2020-11-18 15:05] rrey commented on #250
Same problem on my side by just testing connection from another pod.
[code]

This [documentation ](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/users.md) says that the user's password should be in "plain text". It seems to be what @haroonb did in his yaml, but secret are supposed to be base64 encoded. (Even if I tried both method and none seems working).

[2020-11-18 17:28] rrey commented on #250
Found my problem.
First, secret really have to be plain text in the manifest. Seem odd to me to do something like that :/
Second, my connection issue came from the client side. I was in ubuntu 20 container image that contains mongo v3 which seems to be unable to do SCRAM-SHA-256.

I added an explicit reference to SHA-256 in my connection string as specified [here](https://docs.mongodb.com/drivers/

[2020-11-19 10:56] DannyMor opened #251 "Missing property in the users doc"
in the `users.md`, the `spec.users.scramCredentialsSecretName` appears in the table explaining each property but missing in the yaml file example

[2020-11-19 10:59] bznein commented on #251
Hi @DannyMor,

Thanks for spotting it :) If you want you open a quick PR to fix it, otherwise we'll take care of that soon!

[2020-11-20 00:52] ciwarren commented on #244
Same issue.

[2020-11-20 01:04] Parsonswy opened #252 "Error creating automation config secret: could not ensure scram credentials"
Hello.
I am attempting to deploy a MongoDB instance using the community Kubernetes operator and have encountered an issue with the recent SCRAM changes.

I'm seeing this error in the operator logs and pasted my MongoDB configuration below.
[code]
[code]
The [documentation says](https://github.com/mongodb/mongodb-kubernetes-operator/blob/e95497e6aec65617c5438d369bb22df9230ea1ff/docs/users.md) the `

[2020-11-20 01:04] ciwarren commented on #252
Same Issue 👍

[2020-11-20 01:41] NetworkGizmo commented on #252
I DEFINITELY have the same issue...

[2020-11-20 09:04] bznein commented on #252
Hi @Parsonswy , @ciwarren  and @NetworkGizmo,

Thanks for your report, let me clarify the procedure (we will work on a better documentation, as it seems that it is not clear enough).

There are two different `secrets` involved in the procedure.
One is generated by the user: https://github.com/mongodb/mongodb-kubernetes-operator/blob/e95497e6aec65617c5438d369bb22df9230ea1ff/docs/users.md#create-a-u

[2020-11-20 09:06] bznein commented on #244
Hi @RahulMR42, this looks like the same issue as #252, can you please take a look there and let me know if it helps?

[2020-11-20 09:11] bznein commented on #245
Hi @maxrome, as a first check, can you verify that you used the [Open-shift specific instructions](https://github.com/mongodb/mongodb-kubernetes-operator/blob/116619743d667e99547f0d2ac52169225a3cbac2/docs/deploy-configure.md#deploy-replica-sets-on-openshift)

[2020-11-20 09:46] bznein commented on #235
Hi @AlperEnver, apologies for the delay. This looks like an issue some user experience with `minikube`. I was able to reproduce it, but after a while the pods get succesfully created in my case.

Does it ever get to running for you?

This looks like a fairly common issue with Persistent Volumes in `minikube`: https://github.com/kubernetes/minikube/issues/7828#issuecomment-620663113

[2020-11-20 10:42] Parsonswy commented on #252
Thank you for the quick response, @bznein.
Sorry, to waste you're time. I was creating the secret, but in one location I had named it `ncsa-insights-mongodb-admin` and the other `ncsa-insights-mongo-admin`.

Apart from #251, the only thing I found confusing in the docs was the [`scramCredentialsSecretName` explanation](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/users.m

[2020-11-20 10:42] #252 closed

[2020-11-20 16:24] AlperEnver commented on #235
Hi. Thanks for the response. If I delete my minikube instance and create a fresh instance I can run the operator and create my replica set no problem. However if I already have persistent volumes created for other stateful sets like Kafka and digraph it does not work. I have left it running for 4 to  5 minutes and never seen the PV bind. So my workaround for now is to always install the mongo oper

[2020-11-20 16:29] bznein commented on #235
Hi @AlperEnver, for development purpose we recommend `kind`, see [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/116619743d667e99547f0d2ac52169225a3cbac2/docs/install-upgrade.md#install-the-operator)

[2020-11-20 16:30] AlperEnver commented on #235
OK. I will give that a try. Thanks.

[2020-11-24 10:53] LaumiH opened #253 "[Feature Request] Multicluster Capability"
I have set up a MongoDB ReplicaSet spanning two clusters with the help of [Submariner](https://submariner.io/) and StatefulSets.

Submariner exposes local Services (also Headless Services) onto the remote cluster, meaning a cloned Service is created in the remote cluster using the cluster's CIDR. Like this, a pod in another (remote) cluster can resolve the local pods by querying Submariner's stub

[2020-11-24 12:09] LaumiH opened #254 "[Documentation] Make Architecture doc links target code, not K8s documentation"
I noticed that the links in the [Architecture documentation](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/architecture.md) almost all link to the K8s resources.

While this is helpful for someone new to K8s, it does not really help to understand the MongoDB Community Operator. At least I expected this document to explain the Operator, and not the K8s resources.

I would

[2020-11-24 13:30] aeisma opened #255 "clusterConfig failed to validate"
A trial deploy of the operator on OpenShift 4.4 in combination with deploy/crds/mongodb.com_v1_mongodb_openshift_cr.yaml configured for mongo 3.6 appeared to be successful, with all pods in running status, but mongod is not operational. I looked in the example-openshift-mongodb-0 pod's log, and mongodb-agent is repeatedly logging the following error:

[code]

A cat of /var/lib/automation/config/cl

[2020-11-25 09:36] PacoDu commented on #255
I've the exact same issue using the repo example (I've just set members from 3 to 1):
[code]

[2020-11-25 09:42] PacoDu commented on #255
it seems related to #136 but in my case the mongodb instance was initially deployed with 1 members (no scale down)

[2020-11-25 19:06] aeisma opened #256 "Failed global initialization: BadValue: Authorization with 3.x"
Using authentication mode ["SCRAM"] with version: "3.6.20" (also tried 3.6.19), as well as when using version: "4.2.7" in combination with featureCompatibilityVersion: "3.6" result in a mongodb crash with:

``
[main] Failed global initialization: BadValue: Authorization is enabled but no authentication mechanisms are present.
``

When using version: "4.2.7" without featureCompatibilityVersion, mon

[2020-11-25 19:12] aeisma commented on #255
Thanks Paco, good find! Version 4.2.7 also works.
(after adding `oc adm policy add-scc-to-user anyuid system:serviceaccount:mongodb:mongodb-kubernetes-operator` on OpenShift)
Interestingly, 3.6.20 and 3.6.19 also did not result in the `"builds": null`, but instead result in a `Failed global initialization: BadValue: Authorization is enabled but no authentication mechanisms are present.` due to an

[2020-11-26 09:59] lchdev opened #257 "Feature request: defining replicasets with arbiters"
It would be nice if we could define replica sets containing arbiters.

When deploying small scale MongoDB ReplicaSets, we're often using an unerlying storage that is already replicated. Adding several MongoDB replicas on top of it is usually overkill. We tend to deploy small ReplicaSets with 1 primary, 1 secondary and 1 arbiter. This is currently not supported by the Operator.

[2020-11-30 12:20] theburi commented on #256
With this operator, we started with MDB 4.0 support as 3.6 is going into EOL very soon. At the moment we only support SCRAM-SHA-256. However, MongoDB 3.6 could only support SCRAM-SHA-1 and that is what causes this error. We never considered that 3.6 would need to be supporting with new deployments.
We will add it to our backlog.

[2020-11-30 14:22] tobiaskohlbau commented on #233
I would like to contribute that the same issues arises if the operator is used together with Istio. If Istio injection is enabled on the namespace where mentioned StatefulSet is deployed the deployment fails due to `fsGroup: 1337` beeing injected in the _securityContext_ of the mongo pod.

[code]

[2020-12-04 03:17] MichaelJCole commented on #238
Hi @chatton, I'm getting something similar.  Should the service have a Cluster IP?

[code]

[2020-12-04 13:41] MichaelJCole opened #259 "Cannot access. ReplicaSetNoPrimary. Seems incompatible with 4.2.7+"
Hello, the Mongodb K8s Operator created a replicaset, but I can't seem to access it from my apps.

ReplicaSet definition:
[code]

Attempting to connect this to a Mongo-Express docker image, I've tried these hostnames:
[code]

Error from Mongo-Express pod:
[code]

Attempting to connect from my custom Parse server:
[code]

Gives this error:
[code]

I noticed the service doesn't have a Cluster IP, sh

[2020-12-04 14:17] MichaelJCole commented on #259
With a replicaSet connection string (https://github.com/mongodb/mongodb-kubernetes-operator/issues/108) :
[code]

[2020-12-04 16:41] MichaelJCole commented on #259
The Mongodb pod logs show:

[code]

[2020-12-04 16:53] MichaelJCole commented on #259
See https://github.com/mongodb/mongodb-kubernetes-operator/issues/255#issuecomment-733592311

[2020-12-04 17:15] MichaelJCole commented on #259
Ok, after following the comments there, I got it to work with '4.2.6' (but not 4.2.7).

[2020-12-05 04:41] bocajim opened #261 "Can't figure out how to get PersistentVolumeClaims to work"
Hello, running in AKS with kubernetes 1.18.

When I run, I get this error:

  Type     Reason                  Age                From                     Message
  ----     ------                  ----               ----                     -------
  **Warning  FailedScheduling        22m (x3 over 22m)  default-scheduler        0/3 nodes are available: 3 pod has unbound immediate PersistentVolume

[2020-12-05 05:10] bocajim commented on #261
OK, found the first problem, I don't need the "containers" section, and the volume claim template should be named data-volume.

This gives me the correct volume on my pods, but I still get the warning, is this because it wants an accessMode of ReadWriteMany?  This is generally not possible in AKS without switching to a file share which has much worse performance.

[2020-12-07 20:21] TannerBragg commented on #229
@chatton We're still experiencing this issue.  We tried the recent 0.3.0 operator version with the same results.

We've used both this [operator deployment](https://github.com/mongodb/mongodb-kubernetes-operator/blob/116619743d667e99547f0d2ac52169225a3cbac2/deploy/openshift/operator_openshift.yaml) and [custom resource](https://github.com/mongodb/mongodb-kubernetes-operator/blob/116619743d667e9954

[2020-12-08 09:10] chatton commented on #229
Hi @TannerBragg , sorry for the late reply, going to try and look into this one today.

[2020-12-08 23:42] fgarcia78 opened #262 "Unable to complete init due to failed readiness check"
Hi. I'm deploying a 4.2.7 mongodb cluster on OpenShift 4.4 on IBM Cloud infrastructure.

I initially had several problems that were finally solved:

- The operator CRD sample file for OpenShift located in the repo (`mongodb-kubernetes-operator/deploy/openshift/operator_openshift.yaml`) refers to a different version than the kubernetes one: 10.15.1.6468-1 vs. 10.19.0.6562-1. This causes the agent c

[2020-12-09 00:20] TannerBragg commented on #229
@chatton Is there a way for me to get more verbose debugging messages that may help narrow down the problem?

[2020-12-09 12:43] bartlomiejwulff commented on #242
This is my example how I set the volume size, security context (at least this what works with the current operator release) and limits:

`apiVersion: mongodb.com/v1
kind: MongoDB
metadata:
  name: mongodb-replicaset
  namespace: mongo
spec:
  members: 3
  type: ReplicaSet
  version: "4.4.1"
  featureCompatibilityVersion: "4.4"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - n

[2020-12-09 18:24] dwene commented on #262
I am also having this issue.

Using tagged version `v0.3.0` of community operator.
Agent container failing to be ready: `quay.io/mongodb/mongodb-agent:10.19.0.6562-1`

It seems Mongodb my replicaSet is working correctly still, even though all pods are considered not ready because of the agent.

Update: The mongodb-agent logs indicated that the state was constantly changing, so I temporarily scaled

[2020-12-09 21:45] fgarcia78 commented on #262
Well, that's strange, but I can confirm the same behavior in our OCP 4.4 clúster. These are the steps I performed:

Initial state _(just one pod up and readiness error)_:
  - Mongo members defined in mongodb resource: 2
  - Replica set pods running: 1/2 (just one pod started up)
  - State of pod 1 (1/2): agent not ready, mongodb operational and accepting connections

### Step 1
- Changed mongodb r

[2020-12-10 15:59] TannerBragg commented on #229
@chatton We managed to fix this by deleting all CRDs then reapplying all CRDs.  Something must have been missed during the update.

[2020-12-10 15:59] #229 closed

[2020-12-10 15:59] jamesbroadhead commented on #229
thanks for posting the update! Glad you have it working

[2020-12-10 16:07] TannerBragg commented on #262
We're experiencing a similar issue on OCP 4.5.20.  If it's not related, I can create a new issue.

The mongo agent container in the pod is reporting the following at a very fast rate:
`[2020-12-10T16:02:02.246-00] [.info] [cm/mongoclientservice/mongoclientservice.go:sendClientToRequesters:710] [16:02:02.246] Server at example-openshift-mongodb-0.example-openshift-mongodb-svc.my-namepspace-operator

[2020-12-10 16:16] TannerBragg commented on #173
@chatton @bznein In order to work around the issue, we went ahead and assigned a storage class, but it still created the failing default PVC.  Finally, we tried naming our storage class defined PVC the same name as the default to override the values and it appears to work.

It appears when a volume claim template is specified, it tries to merge the volume claim templates rather than replace with o

[2020-12-10 16:19] TannerBragg commented on #262
@jamesbroadhead This seems to be a pretty major issue on OCP as we can't even get a cluster running using the examples.

[2020-12-10 16:20] TannerBragg commented on #261
@bocajim We've experienced an issue on OCP 4.5 where the default PVC fails to create a backing PV.  You may want to refer to #173

[2020-12-10 16:52] TannerBragg commented on #262
Referencing [this ](https://github.com/openshift/origin/issues/16424)issue from OpenShift, we added the anyuid scc to the service account to allow proper permissions and the cluster is now working.  #212 also addressed our exact problem.

Not ideal to have to add this SCC.

`oc adm policy add-scc-to-user anyuid system:serviceaccount:(namespace>:mongodb-kubernetes-operator`

Hope this helps other p

[2020-12-12 05:22] maxisam commented on #198
I wonder why there is no sharding in community edition. I hope that is in the plan

[2020-12-12 05:24] maxisam commented on #231
Any chance it will be supported in the future?

[2020-12-15 21:06] jfelten opened #266 "Documentation regarding ReplicaSet replica set horizons is wrong"
https://docs.mongodb.com/kubernetes-operator/v1.9/tutorial/deploy-replica-set/#deploy-replica-set

If I try to follow the doc which give the example

[code]
error validating data: ValidationError(MongoDB.spec): unknown field "connectivity" in com.mongodb.v1.MongoDB.spec; if you choose to ignore these errors, turn validation off with --validate=false
[code]

[2020-12-15 21:06] #266 closed

[2020-12-16 08:27] GioPat opened #267 "Access the MongoDB from outside the cluster for development operations."
Hello,
I was able to test my deployment by:
- Spawning an ubuntu container in the k8s cluster
- Installing mongo shell
- Using the connection string that is in the documentation:
`mongo "mongodb://<service-object-name>.<my-namespace>.svc.cluster.local:27017/?replicaSet=<replica-set-name>" --username <username> --password <password> --authenticationDatabase <authentication-database>`

After these s

[2020-12-17 16:14] fireba11 opened #268 "Q: is there a more elegant way to fix a broken node"
** Not a bug but a question **
If your cluster breaks (in our case out of space error, we didn't have an alert on testing so we didn't resize the pv in time) and mongo can't get the node back up because oplog isn't long enough the mongo documentation advices you to shut down the node, delete it's data, start it and wait for it to get synced.
Obvously you can't do it like that on kubernetes ...
We

[2020-12-17 16:17] jamesbroadhead commented on #231
@maxisam Thanks for your interest!

It's possible - but isn't scheduled in the next 3-6 months.
We would accept a series of pull-requests to add support if you're able to contribute.

We keep an eye on feature requests on feedback.mongodb.com -  if you file a request there, and it accumulates votes, that will feed into our planning.

[2020-12-17 16:17] #231 closed

[2020-12-17 16:19] jamesbroadhead commented on #198
@deyanp please contact our Sales team for Enterprise pricing - https://www.mongodb.com/pricing

[2020-12-17 16:19] #198 closed

[2020-12-18 11:52] chatton commented on #268
Hi @fireba11 ,

The Community operator does not currently have a solution for this problem.

[2020-12-22 04:20] spacecat opened #269 "Breaking change in MongoDB 4.2.11? Network error while attempting to connect to mongo."
Hi,

I'm trying to connect to MongoDB using the following commands after successfully deploying a CR:

`k port-forward example-mongodb-0 8080:27017`

and

`mongo localhost:8080`

**The above commands work with the following MongoDB versions:**

4.2.6
4.2.7
4.2.8
4.2.9
4.2.10

**The above commands DO NOT work with the following MongoDB versions:**

4.2.11
Todo: Test versions newer than 4.2.11

I wa

[2020-12-29 11:56] rajavignesh opened #270 "Persistent Volume Claim (PVC) storage automated expansion"
**What did you do to encounter the bug?**
Updated the below in CR yaml file for expanding the storage. Changing "storage" parameter from 4Gi to 6Gi (example values) is not reflected in Stateful Set and PVC not getting resized after applying the CR file (changes are reflected in Object file)
  **_persistent: true
  statefulSet:
    spec:
      volumeClaimTemplates:
        - metadata:
            n

[2020-12-29 16:55] antonlisovenko commented on #270
Hi @rajavignesh

Can you try the resizing procedure that is described for the Enterprise Operator MongoDB? https://docs.mongodb.com/kubernetes-operator/stable/tutorial/resize-pv-storage/

Statefulset doesn't allow to change the PVC templates directly - so you need some manual actions to workaround that

[2020-12-30 05:57] rajavignesh commented on #270
Hi @antonlisovenko

Following the steps in the document works well. Looking if there is an automated way to increase the storage size like been done for CPU & Memory.

[2020-12-30 09:16] antonlisovenko commented on #270
@rajavignesh

great that helped!
From what I know the automated way could be to let the Operator perform the same steps as described in the instruction and we don't have this planned yet.

[2020-12-31 06:50] #270 closed

[2021-01-03 15:44] chris-hamper commented on #259
@MichaelJCole I got a similar error trying to run MongoDB 4.4.2 using the Operator. It turned out that this Operator has a version manifest file built into its Docker image, and if I tried to use a version of MongoDB not included in that version manifest, the cluster would spin up and look OK, but not have a replica set primary.

It looks like version `0.3.0` of this Operator has MongoDB versions

[2021-01-03 17:20] chris-hamper opened #271 "Cluster fails to elect a replica set primary if MongoDB version not in manifest"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Deploy version `0.3.0` of the operator on a cluster
1. Create a mongodb resource that uses version `4.4.2` of Mongo DB:
[code]
1. Attempt to connect to the cluster:
[code]

**What did you expect?**
The cluster would elect a replica set primary, and accept client connections.

Alternately, a validation error would be show

[2021-01-04 05:08] philrumble-fz opened #272 "Mongo Ops Manager/MongoDB is leaving open deleted log files behind"
**What did you do to encounter the bug?**
The PVs are filling up on the primary member due the rotated log files not being released.

**What did you expect?**
I expected the mongo operator to rotate the logs and free up space

**What happened instead?**
Mongo Ops Manager/MongoDB is leaving open deleted log files behind

I’m running Mongo Ops Manager v4.2.6 with a replica set of 3 members.

The pri

[2021-01-05 20:19] MichaelJCole commented on #259
Hi Chris, thanks for the reply.  I was using the latest on the day I filed the report.  4.26 is also mentioned in the docs somewhere.

I switched from Parse/Mongo for my store, so I'm not able to test this.  We can close this ticket if it's not helpful.

[2021-01-06 05:38] rajavignesh commented on #267
@GioPat

Are you able to connect to ReplicaSet from outside the Kubernetes cluster?
I tried NodePort and the connection success rate is not consistent.

[2021-01-06 09:29] GioPat commented on #267
@rajavignesh I am able to connect from outside by port-fowarding the service and using the Mongo Shell.
With MongoDB compass I'm not able to connect.
If you write your connection string format I can try with that.

[2021-01-07 11:25] #92 closed

[2021-01-07 11:40] theburi commented on #106
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 11:41] theburi commented on #65
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 11:42] theburi commented on #120
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 11:43] theburi commented on #131
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 11:44] #146 closed

[2021-01-07 11:45] theburi commented on #162
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 12:01] jsmcnair commented on #255
FWIW I had the same issue when specifying version `4.4` and had to use `4.4.0`, `4.4.1` did not work.

[2021-01-07 14:33] theburi commented on #197
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 14:35] theburi commented on #207
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 14:36] theburi commented on #212
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 14:38] theburi commented on #197
We are looking at a resolutions

[2021-01-07 14:48] theburi commented on #222
3.6 support would need a bit more work and since it will go into EOL in April 2021 https://www.mongodb.com/support-policy it would be a lot of work that will EOL in a few months.

[2021-01-07 14:55] theburi commented on #235
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 14:57] theburi commented on #238
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 14:58] theburi commented on #242
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 14:58] theburi commented on #244
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 14:59] theburi commented on #245
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 15:01] theburi commented on #249
We follow the Kubernetes Support policy
https://kubernetes.io/docs/setup/release/version-skew-policy/

As well as all CNCF certified distributions

[2021-01-07 15:02] theburi commented on #250
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 15:03] theburi commented on #251
This issue is labeled as stale because it has been open for more than 30 days with no activity. Remove stale label or comment or this will be closed in a few days.

[2021-01-07 15:18] #256 closed

[2021-01-07 15:59] spacecat opened #274 "db.createRole doesn't work"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Create CR

[code]

2. Log in to mongo

`k exec --stdin --tty mongodb-0 -c mongod -- /bin/bash`

`mongo "mongodb://mongodb-svc.webv4.svc.cluster.local:27017/?replicaSet=mongodb" --username admin --password blah --authenticationDatabase admin`

or just `mongo`.

3. Run the following command:

`db.createRole({ role: "restor

[2021-01-07 16:57] antonlisovenko commented on #274
Hi @spacecat

Thanks for your report.
The magical behavior you encounter is caused by the Agent that overrides any custom roles. All the roles are supposed to be configured from the Kubernetes MongoDB Custom Resource only, but so far only the set of predefined roles is created. Custom roles are not implemented yet.

We are planning to add the support for custom roles - tracking it in the internal

[2021-01-07 18:15] spacecat commented on #274
Is there any work-around at the moment?

[2021-01-08 09:23] antonlisovenko commented on #274
I'm afraid no. The agent is explicitly configured to override the custom roles and we don't plan to revert this considering that custom roles will be supported from CRD

[2021-01-08 10:15] #207 closed

[2021-01-08 21:17] Azaron76 commented on #267
I face the same problem.
I try to connect with MongoDB Compass to my newly created MongoDB ReplicaSet and it fails.
I used NodePort for service first and then tried NodePort expose for all pods like described in the documentation.

But it's not working. Is this a problem of Compass or a configuration problem from the ReplicaSet generated by Kubernetes Community Operator?

[2021-01-12 09:32] jardiacaj opened #277 "MongoDB configuration file"
Hello,

I wanted to enable the database profiler, usually I would have done this via the MongoDB configuration file. This does seem not possible to do via the operator. Is this correct? If yes, is this by design or is just not implemented?

Thanks for your time.

[2021-01-12 10:37] chatton commented on #277
Hi @jardiacaj,

Are you referring to [this configuration option](https://docs.mongodb.com/manual/reference/configuration-options/#operationprofiling-options)?

The mongodb agent manages the MongoDB config file, you can configure specific fields through the  `spec.additionalMongodConfig` options.

This would look something like this

[code]

[2021-01-12 11:11] rajavignesh commented on #161
Facing issue while upgrading from version 4.4.1 to 4.4.2.
Using the latest agent, as described in pod
"Successfully pulled image "quay.io/mongodb/mongodb-agent:10.19.0.6562-1"

Seeing "Readiness probe failed" log in the pod and "StatefulSet default/ea-mongodb-dba is not yet ready, retrying in 10 seconds" message in the object description.

When deploying 4.4.1 or 4.4.2 there is no issue. Not able

[2021-01-12 11:12] jardiacaj commented on #277
Hi @chatton,

thanks a lot for the quick response. This is exactly what I am looking for!

Unfortunately I tried it out and it does not seem to be working. I am using the operator version 0.3.0.

Here is what I can see in the logs after adding the configuration, note the empty additionalMongodConfig.

[code]

In case it helps, here is the definition:

[code]

Also, shouldn't the additionalMongodCo

[2021-01-12 11:17] chatton commented on #161
Hi @rajavignesh,

The problem you're describing sounds a little different that the initial problem, would you be able to create a new issue for this?

[2021-01-12 11:35] rajavignesh opened #278 "Upgrade from 4.4.1 to 4.4.2"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Deploy replica set with 3 node on version 4.4.1
2. update "spec.version" from 4.4.1 to 4.4.2 (operator version 0.3.0) in "mongodb.com_v1_mongodb_cr.yaml" file and deploy
3. Seeing "Readiness probe failed" log in the pod and "StatefulSet default/ea-mongodb-dba is not yet ready, retrying in 10 seconds" message in the objec

[2021-01-12 11:36] rajavignesh commented on #161
Hi @chatton
Opened a new ticket (#278) for the upgrade.
Thank you.

[2021-01-12 11:55] chatton commented on #277
Hi @jardiacaj

Yes you're right the `additionalMongodConfig` should be present in the CRD, we ran into issues due to it's arbitrary nature, but we should be addressing this soon! Thanks for bringing it up.

Regarding your configuration, I tried using the same additionalConfig, and here are a few things I found, there were some validation errors

1. the `filter` field is new since version 4.4.2 [fr

[2021-01-12 14:02] jardiacaj commented on #277
Hi @chatton,

thanks, it works now :) I assumed the setting were like in the `db.setProfilingLevel()` call but it's like in the config file, which makes a lot of sense.

I guess other users will also appreciate if `additionalMongodConfig` is documented as soon as it's ready.

Thanks again and have a nice day :)

[2021-01-12 14:02] #277 closed

[2021-01-14 15:50] alyacb commented on #65
Marking this issue as closed, as this will be supported with the next release.

[2021-01-14 15:50] #65 closed

[2021-01-18 03:16] rakeshk121 opened #283 "Unable to deploy in openshift 3.11 due to error "Unable to mount volumes for pod ..""
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Im using openshift 3.11 , i have referred the docs section of this repository i.e https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#deploy-replica-sets-on-openshift ,, I see there are no step by step procedure to deploy the mongodb operator in openshift . I have done the following
[

[2021-01-18 16:46] #249 closed

[2021-01-19 03:25] rakeshk121 opened #284 "openshift deployment fails with "Failed to apply default image tag "/:4.2.6" invalid reference format""
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
I'm trying to deploy mongodb replica set in openshift/okd 3.11 using following commands
[code]

**What did you expect?**
Operator pod up and running and mongodb replicaset pods up and running

**What happened instead?**
Operator pod is successfully running but mongodb replica set pods does not come up. Error is as follows
[

[2021-01-19 07:12] rakeshk121 commented on #284
I could solve this issue using workaround as follows:

I realized that since mongo statefulset are created using operator and crd https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/ the changes done directly to statefulsets are not getting saved. Hence editing the the crd file that is https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/m

[2021-01-19 07:12] #284 closed

[2021-01-19 07:25] rakeshk121 commented on #283
Worked fine with following commands:

[code]

[2021-01-19 07:25] #283 closed

[2021-01-19 07:54] rakeshk121 opened #285 "mongodb-agent pod throwing error "panic: Failed to get current user: user: unknown userid 1000490000""
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
[code]

**What did you expect?**
Operator pod up and running and mongodb replicaset pods up and running

**What happened instead?**
Operator pod is successfully running but mongodb replica set pods does not come up. Error is as follows
[code]

**Operator Information**
 - Operator Version:                  0.3.0
 - MongoDB I

[2021-01-19 21:23] SrinivasMajeti commented on #267
@GioPat

I work with Raj and here is what I am seeing (the connection is changing to pod hostname and trying to access it from outside)

[mongodb@~]$ mongo --host ea-mongodb/lxrke-dbdev-worker2:31217 -u xxxxxxx -p xxxxxx
MongoDB shell version v4.0.19
connecting to: mongodb://lxrke-dbdev-worker2:31217/?gssapiServiceName=mongodb&replicaSet=ea-mongodb
2021-01-19T16:20:00.689-0500 I NETWORK  [js] Star

[2021-01-20 14:37] spacecat commented on #274
Thanks @antonlisovenko
Is there an ETA for the custom roles implementation?

[2021-01-23 19:02] andreasevers commented on #217
This workaround mentioned by @chatton can be automated using a MutatingAdmissionWebhook.
This repository does just that: https://github.com/andreasevers/mongodb-operator-scram-sha-1-mutatingadmissionwebhook

[2021-01-25 16:02] #274 closed

[2021-01-26 13:52] fireba11 commented on #182
Got the same issues. I have a mongo-cluster in production that is running fine. mongodb resource says

Status:
  Current Mongo DB Members:       3
  Current Stateful Set Replicas:  3
  Message:                        error creating automation config secret: could not ensure scram credentials: Put "https://10.244.64.1:443/api/v1/namespaces/mongo/secrets/mongodb-agent-scram-credentials": read tcp 10

[2021-01-26 15:29] chatton commented on #182
Hi @fireba11,

Does the operator continue to reconcile indefinitely? Generally this type of error should trigger a single additional reconciliation which should eventually succeed when the operator fetches the most up to date version of the MongoDB resource.

[2021-01-26 18:47] chdanielmueller opened #299 "Not able to run the image on aarch64"
I think the issue has to do with the aarch64 on my Raspberry Pi.
Maybe the image is not built for this architecture?
If you could give me a "How-to build" I will be more than happy to try and see if that's the case.

The image "runs" on MacOS and returns an error that variables are missing which is totally understandable.

**What did you do to encounter the bug?**
Steps to reproduce the behavior:

[2021-01-27 08:56] fireba11 commented on #182
@chatton you're correct.
I guessed (apparently correctly) that was couldn't be reconciled was the PV size. I increased that manually and updated the mongo resource accordingly. Then apparently operator failed to apply that and kept throwing errors untill i reverted the edit.

And here i thought changing the resource to reflect the actual size would ne a good idea ;-)

[2021-01-27 12:34] Binyamse opened #301 "Run replicaset with out authentication"
I want to deploy mongo replicaset with out auth and the crd seems to make it required despite what the doc says [here](https://docs.mongodb.com/kubernetes-operator/master/reference/k8s-operator-specification/#spec.security.authentication.enabled)

Sample manifest
[code]

error i received

[code]

[2021-01-27 12:52] chatton commented on #301
Hi @Binyamse

The docs that you were reading are for the MongoDB Enterprise operator, the Community has authentication as a required value.

One thing to note, the CRD spec you've provided is also from the Enterprise Operator, and so some of the fields will be different from the Community Operator.

You can find the relevant docs [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/m

[2021-01-27 13:52] Binyamse commented on #301
thank you @chatton,

The applied CRD is from this repo under `deploy/crds/mongodb.com_mongodb_crd.yaml.` thought to mention that.

[2021-01-27 15:44] chatton commented on #301
Hi @Binyamse,

I was referring to the CR definition in your original comment.

And yes, in the enterprise operator auth is disabled unless explicitly enabled (which is of course recommended for all deployments!).

For context, this is only the case to maintain backwards compatibility. There were earlier releases before authentication was implemented.

[2021-01-27 17:00] spacecat commented on #274
I see this has been implemented in v0.4.0. Great. Do the docs reflect these changes as well? Are there any examples for example?

[2021-01-27 17:11] alyacb commented on #274
Hi @spacecat!

The docs have been updated to include a section on [how to define custom roles](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#define-a-custom-database-role) and there is an example cr in [deploy/crds/mongodb.com_v1_mongodb_custom_role.yaml](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/deploy/crds/mongodb.com_v1_mong

[2021-01-28 08:24] Binyamse commented on #301
Got it, thanks @chatton.

[2021-01-29 07:01] sagittaros commented on #127
Thanks @yjwong for the pointer. I almost spent a day for this.

Just sharing the steps below to help others and most likely my future self.

#### 1) Import CA cert and server key(pem)
Generate the certificates with something like `mkcert`. Refer [this](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/secure.md)

Import them as configmap and secret, respectively.

#### 2) Cre

[2021-01-30 03:28] peter6968 opened #306 "How to resolve the problem 'CrashLoopBackOff' installing operator"
Hi,excuse me😭.
I met some problems installing the 'operator'😭😭 :

![image](https://user-images.githubusercontent.com/24848930/106345053-46852e00-62e8-11eb-928e-f303dc3de199.png)

![image](https://user-images.githubusercontent.com/24848930/106345085-9106aa80-62e8-11eb-9a4d-3daf5ec838ac.png)

I used the following commands to create this 'operator'.

But I can't understand the problem ,I can't find t

[2021-01-30 03:41] peter6968 commented on #306
I didn't modified the YML files.😭

[2021-01-31 09:15] JohnnyS318 commented on #306
I encountered the same issue with a fresh minikube cluster.

[2021-01-31 10:22] avi-nehama commented on #306
Same here, I just followed the instructions exactly as specified [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md) and got the same errors as described by peter6968

[2021-01-31 18:31] sneben commented on #306
The commit [db40116](https://github.com/mongodb/mongodb-kubernetes-operator/commit/db401165847cf4ee8c3572f70094ae5973b0db2b) 2 days ago (were the CRD was renamed) seem to be incompatible with the 0.4.0 version, which is still referenced in **operator.yaml**. Use everything from the release, then it works.

[2021-01-31 19:49] avi-nehama commented on #306
This indeed solved the problem, thanks!

[2021-02-01 09:34] alyacb commented on #306
Hi! Release [v0.5.0](https://github.com/mongodb/mongodb-kubernetes-operator/releases/tag/v0.5.0) is out now, and the version referenced in operator.yaml is fixed in that tag.

[2021-02-01 10:43] maxaggedon opened #307 "Requests and limits"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Set up request and limits in cr like explained in other older issues
[code]
2. Deploy `kubectl apply -f deploy/crds/mongodb.com_v1_mongodbcommunity_cr.yaml`
3. Logs in the first pod show :
[code]

**What did you expect?**
Image to be the default one, like when no template for containers is specified

**What happened inst

[2021-02-01 10:49] avi-nehama commented on #306
Looks like you can close this issue, though the documentation page '[deploy-configure](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md)' still uses the old name, i.e.
`kubectl get mongodb --namespace <my-namespace>`
Should be:
`kubectl get **mongodbcommunity** --namespace <my-namespace>`

[2021-02-01 10:50] chatton commented on #307
Hi @maxaggedon

It looks like in your definition you have a typo in the name of the mongodb-agent image. Could you try with  `name: mongodb-agent`?

With your current definition, the merging logic will be adding a new container of name `mongo-agent` (which of course doesn't have an image field!).

Please let me know if this resolves your issue.

[2021-02-01 10:54] maxaggedon commented on #307
@chatton thanks a lot for the hyper quick answer, problem solved of course !

[2021-02-01 10:54] #307 closed

[2021-02-01 12:48] alyacb commented on #306
Thank you for pointing that out @avi-nehama! I updated the documentation to fix it.

[2021-02-01 15:54] #246 closed

[2021-02-01 21:16] mrethers opened #311 "Operator serviceaccount is missing pods permission on Openshift"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Install operator from OperatorHub on Openshift
2. Create a ops manager secret
3. Create a MongoDBOpsManagers instance
4. Go to the operator log

**What did you expect?**
The Ops Manager cluster should be deployed.

**What happened instead?**
The operator is showing a missing permission with the service account:

`E0201 2

[2021-02-01 21:46] ArrowRaider opened #312 "Invalid value: "null": spec.additionalMongodConfig in body must be of type object: "null"'"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1.  Perform steps in https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md
2.  Change the members from 3 to 1 in deploy/crds/mongodb.com_v1_mongodbcommunity_cr.yaml
2.  Perform steps in https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md
3.  When r

[2021-02-01 22:01] mrethers opened #313 "Persistence required on Openshift"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Install operator from OperatorHub on Openshift
2. Create a ops manager secret
3. Create a MongoDBOpsManagers instance with spec.applicationDatabase.persistence: false
4. Go to the operator log

**What did you expect?**
The database statefulset should be deployed and ready.

**What happened instead?**
Statefulset never ge

[2021-02-01 23:37] ArrowRaider commented on #301
No matter what I do, it says this:
[code]
I am putting the password from my secret.

[2021-02-02 01:53] green999 commented on #312
I am also having the same error. Deployed today, and running 3 node cluster. The mdbc is still in pending state with the /"example-mongodb" is invalid: spec.additionalMongodConfig:.....' error.

[2021-02-02 02:05] #306 closed

[2021-02-02 02:09] peter6968 commented on #306
Thanks !

[2021-02-02 09:20] bznein commented on #301
Hi @ArrowRaider, it looks like your is a different issue.

Can you please open another issue providing all the logs and definition that can help us troubleshoot the problem? It will be easier for us to assist you!

[2021-02-02 09:38] chatton commented on #313
Hi @mrethers

This was a problem with the 1.9.0 release which should be resolved with the 1.9.1 release. Please let me know if the problem persists.

(Note: this repo is the Community Operator repo, if there are still problems could you create a new issue against the [enterprise repo](https://github.com/mongodb/mongodb-enterprise-kubernetes))

[2021-02-02 12:53] radtriste commented on #237
Hello,

Could we have an update here ?
IMO, we should have a correct plural value in the crd.

This is creating problem when we want to read the status of instances created with the MongoDB operator to get information about it (like the URI)

[2021-02-02 13:21] chatton commented on #312
Hi @ArrowRaider and @green999

Unfortunately I haven't been able to reproduce this, would you be able to add the following configuration to the resource spec as a potential workaround?

`spec.additionalMongodConfig: {}`

An empty value should cause no problems and this should pass the CRD validation.

Let me know if this workaround works, and I'll try to look into this validation error in the mean

[2021-02-02 14:40] jamesbroadhead commented on #237
Hi there -

From a purely organizational/branding perspective, we don't pluralize 'MongoDB' on its own - it tends to be 'MongoDB Instances' or 'MongoDB Servers'. As such, we didn't intend to change this.

However, if it's causing compatibility problems, that's a different matter -- does the Kogito Operator require that plural forms match the singular with an extra 's'? Is that documented somewhere

[2021-02-02 15:37] green999 commented on #312
Hi @chatton ,

That fixed the issue.
Thank you for your quick response.

[2021-02-02 18:28] ArrowRaider commented on #312
It is no longer happening in minikube or microk8s today, even without doing that.  I had tried that yesterday before submitting the issue.

[2021-02-02 18:34] ArrowRaider commented on #312
That workaround fixed it for me too.  Tested in both microk8s and minikube

[2021-02-02 19:19] green999 opened #314 "MongoDb Authentication Failed error"
I  have deployed the following replicaset and it is working fine. When I try connect to the instance I get 'authenticaton failed ' error.

**************

The instance is **running** mode.

************

      MongoDB shell version v3.6.8
      connecting to: mongodb://localhost:27017/test
      Implicit session: session { "id" : UUID("516c5483-f498-43fd-b79f-adc50a9c52d7") }
      MongoDB server

[2021-02-02 19:37] ArrowRaider commented on #314
I can't login no matter what either.  Is this github project actually working for anyone here?

[2021-02-03 10:15] radtriste commented on #237
Hi @jamesbroadhead

I see your point.

Default behavior of our mapper was to just add the `es` or `s` as a plural name for the kind => https://github.com/kubernetes/apimachinery/blob/master/pkg/api/meta/restmapper.go#L126
So indeed, there was some problems.

Using a DynamicRestMapper from https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/apiutil/dynamicrestmapper.go seem

[2021-02-03 10:15] #237 closed

[2021-02-03 14:03] lchdev opened #316 "[Documentation] Cross-namespace deployment example"
Version 0.4.0 of the operator introduced support for cross-namespace deployments. Would it be possible to have documentation and/or a working example ?

I tried to do it by installing the ClusterRole/ClusterRoleBinding and defining `WATCH_NAMESPACE="*"`, to no avail.

[2021-02-03 14:06] chatton commented on #316
Hi @lchdev,

We don't have the instructions yet in the documentation. However the field is `WATCH_NAMESPACE` (not watched)

Could you try with

[code]

[2021-02-03 14:39] lchdev commented on #316
This is what I have done:

1. Install the CRD:
[code]

2. Define the ClusterRole/ClusterBindingRole:
[code]

3. Edit `deploy/operator/operator.yaml` and replace the `WATCH_NAMESPACE` value:
[code]

4. Install the operator in the *default* namespace:
[code]

5. Try to define a MongoDBCommunitry CR in the *test* namespace:
[code]

Then, the statefulset cannot create pods because the serviceaccount d

[2021-02-04 10:48] akshay654 opened #320 "Cannot add node selector or node affinity to stateful set with custom volume and storage class"
I am trying to create the Mongo DB stateful set with custom storage class and volume attached to it,I am using the below Yaml file for the deployment, but i am not able to select a specific node for my pods to run on the specified node.

Node Affinity yaml -

apiVersion: mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: example-mongodb
spec:
  members: 3
  type: ReplicaSet
  version: "4.2.6"

[2021-02-04 16:46] #316 closed

[2021-02-05 01:46] JohnWillker commented on #222
I would like to know if anyone got to make work in the 3.6 version? I can't use this version too.

[2021-02-05 10:09] chatton commented on #320
Hi @akshay654,

Can you provide a little more information? Is the underlying stateful set not being created as expected? What is the expected result?

Would you also be able to attach the operator logs and formatted MongoDBCommunity resource definitions (just so it's easier to test/repro)

[2021-02-05 11:16] akshay654 commented on #320
Hi @chatton

Thanks for reaching out.

I successfully figured it out, It was syntax issue and now the statefulset and pods are created with the requested node selector.

Following is the configuration that works for me, Hope someone finds it useful if needed to achieve the same configuration.

apiVersion: mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: example-mongodb
spec:
  members: 3

[2021-02-05 11:16] #320 closed

[2021-02-08 16:24] jamesbroadhead commented on #314
@green999 could you try again please with a new mongodb shell - the one you are using is 3.6.8 - could you try with the shell that comes with 4.2.6 or above please?

[2021-02-09 09:41] rajavignesh opened #324 "Authenticate Client using X509 Certificate"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Updated "mongodb.com_v1_mongodb_cr.yaml" --> "spec.security.authentication.modes" to "X509"
Applied the manifest using kubectl command

**What did you expect?**
Enable x509 certificate for client authentication

**What happened instead?**
Received below error message
"The MongoDB "ea-mongodb-mvp" is invalid: spec.security.a

[2021-02-09 09:43] chatton commented on #324
Hi @rajavignesh, the Community Operator does not support X509 authentication, did you intend to use the [enterprise operator](https://github.com/mongodb/mongodb-enterprise-kubernetes) which does?

[2021-02-09 09:46] rajavignesh commented on #324
Hi @chatton, tried in community operator. Would like to know if there is a workaround to implement this feature.

[2021-02-11 11:24] bznein commented on #311
Hi @mrethers, there was indeed an error in our permissions with 1.9.0, you can upgrade to 1.9.1 which should fix the issue

[2021-02-12 14:25] jamesbroadhead commented on #311
This ticket relates to the Enterprise Operator, and this repo is for the Community Operator.
For support on the Enterprise Operator, you can use the [Enterprise Repo](https://github.com/mongodb/mongodb-enterprise-kubernetes), refer to the [Enterprise Operator Docs](https://docs.mongodb.com/kubernetes-operator/master/) visit the [Support Center](https://support.mongodb.com/welcome).
Hope that these

[2021-02-12 14:25] #311 closed

[2021-02-12 14:25] jamesbroadhead commented on #313
This ticket relates to the Enterprise Operator, and this repo is for the Community Operator.
For support on the Enterprise Operator, you can use the [Enterprise Repo](https://github.com/mongodb/mongodb-enterprise-kubernetes), refer to the [Enterprise Operator Docs](https://docs.mongodb.com/kubernetes-operator/master/) visit the [Support Center](https://support.mongodb.com/welcome).
Hope that these

[2021-02-12 14:25] #313 closed

[2021-02-12 14:26] #301 closed

[2021-02-12 14:27] #238 closed

[2021-02-15 06:36] rajavignesh opened #328 "TLS allowing connection without certificate"
**What did you do to encounter the bug?**

After enabling TLS in-transit, the client able to establish a connection without a TLS certificate by mentioning "--tlsAllowInvalidCertificates" as mentioned below and making changes to yaml file is not reflected in the pod mongodb config file.
Connection String:
mongo --host ea-mongodb-tls/tls-00,tls-01,tls-02 -u mongodba -p pass --tls --tlsAllowInvalidC

[2021-02-15 14:44] semin-park opened #331 "Unable to connect to mongodb instance"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. `git clone https://github.com/mongodb/mongodb-kubernetes-operator.git`
    * master branch - commit c4b20bb
2. `cd mongodb-kubernetes-operator`
3. `kubectl create -f deploy/crds/mongodb.com_mongodbcommunity_crd.yaml`
4. Do what's written [in this issue](https://github.com/mongodb/mongodb-kubernetes-operator/issues/312#is

[2021-02-15 16:27] jamesbroadhead commented on #278
@rajavignesh The Operator doesn't support running MongoDB versions that are newer than the Operator itself (we're working on fixing this however).

For now: can you try a newer version of the Operator please?

[2021-02-16 05:26] semin-park commented on #331
The problem is that for some reason `/data/automation-mongod.conf` is not there. If I create a configuration manually, mongod does pick it up and starts running.

I've tried `master`, `v0.5.0` and `v0.4.0` and in all three cases, I'm experiencing the exact same problem. Does anyone have an idea?

@chatton Sorry to bug, but would highly appreciate if you could have a look :)

[2021-02-16 17:42] chatton commented on #271
Looks like a duplicate of #255

[2021-02-16 17:42] #271 closed

[2021-02-16 17:44] chatton commented on #278
This looks like the same root cause as #255, please re-open if upgrading the operator does not resolve your problem!

[2021-02-16 17:44] #278 closed

[2021-02-16 17:47] chatton commented on #259
This looks like the same issue as #255, we hope to resolve this soon, in the meantime the latest version of the operator (0.5.0) should work with MongoDB 4.4.2, please re-open this issue if it persists!

[2021-02-16 17:47] #259 closed

[2021-02-17 04:49] rajavignesh commented on #328
Can someone please share your inputs on this.

[2021-02-17 10:34] bznein commented on #328
Hi @rajavignesh,

thanks for reporting this issue.
It looks like the `additionalMongodConfig` object is not being correctly passed through.

I will try to reproduce it and come back to you as soon as possible :)

[2021-02-17 14:40] dotrc opened #334 "kubectl create -f deploy/crds/mongodb.com_mongodbcommunity_crd.yaml command fails"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Go to 'https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md#procedure'
2. Run the command `kubectl create -f deploy/crds/mongodb.com_mongodbcommunity_crd.yaml`

**What did you expect?**
`kubectl create -f deploy/crds/mongodb.com_mongodbcommunity_crd.yaml` command should succeed.

**W

[2021-02-17 14:44] bznein commented on #334
Hi @dotrc,

you are right!
https://github.com/mongodb/mongodb-kubernetes-operator/pull/327/ restructured the content of the repo and we will soon update our documentation to reflect this.
In the meantime you can find the file you are looking for in `config/crd/bases`

Nikolas

[2021-02-17 19:23] rajavignesh commented on #278
@jamesbroadhead
This worked and was able to upgrade till 4.4.2 with the new operator 0.5.0
Thanks for the great input.

[2021-02-18 08:23] dotrc commented on #334
Thanks @bznein!
Will try out the guidelines specified in #327.

You may close this issue once the documentation gets updated.

./.rc

[2021-02-18 10:05] #255 closed

[2021-02-18 10:40] fireba11 opened #336 "cluster keeps breaking"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. do 'kubectl edit pvc/data-volume-mongodb-x' to increase the PV size
2. run 'kubectl rollout restart statefulset/mongodb'
3. the previous primary is broken, see  #268

**What did you expect?**
rollout restart leaving a healthy cluster

**What happened instead?**
My guess is:
* primary switches to another node
* former pri

[2021-02-18 12:45] tonythomasm opened #338 "failed to create symbolic link '/data/journal': Permission denied in opsmanager pod"
Getting below error while creating MongoDBOpsManager. Error from the pod is as given below:

`tonythomas@Tonys-MacBook-Pro mongo_operator % kubectl logs ops-manager-db-0 -n mongodb
{"logType":"agent-launcher-script","contents":"Using Kubernetes CA file"}
ln: failed to create symbolic link '/data/journal': Permission denied`

I followed the below given documentation to install entererpise-operator

[2021-02-18 12:46] jamesbroadhead commented on #338
Hi @tonythomasm -
The MongoDBOpsManager CRD belongs to the [Enterprise Operator](mongodb/mongodb-enterprise-kubernetes). Please follow the instructions on that repo for opening a Support Case.
All the best,

James

[2021-02-18 12:46] #338 closed

[2021-02-18 19:19] jagurram opened #341 "mongoDb-operator pod in error state : request.go:621] Throttling request took 1.046072429s, request: GET:https://10.96.0.1:443/apis/apiextensions.k8s.io/v1?timeout=32s"
Hello,

What wrong on the config pull on the repo ?

**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. kubectl apply -f /crd/bases/mongodbcommunity.mongodb.com_mongodbcommunity.yaml
2. kubectl apply -f mongodb-kubernetes-operator/config/rbac/role.yaml
3. kubectl apply -f mongodb-kubernetes-operator/config/rbac/role_binding.yaml
4. kubectl apply -f mongodb-kubernetes-ope

[2021-02-19 09:43] FedeBev commented on #182
Hi @chatton,

In my case, the operator keeps reconciling forever with the following logs
[code]

[2021-02-19 11:17] bznein commented on #341
HI @jagurram,
We troubleshoot the issue and what happened is that you are probably applying CRDs from `master` but using operator `0.5.0`.

There are two workarounds to this:
either checkout `v0.5.0` tag on the repository and use the CRDs files from that tag
or wait for `v0.5.1` release, which is coming soon.

Thanks
Nikolas

[2021-02-19 11:56] jagurram commented on #341
Hi, thanks for the reply. The workaround works well. I have use the old crd.
You can close the ticket.

[2021-02-19 12:07] #334 closed

[2021-02-19 12:07] #341 closed

[2021-02-19 12:17] bznein commented on #328
Hi @rajavignesh,

I wasn't able to reproduce the `additionalMongodConfig` issue on `master`.
However, we had some discrepancies between operator version and CRDs due to the re-scaffolding work we have been doing, which might have caused your issue.

Would you be abele to re-test your scenario using the newly released `0.5.1` version and newest CRDs?

Thanks
Nikolas

[2021-02-19 19:57] pinkerltm commented on #314
I experience the same error with Shell(and Server) v4.2.6

[2021-02-22 02:09] paranlee opened #350 "Fix ommited command in install-upgrade.md"
This issue is document typo issue.

**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Go to 'docs/install-upgrade.md ' file
2. Click on ''
3. Scroll down to line number 89.
4. See error : ommiting command, fix typo.

**What did you expect?**
A clear and concise description of what you expected to happen.

Add kubectl command at first.

**What happened instead?**
A clear

[2021-02-22 11:06] fireba11 opened #352 "upgrade documentation is way too sparse"
I got a operator instance running (v0.2.2) with a production mongoDB cluster.
I tried to figure out what to do to upgrade to latest 0.5.1 in my test environment, but aparently there were several versions needing manual steps and no real documentation for the whole thing.

**What did you expect?**
Documentation describing the different migration steps needed.

**What happened instead?**
Some unclea

[2021-02-22 11:48] paptimuslun commented on #261
Is there any update? I have a local machine to install K8S, but it is fail when I create a StorageClass
`---
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb-resource
spec:
  members: 3
  type: ReplicaSet
  version: "4.2.6"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: invest
      db: admin
      passwordSecretRef: # a refe

[2021-02-22 13:01] rajavignesh commented on #328
Hi @bznein
I tried with the latest release but the parameter "allowConnectionsWithoutCertificates" is set to true in the MongoDB config file even if it's mentioned as false in the CR.

  **_additionalMongodConfig:
    storage.wiredTiger.engineConfig.journalCompressor: zlib
    net.tls.allowConnectionsWithoutCertificates: false_**

When you enable TLS, are you able to establish a database connectio

[2021-02-22 16:00] edenjiga opened #353 "no matches for kind "MongoDB" in version "mongodb.com/v1""
no matches for kind "MongoDB" in version "mongodb.com/v1"
Steps to reproduce the behavior:
1. Install mongodb-kubernetes-operator
2. Execute kubectl apply -f infra/k8s/delivery-mongo-depl.yaml
![image](https://user-images.githubusercontent.com/19752691/108733977-fa9b6280-74fc-11eb-824c-c39e15b5dfde.png)

3. See error
![image](https://user-images.githubusercontent.com/19752691/108734046-0c7d0580-74

[2021-02-23 05:33] leogomes opened #354 "Error message when applying RBAC-related resources"
This issue is document typo issue.

What did you do to encounter the bug?
Steps to reproduce the behavior:
* Go to 'docs/install-upgrade.md ' file
* Run suggested command to install rbac resources
* See warning messages

What did you expect?
* Installation of rbac-related resources without warnings.

What happened instead?
[code]

[2021-02-23 09:12] maxaggedon opened #356 "Role not found"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Follow install instructions in a namespace called mongodb
2. Look at the logs of the operator pod
3. See error

**What did you expect?**
No error

**What happened instead?**
[code]

**Operator Information**
 - v0.5.1
 - MongoDB Image used: not changed

**Kubernetes Cluster Information**
 - 1.19
 - Image Registry location

[2021-02-23 09:14] bznein commented on #353
Hi @edenjiga,

I see you are referring to a local file `infra/k8s/delivery-mongo-depl.yaml`. This file however is for the old CRD. In Version 0.4.0 we released a breaking change in which we renamed our CRDs from MongoDB to MongoDBCommunity.

Can you make sure to either use updated CRDs or a compatible version of the operator?

[2021-02-23 09:18] bznein commented on #356
Hi @maxaggedon,

we are in the process of revamping our docs so something might went missing, can you shows us the output of:

Trying to recreate the roles:
`kubectl apply -k config/rbac/`

Verifying that roles exists:
[code]

[2021-02-23 09:36] maxaggedon commented on #356
I had used `-k` flag just before filing the issue as I saw the other issue but was not familiar with kustomize
Everything is there as you can see, but somehow is not detected by the operator...
[code]

[2021-02-23 10:10] fireba11 commented on #182
Also happens with a fresh install of v0.5.1:

2021-02-23T10:09:05.284Z        INFO    controllers/replica_set_controller.go:394       The service already exists... moving forward: services "mongodb-svc" already exists     {"ReplicaSet": "mongo/mongodb"}
2021-02-23T10:09:05.293Z        ERROR   controllers/replica_set_controller.go:205       Failed updating the status of the MongoDB resource: Operat

[2021-02-24 10:02] rajavignesh opened #359 "TLS support for MongoDB 4.4"
**What did you do to encounter the bug?**
When deploying cluster with MongoDB version 4.4.2 and TLS enabled, SSLHandshakeFailed error found in "mongod" container log and "mongodb-agent" pod goes down after few minutes.

The same TLS certificate works fine in 4.2.12, facing issues when deploying with MongoDB version 4.4.
Deploying 4.4.2 without TLS works fine.

Steps to reproduce the behavior:
1. E

[2021-02-24 10:24] antonlisovenko commented on #359
hi @rajavignesh

thanks for your report! have created an internal ticket to track the issue

[2021-02-24 10:39] rajavignesh commented on #328
Hi @bznein
![mongodb operator tls](https://user-images.githubusercontent.com/75835084/108988388-6a0a8100-76ba-11eb-9fdf-52ea3daf10d3.jpg)

In file "controllers/mongodb_tls.go" the function "tlsConfigModification" has the parameter value "allowConnectionsWithoutCertificates" hardcoded as **true**.

**args.Set("net.tls.allowConnectionsWithoutCertificates", true)**

[2021-02-25 11:41] akshay654 opened #361 "Cannot create Database or collection and authenticate with newly created user from mongo shell"
Hi,

We are trying to create a database from mongoshell after successfully logging into the primary Db, Following are the commands.
1. mongo --host <ip> --port 27017 --username <username> --password <password> --authenticationDatabase <dbName>  - With this command we are able to successfully authenticate into a particular database created while deploying theYAML file alongwith the admin database,

[2021-02-25 12:04] chatton commented on #361
Hi @akshay654

If you manually create any MongoDB users, they will be removed as they are not configured via the CRD. In your case, you could specify your user via the CR.

Adding the following to your CR definition should be equivalent to creating the user through the shell

[code]

and make sure to create a password

[code]

[2021-02-26 01:37] joshua-hester commented on #353
He was probably following the same blog post I was following by Mongo:
https://www.mongodb.com/blog/post/run-secure-containerized-mongodb-deployments-using-the-mongo-db-community-kubernetes-oper

The links don't even work in this article and I got the same error.

**There needs to be more consistency, this article (by Mongo team) was only create two months ago and has bad info.**

[2021-02-26 01:56] joshua-hester commented on #354
Thank you! Saved me the headache this evening on installation

[2021-02-26 11:14] akshay654 commented on #361
Hi @chatton

Thanks for the response and information, I have one use case with me if you can just let me know if it is possible with Community operator.

We are trying to achieve one requirement of creating databases and collection using pymongo from our microservice applications and it would be a dynamic collection creation.

For me this pymongo script works specified below but its similar to som

[2021-02-26 11:16] FedeBev commented on #312
The workaround suggested by @chatton worked for me too.
But, in my opinion, this issue should not be close as the issue still exists.

[2021-02-26 14:17] joshua-hester commented on #353
@edenjiga this is the correct naming convention based on release v0.51 of this repo that @bznein was referencing.

[code]

**Hopefully they update the article.**

[2021-02-26 14:22] joshua-hester commented on #353
@chatton needs to update his blog post with the correct info.

reference: https://www.mongodb.com/blog/post/run-secure-containerized-mongodb-deployments-using-the-mongo-db-community-kubernetes-oper

[2021-02-26 15:42] #350 closed

[2021-02-26 15:46] #354 closed

[2021-02-26 18:48] bocajim commented on #261
This is what ultimately worked for me (its from a helm chart so ignore the {{}} expansions:

apiVersion: mongodb.com/v1
kind: MongoDB
metadata:
  name: mongodb
spec:
  members: {{ .Values.mongodb.members }}
  type: ReplicaSet
  version: "4.2.6"
  security:
    authentication:
      modes: [ "SCRAM" ]
  users:
    - name: root
      db: admin
      passwordSecretRef:
        name: mongodb-password

[2021-02-26 18:48] #261 closed

[2021-03-01 07:12] chdanielmueller commented on #299
@jamesbroadhead Do you have an estimate when this could be?

[2021-03-01 10:05] chatton commented on #312
I agree with @FedeBev, until we resolve the root problem this issue should remain open.

[2021-03-01 10:52] vijayrajah commented on #242
This is very useful info, can this be added to doc or examples, please?

[2021-03-01 10:58] rajavignesh commented on #328
Team, please share your input.

[2021-03-01 13:58] #242 closed

[2021-03-01 15:27] XamYp opened #364 "mongodb.com_v1_mongodbcommunity_cr.yaml - 3 pod has unbound immediate PersistentVolumeClaims"
Hello,

I have tried deploying mongodb with kubernetes but I am having a problem. I use an on premise environment (vmware) with three virtual machines, a master and two nodes. The installed version is v1.20.4.
I followed the [first tutorial to install the operator](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md). I created all the elements in the "mongo"

[2021-03-01 15:43] edenjiga commented on #353
@joshua-hester  thanks, its working now

[2021-03-02 16:49] antonlisovenko commented on #359
hi @rajavignesh

We have a couple of e2e tests that check TLS with 4.4.0, one of them is: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/test/e2e/replica_set_tls/replica_set_tls_test.go

We tried 4.4.2 and that also worked... Can you please double-check your configuration - and maybe the test above will help you to verify the correctness of the configuration.

[2021-03-02 23:18] axelbarjon opened #367 "RBAC issue with Operator v0.5.1 on OpenShift 4.5: the MongoDBCommunity CR fails"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Applied v0.5.1 CRD, Role (for the namespace not clusterwide), Role Bindings and service account
[code]
2. Applied the following Manager (for OpenShift)
[code]
3. Added the secrets for my mongoDB users
4. Tried to deploy the following MongoDBCommunity CR:

[code]
5. I get the following status for my MongoDBCommunity CR YA

[2021-03-03 09:06] antonlisovenko commented on #367
hi @axelbarjon

thanks for your report

Can you please try adding
`mongodbcommunity/finalizers`

to the
[code]

in `role.yaml` file.

[2021-03-03 19:32] axelbarjon commented on #367
Hi @antonlisovenko
It worked adding ``mongodbcommunity/finalizers`` resource to the ``mongodbcommunity.mongodb.com`` apiGroup.
Thanks a lot!
Should it be added to the default ``config/rbac/role.yaml`` for everyone (Kubermetes and Openshift)? Or should it be a separate config? I can make a PR if you'd like

[2021-03-03 20:48] antonlisovenko commented on #367
My understanding is that this should be added to the `config/rbac/role.yaml` for any deployment but I'd like to learn an opinion of real experts @chatton  and @bznein

[2021-03-05 09:13] dgdevops opened #372 "Terraform plan and apply fails after the initial deployment of a ReplicaSet"
**Introduction:**
I have been testing the MongoDBCommunity Kubernetes Operator in the past weeks and initially I was trying to deploy the CRD and the ReplicaSet (+ its secret) simply with kubectl but to make the deployment and the resources stateful I decided to take the Terraform road and use the generic "kubernetes" provider to deploy the default resources and the "kubernetes-alpha" provider for

[2021-03-05 09:59] johnlinvc commented on #182
I've noted that the operator doesn't delete the service object (type: ClusterIP) after removing the MongoDBCommunity object.
Maybe deleting the service will help?

[2021-03-06 11:01] paweltatarczuk commented on #182
I'm also seeing this error multiple times every second:

[code]

In my case it's my fault (I have misconfigured the cluster RBAC):

[code]

Anyway I believe this shouldn't result with a tons of errors in operator? Seems like some kind of race condition? If there is anything I could do to help please let me know!

---

MongoDB Kubernetes Operator:
[code]

Kubernetes:
[code]

[2021-03-08 16:20] yuswitayudi commented on #364
same issue

[2021-03-09 13:43] mblaubscher opened #379 "Documentation: Operator watch namespace git repo files clarification"
The documentation ( [https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md#operator-in-different-namespace-than-resources](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md#operator-in-different-namespace-than-resources) ) define role.yaml and role_bindings.yaml to apply from repository folder ./deploy/operator for each

[2021-03-10 16:06] lchdev opened #380 "Operator should create ServiceAccount and RoleBinding for managed pods"
The latest documentation has clarified how to use the operator to watch multiple namespaces.
However, I think the way it operates is too tedious for the user, especially regarding the manual steps required to create a Role/RoleBinding/ServiceAccount in each and every watched namespace.

In my opinion, the Operator should create the proper RoleBinding/ServiceAccount in the target namespace when dep

[2021-03-11 22:37] SebastianGogoasa commented on #356
The documentation isn't that intuitive at all, make sure that you have all the resources created under the same Namespace.

I'd say to wipe out everything (if it's a test environment), create first a `mongodb-system` namespace (as it should be) and then deploy everything within that Namespace.

I had pretty much the same issue until I dug into all resources and found out that for example the deplo

[2021-03-12 16:21] dgdevops commented on #267
I am facing the same issue while trying to access the Replica Set using kubectl port-forward. I created a kubernetes service for all the 3 replicas (P-S-S) and did a local port forward but got the following error: `getaddrinfo ENOTFOUND mongodb.mongodb-qa-svc.mongodb.svc.cluster.local`. Due to this domain name resolution error the Replica Set cannot be access from either outside of the kubernetes

[2021-03-15 15:58] bznein commented on #353
Hi @joshua-hester @edenjiga, thank you for your contribution, we updated the blog post to reflect the breaking change: https://www.mongodb.com/blog/post/run-secure-containerized-mongodb-deployments-using-the-mongo-db-community-kubernetes-oper

[2021-03-16 02:03] paptimuslun opened #383 "Is it possible to install Ops Manager in Community Operators"
I have just discovered that the Ops Manger can be used in Community Version
and just finished the installation by following the instructions in Github.
But I cannot find the installation guide for Ops Manager, and cannot install the manager under `mongodbcommunity.mongodb.com/v1`
I can only find the guide in enterprise operator, can anyone help?

[2021-03-16 08:56] bznein commented on #383
Hi @paptimuslun,

the Community operator does not support Ops Manager.

[2021-03-16 10:16] rodrigovalin commented on #380
Hello @lchdev

Thanks for reporting this issue. This is something we would like to do of course.

In concrete terms:

1. The Operator uses a set of Roles which will include now Role & ServiceAccount creation capabilities
2. The database Pods will use a different set of roles, with less privileges than the Operator one
3. The Operator will create Roles & ServiceAccounts per deployed MongoDB resourc

[2021-03-16 10:24] rodrigovalin commented on #372
Hello @dgdevops

Thanks for your report. Unfortunatelly, we don't have any experience with Terraform and I'm not familiar with the process of installing the Operator with it.

This is not something we can help you with. I will tag this issue as _help wanted_ to see if someone from the community can give us a hand.

[2021-03-16 10:58] paptimuslun commented on #383
Thanks, so the only method is expose SVC and use dB tools such as studio 3T to manage it?

[2021-03-16 12:16] rodrigovalin commented on #379
Hello @mblaubscher

Thanks for reporting; the docs are updated. I've created a PR to update the docs pointing at where the new role, role_bindings and service_account yaml files are located.

[2021-03-16 13:49] #379 closed

[2021-03-16 15:22] jmjava opened #385 "One line of log output Running ./manager then container quits"
I am following the instructions for bringing up the operator and its quitting without any logs

I get one line of output in the pod: Running ./manager

the events show this: there does not seem to be any clue to the cause

Normal Pulled 11m (x4 over 12m) Successfully pulled image
Normal Created 11m (x4 over 12m) Created container mongodb-kubernetes-operator
Normal Started 11m (x4 over 12m) Started

[2021-03-16 15:41] rodrigovalin commented on #385
Hello @jmjava

How did you install the operator? Have you followed the instructions from [here](../blob/master/docs/install-upgrade.md#procedure)? If you have followed the instructions from the docs, can you tell me the output of this command?

    kubectl -n <namespace-where-operator-is-installed> get deployment/mongodb-kubernetes-operator -o yaml

The problem could be caused by a missing environ

[2021-03-16 16:58] jmjava commented on #385
@rodrigovalin thanks for your input that fixed it!   It was improper editing in the manager.yaml that produced the issue

[2021-03-16 16:58] #385 closed

[2021-03-16 17:01] jyyoo0530 commented on #364
Same issue. Pls check my deployment and pv, sc yaml.
I am new to kubernetes and mongodb operator.

sc.yaml
[code]
pv.yaml
[code]

replicaset.yaml
[code]

This show below,
[code]
I am not sure why 'data-volume' pvc triggered even with customized statefulset.
Is mongodb community operator still incomplete for persistent volume? or error in my deployment? Please kindly review my error..Thanks.. :)

[2021-03-17 02:41] yuswitayudi commented on #364
I solved the issue with create persistence volume and persistence volume claim by manual, and with storageclass is 'manual'. Can you show me describe pvc from mongod-pvc-mongodb-replicaset-0 ?

[2021-03-17 03:06] jyyoo0530 commented on #364
Hi,

pvc status,
[code]
Can you share the piece of your pv/sc/deployment yaml files includes volume mounting parts to compare with mine, if possible? Thanks..!!

[2021-03-17 07:45] XamYp commented on #364
Hello, can you attach your yaml files in your message please? Specifically the volume claim, the volume claim persist?

Thank you

[2021-03-17 11:40] jyyoo0530 commented on #364
Hello,

All of the contents in the deployment,pv,sc files are included in my previous question in the Code Block :)
For the volume claim part, you can see `volumeClaimTemplates` from my deployment.yaml.

Hope you already solved this issue so as to advise me.

[2021-03-17 12:09] XamYp commented on #364
Hello,

Sorry my question was addressed to @yuswitayudi ^^

[2021-03-17 12:35] yuswitayudi commented on #364
Hai

Hay @XamYp this is my pv and pvc yaml file

[code]

pvc yaml

[code]
By the way this metadata.name from pvc is same with pvc mongodb kubernetes operator automatically created. And i insert the pvc yaml below mongodb.com_v1_mongodbcommunity_cr.yaml file.

Thanks.

[2021-03-17 21:41] XamYp commented on #364
Everything works for me thank you :)

[2021-03-17 21:41] #364 closed

[2021-03-19 17:12] bznein commented on #331
Hi @semin-park,

apologies for the delay in the answer, can you show us the logs of the agent pod?

```kubectl logs example-mongodb-0 -c mongodb-agent```

[2021-03-21 10:24] semin-park commented on #331
Unfortunately I'm not working on this anymore, so I'll close this issue for now

[2021-03-21 10:24] #331 closed

[2021-03-22 11:51] chatton commented on #356
Hi @SebastianGogoasa @maxaggedon

It looks like there is indeed an error in the docs that will be addressed shortly, the command that creates the roles should specify the namespace of the operator to create the roles is. The default configuration for the operator is to run at a namespaced level, not cluster wide.

The reason we don't create everything in a separate namespace, is to allow the opera

[2021-03-22 12:00] #312 closed

[2021-03-22 13:50] #356 closed

[2021-03-22 14:40] #361 closed

[2021-03-24 15:35] mrethers opened #398 "Permissions still broken in 1.9.2"
Following-up on #311, I've installed version 1.9.2 and still getting a permission error, though slightly different this time:

(combined from similar events): Readiness probe failed: panic: pods "opsmanager-db-0" is forbidden: User "system:serviceaccount:handshake:mongodb-enterprise-appdb" cannot patch resource "pods" in API group "" in the namespace "handshake" goroutine 1 [running]: main.isPodRe

[2021-03-24 15:37] bznein commented on #398
Hi @mrethers,

This ticket relates to the Enterprise Operator, and this repo is for the Community Operator.
For support on the Enterprise Operator, you can use the [Enterprise Repo](https://github.com/mongodb/mongodb-enterprise-kubernetes), refer to the [Enterprise Operator Docs](https://docs.mongodb.com/kubernetes-operator/master/) visit the [Support Center](https://support.mongodb.com/welcome).

[2021-03-24 15:37] #398 closed

[2021-03-25 04:07] patrickdeutsch-wk opened #400 "Running agent container with non-root user"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Followed Dev steps to produce docker files for operator & agent.
Docker files are updated to use a different base os & use non-root user.

Upload images to kind cluster repo
Deployed operator & sample deployment set.

**What did you expect?**
Agent container to use configs

**What happened instead?**
I seem to run into erro

[2021-03-25 14:12] chatton commented on #285
Hi @rakeshk121 this looks like to be an issue that is effecting openshift specifically and not vanilla k8s, we believe that this should be resolved in the next release (0.5.2).

This should be available early next week.

[2021-03-25 14:32] chatton commented on #367
Sorry for the late reply @axelbarjon ,

It would be great if you would like to create a PR to add this!

[2021-03-26 14:57] kwill4026 commented on #253
Hello @LaumiH I am interested in how your setup of MongoDB using submariner looks like. Are you utilizing https://github.com/bitnami/charts/tree/master/bitnami/mongodb?

[2021-03-29 08:46] pityonline commented on #353
At first, I followed [this article](https://docs.mongodb.com/kubernetes-operator/master/tutorial/deploy-sharded-cluster/) and it says:

[code]

Then I followed [this comment](https://github.com/mongodb/mongodb-kubernetes-operator/issues/353#issuecomment-786673812), it says:

[code]

At last, I tried the configuration in the [blog post](https://www.mongodb.com/blog/post/run-secure-containerized-mon

[2021-03-29 08:50] bznein commented on #353
Hi @pityonline,

the first article you linked is for the enterprise operator, while this repo is for the community operator.

Regarding your other two errors, can you open a new issue with a detailed summary of the steps you took?
By looking at the error message, it looks like you didn't create the proper CRDs, but we can help you better if you create a separate issue :)

[2021-03-29 08:58] pityonline commented on #353
@bznein Thanks for your tips. I'll try to create the proper CRDs. If I still have the problem, I'll update here.

[2021-03-29 13:31] rtrive commented on #193
Any updates on that?

[2021-03-29 14:03] theburi commented on #193
We have not done much progress here. But we have reopened this ticket and will try to find some time.

[2021-03-29 14:03] bznein commented on #193
Hi @caiconkhicon and @rtrive,

This is a nice feature that we would like to have but are not actively working on now, you are more than welcome to contribute!
Feel free to open a PR with a proposed chart and we can go from that.

Nikolas

[2021-03-29 18:24] fireba11 commented on #336
As far as i can tell doing a rollout restart applies changes too fast. The probe reports ready while mongodb is still syncing oplog.

[2021-03-30 14:01] bznein commented on #285
Hi @rakeshk121, 0.5.2 has now been released, can you try with the new version to see if the issue persists? Thanks

[2021-03-30 14:09] fireba11 commented on #352
It's nice to see progress (release 0.5.2) but i still don't know how to upgrade to that version ...

[2021-03-31 07:08] hayazan opened #406 "Using the code of the tag 0.5.2, the example-mongodb-0 pod was not created successfully"
![image](https://user-images.githubusercontent.com/18796907/113104083-b2294000-9232-11eb-879f-c510d3e270af.png)
![image](https://user-images.githubusercontent.com/18796907/113104295-f3215480-9232-11eb-91ed-87f18339456f.png)

[2021-03-31 07:08] hayazan commented on #406
Error getting the agent health file: error opening file: open /healthstatus/agent-health-status.json: no such file or directory

[2021-03-31 07:16] hayazan commented on #406
![Uploading image.png…]()

[2021-03-31 07:19] hayazan commented on #406
![image](https://user-images.githubusercontent.com/18796907/113105736-8313ce00-9234-11eb-9089-40359cc47eec.png)

[2021-03-31 07:26] hayazan commented on #406
![image](https://user-images.githubusercontent.com/18796907/113106552-7a6fc780-9235-11eb-81b5-74bbd8d79ed6.png)

[2021-03-31 07:27] bznein commented on #406
Thanks for the information, I think I know what the issue is, I will get back to you soon

[2021-03-31 07:28] hayazan commented on #406
thanks

[2021-03-31 10:08] ghabarid opened #408 "Operator - All namespaces does not create sts"
**What did you do to encounter the bug?**
Changed the manager.yaml to
 - name: WATCH_NAMESPACE
              value: "*"
- Installed the operator
Tried to create cr,
k apply mongodb.com_v1_mongodbcommunity_cr.yaml

**What did you expect?**
A new cr, secret, cluster etc. is created

**What happened instead?**
All resource are created. Except the sts.

**Operator Information**
 - Operator Version: Fr

[2021-03-31 17:53] ctrought opened #409 "Operator install hangs when using OLM single namespace install on multiple namespaces"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Install operator in namespace 1 using single namespace installation mode (operator within same namespace as mongo resources)
2. Installation completes successfully
3. Install operator in namespace 2 using single namespace installation mode
4. Operator install does not complete

**What did you expect?**
Single namespace i

[2021-03-31 18:02] bznein commented on #409
Hi @ctrought

This ticket relates to the Enterprise Operator, and this repo is for the Community Operator.
For support on the Enterprise Operator, you can use the [Enterprise Repo](https://github.com/mongodb/mongodb-enterprise-kubernetes), refer to the [Enterprise Operator Docs](https://docs.mongodb.com/kubernetes-operator/master/) visit the [Support Center](https://support.mongodb.com/welcome).
H

[2021-03-31 18:02] #409 closed

[2021-03-31 18:48] davesargrad opened #410 "The operator fails to instantiate a database with an error on agent-health-status"
**What did you do to encounter the bug?**
I created the operator following the process [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md).

I then tried to create a mongodb.. but it fails with a crashloopbackoff

[code]

LOGS PV:

[code]

Data PV

[code]

Mongo seems to be able to write to that local storage since we see these folders get created.

[

[2021-03-31 18:52] bznein commented on #410
Hi @davesargrad,

this looks like the same issue reported in #406,

that error message is expected, however the error actually comes from the other container.

Can you try changing your `MONGODB_AGENT` tag to `quay.io/mongodb/mongodb-agent:10.29.0.6830-1` and see if the issue is fixed?

Thanks!

[2021-03-31 18:53] bznein commented on #406
Hi @hayazan, could you please look at this answer: https://github.com/mongodb/mongodb-kubernetes-operator/issues/410#issuecomment-811342372 and see if that fixes the issue? thanks!

[2021-03-31 18:56] davesargrad commented on #410
@bznein Thanks for your fast response.. How do I change that tag?

[2021-03-31 19:04] davesargrad commented on #410
My bad.. I did call that:

`kubectl create -f config/manager/manager.yaml --namespace default`

[2021-03-31 19:05] bznein commented on #410
Hi @davesargrad, yes you need this line here: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/manager/manager.yaml#L35

let me know if that works!

Regards

[2021-03-31 19:06] davesargrad commented on #410
Ok.. Looks like the value was 10.27....

[code]

[2021-03-31 19:19] davesargrad commented on #410
Ok.. I've recreated the operator with 10.29..

[code]

[2021-03-31 19:21] davesargrad commented on #410
Yay

[code]

[2021-03-31 19:23] davesargrad commented on #410
What is the best way for me to stand up a pod that uses the mongod command line to test out my database?

Also is it true that I can only connect to this database from a node within the cluster? I'd like to also test it by connecting from a node outside the cluster.

[2021-04-01 02:06] hayazan commented on #406
Ok i try

[2021-04-01 02:40] pityonline commented on #353
@bznein It works properly after the proper CRDs are created. Thanks.

[2021-04-01 02:49] hayazan commented on #406
The pod is up, it's okay

[2021-04-01 02:50] hayazan commented on #406
The pod is up, it's okay

[2021-04-01 02:59] hayazan commented on #406
There is a new problem, the pod prompts [main] Error saving history file: FileOpenFailed: Unable to open() file /.dbshell: Permission denied
![image](https://user-images.githubusercontent.com/18796907/113237371-477f0f80-92d9-11eb-8dcd-fd78d0fdc888.png)
![image](https://user-images.githubusercontent.com/18796907/113237421-5d8cd000-92d9-11eb-9ac3-a7eedcac400a.png)

[2021-04-01 11:14] davesargrad commented on #410
![image](https://user-images.githubusercontent.com/48793689/113286250-f01d7700-92b9-11eb-8491-c36aed99af73.png)

[2021-04-01 12:05] davesargrad commented on #410
Far better results if I use

`mongo "mongodb://learning-center-mongodb-svc.default.svc.cluster.local:27017/?replicaSet=learning-center-mongodb" --username my-user --password changeme --authenticationDatabase admin`

Services
![image](https://user-images.githubusercontent.com/48793689/113291131-8fde0380-92c0-11eb-95f0-0a840a78512c.png)

Replicasets
![image](https://user-images.githubusercontent.com

[2021-04-01 13:01] #367 closed

[2021-04-01 13:03] bznein commented on #406
Hi @hayazan, that looks like a Info message (it is marked with `I` and not with `E` as errors). Does it prevent you from achieving something?

If so, can you please open another issue? If this one is solved, can you close it?

Thanks

[2021-04-01 13:44] bznein commented on #410
I think deploying a simple `mongodb` pod could be done with something like this:

` kubectl create deployment --image=mongo mongo`

Yes, we don't support for now a way to access the db from outside the cluster

I think some people in the community have tried different ways to achieve this but I can't help you with it, I'm sorry

[2021-04-01 14:53] chatton commented on #380
Hi @lchdev

For now we have decided not to have the operator create Role/RoleBinding/ServiceAccount in each and every watched namespace. We would like to follow the Principle of Least Privilege in this case, and supporting this scenario in both namespaced and clusterwide operators will lead to an increase in complexity of the operator itself.

However, as you mentioned there should be separate Ser

[2021-04-01 14:55] LaumiH commented on #253
Hi @kwill4026, I did not use any ready-to-go chart. I set it up manually with the most basic configuration in a StatefulSet with 3 replicas. Then I connected the pods by hand.

[2021-04-01 16:20] davesargrad commented on #410
@bznein Hi. Thanks for your help. You are quite responsive. I don't really need to connect from outside the cluster.. it just seemed like an interesting way to test. Anyways, at this point I am good to go.

Thanks again.

[2021-04-01 23:15] steeling opened #414 "Missing serviceName in default configuration breaks clients"
Can't connect via headless service name due to missing `spec.serviceName` field.

Created using master today, and
[code]

Here's the command:

[code]

Trying to reach the service..
[code]

Looks like I can specify a serviceName, but this is not done by default, and does not work with the given example from the docs: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-con

[2021-04-01 23:19] steeling opened #415 "Is this operator considered production ready??"
Running into a few issues:

deleting a MongoDBCommunity resource doesn't clean up all the things, serviceName not provisioned, applying some updates gets accepted yet results in a no-op. I've been playing with this for this than less 2 hours and ran into those issues already.

Can you clarify, maybe highlight some of the known bugs, or put a warning that this is currently in development? Please ad

[2021-04-02 01:59] #406 closed

[2021-04-02 02:07] hayazan opened #416 "Use 0.5.2tag number code. The mongodb-agent version is 10.29.0.6830-1, and there is no permission in the pod #"
![image](https://user-images.githubusercontent.com/18796907/113372315-f5062780-939a-11eb-8c1d-867c96918e86.png)

I want to use the mongorestore command to import data to the mongo database, and it prompts no permission

![image](https://user-images.githubusercontent.com/18796907/113372416-431b2b00-939b-11eb-8031-96002dc5aed1.png)

[2021-04-02 02:08] hayazan commented on #416
![Uploading image.png…]()

[2021-04-02 02:18] hayazan commented on #416
I want to use the mongorestore command to import data to the mongo database, and it prompts no permission

[2021-04-02 02:30] hayazan commented on #416
whoami: cannot find name for user ID 2000

[2021-04-02 07:30] lchdev commented on #380
Hi !

Thanks for the feedback.

I'll try to have a look at it if I can.

[2021-04-02 19:00] steeling opened #417 "Deleting and recreating a MongoDBCommunity resource can get in a bad state"
Create a MongoDBCommunity resource, then delete it, then recreate it. The mongodb-agent fails with

` [.info] [src/mongoclientservice/mongoclientservice.go:sendClientToRequesters:709] [18:55:34.867] Server at <service>:27017 (local=false) is down.  Informing all client requests and disposing of client (0x0)`

which inevitably crash-loops the whole thing

[2021-04-06 09:33] theburi commented on #415
Hi
The current state of this project is Beta. v 0.5.2
We are working on stability and adding more features.

We intentionally don't clean up some resources to keep data persist.
It would be great if you could log issues that you find. It helps us to identify new use cases.

[2021-04-06 11:45] bznein commented on #417
Hi @steeling,

thanks for your report. I tried several times to reproduce the issue but was not able to.
Can you provide more details on the exact steps you took to get this error together with logs?

Thanks!

[2021-04-06 13:09] bznein commented on #416
Hi @hayazan,

with 0.5.2, the mongod container does not run as root anymore.
However, you can stil perform this operation by simply copying your `admin` folder in a different path (not `/`) in which the user has write permissions. For example, I managed to perform it by copying it into `/tmp` and then pointing `mongorestore` there.

Let me know if this works,
Nikolas

[2021-04-06 13:33] bznein commented on #414
Hi @steeling,

can you please show the output of `kubectl get sts mongodb -o jsonpath='{.spec.serviceName}'`?

The `describe` command doesn't seem to show the service name, but I am able to see the service name correctly configured in the statefulset:

[code]

In fact, the

[2021-04-06 18:28] davesargrad commented on #410
Hi @bznein

When I create a database using the following the user can't seem to write to any databases:

[code]

This is the failure that I see on insert:

![image](https://user-images.githubusercontent.com/48793689/113760540-56ecc700-96e4-11eb-8ffa-02f346a10408.png)

How can I modify the roles so that the user can do writes?

[2021-04-07 00:39] steeling commented on #414
Yes, you're correct it was there the whole time! What's odd is that it doesn't show up in nslookup, although when I set the value in the client it does work (I had a typo previously :/ )

Anyways, thanks for looking into this!

[2021-04-07 00:39] #414 closed

[2021-04-07 01:49] hayazan commented on #416
it works

[2021-04-07 04:57] javierguzman commented on #415
So in future this will be official (from mongo people) way to roll out a mongoDB replica set on Kubernetes? I am asking because I have seen stuff from other people like mongo-k8s-sidecar project or mongodb-replicaset helm chart.

I am building a web application and right now I am using only one pod of MongoDB, I would like to have a replica set so I can use "transaction sessions". So even though t

[2021-04-07 08:01] bznein commented on #410
Hi @davesargrad,

Please take a look here: https://docs.mongodb.com/manual/reference/built-in-roles/

for testing purposes, you could use `readWriteAnyDatabase` on `admin`, but that's clearly not recommended for real scenarios :)
I believe this could help you: https://docs.mongodb.com/manual/reference/built-in-roles/#mongodb-authrole-readWrite

[2021-04-07 08:44] davesargrad commented on #410
@bznein awesome.. i'll play with options.. right now im in a strictly testing mode.. so i tend to go for simplicity. pleasure to get your insights!

[2021-04-08 09:26] mayeuldalzon commented on #410
I have the same issue with 10.29

unless pod status is OK

`default       mongo-0                                       2/2     Running     0          65s`

[code]

[2021-04-08 09:30] bznein commented on #410
Hi @mayeuldalzon,

as discussed in other comments, this particular error message, while being misleading, is not an actual error and it is expected to show up once at startup.

We might work on changing the logging to make it clearer to the user, but if the pod shows ready 2/2 it should not be an issue.

@davesargrad since I expect other people to encounter this issue, would it be ok to close this

[2021-04-08 10:50] davesargrad commented on #410
Yes. You helped me with my issue, plus much more. Thanks for your help!

[2021-04-08 10:50] #410 closed

[2021-04-08 13:44] yveskaufmann opened #421 "MongoDB Version Upgrade stuck in pending state."
**What did you do to encounter the bug?**

I tried to upgrade from mongodb version 4.0.21 to 4.2.7 by modifying the mongodb.com/v1 resource
by following the steps described [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#upgrade-your-mongodb-resource-version-and-feature-compatibility-version).

I updated our mongodb.com/v1 resource like below.

[c

[2021-04-10 06:42] maxplank11 opened #423 "Not able to deploy mongodb.com_v1_mongodb_scram_cr.yaml successfully"
am trying to deploy mongodb.com_v1_mongodb_scram_cr.yaml which comes by default on an AKS cluster . I have only changed the replicaset count to 1 from 3. Do I need to create a secret with "my-user-password" name?

I even tried creating a secret with the same name but still no luck.

kubectl create secret generic my-user-password --from-literal=password=pass@word1

Error Message from POD Describe:*

[2021-04-10 16:55] #423 closed

[2021-04-12 09:37] diogopainho opened #425 "Agents in each pod don't start after a fresh deployment"
Good morning,
We deployed Mongo using the instructions described in: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#deploy-a-replica-set

However, we managed to have all the pods running, but the agents for each pod are in error.

NAME                                           READY   STATUS    RESTARTS   AGE
mongodb-0

[2021-04-12 09:41] bznein commented on #425
Hi @diogopainho,

can you provide us with the logs of the pods?

`kubectl logs mongodb-0 -c mongodb-agent` (and the same for pods 1 and 2), this might help us troubleshoot the issue

Nikolas

[2021-04-12 09:46] diogopainho commented on #425
Dear @bznein,

Please find attached the requested logs.

Thank you,
Best regards,
Diogo Rodrigues

[mongodb-0.log](https://github.com/mongodb/mongodb-kubernetes-operator/files/6295601/mongodb-0.log)
[mongodb-1.log](https://github.com/mongodb/mongodb-kubernetes-operator/files/6295602/mongodb-1.log)
[mongodb-2.log](https://github.com/mongodb/mongodb-kubernetes-operator/files/6295603/mongodb-2.log)

[2021-04-13 14:00] ossinkine opened #426 "After updating operator 0.5.1 to 0.5.2 all mongodb object became Pending status"
**What did you do to encounter the bug?**
After updating operator 0.5.1 to 0.5.2 all mongodb object became Pending status.
Operator log contains:
[code]

**What did you expect?**
Operator successfully updated, all mongodb objects continue work

**What happened instead?**
Operator successfully updated, all mongodb objects became Pending status

`kubectl describe pod operator`:
[code]

`kubectl desc

[2021-04-13 14:09] bznein commented on #426
Hi @ossinkine

Can you please attach the content of the file in the following path: `/var/log/mongodb-mms-automation/agent-health-status.json` for all pods?

Thanks

[2021-04-13 14:17] ossinkine commented on #426
If you mean `mongodb-agent` container of `monogdb-0` pod there is no such file:
[code]

[2021-04-13 14:19] bznein commented on #426
Hi @ossinkine, sorry I might have confused filepaths. Can you please attach both `healthstatus` and `readiness.log` here? (for a single pod is enough)

[2021-04-13 14:26] ossinkine commented on #426
I've cut duplicate lines
[code]
[code]

[2021-04-14 08:42] ossinkine commented on #426
I'm trying to set up a new mongodb cluster with the operator 0.5.2 but pod can't start:
[code]

[code]

[2021-04-14 08:48] bznein commented on #426
Hi @ossinkine, how did you install the operator?

Looking at the `mongodb-agent` container, it is using an old agent image that is not compatible with 0.5.2 (`quay.io/mongodb/mongodb-agent:10.27.0.6772-1`) while it should use the one specified here: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/manager/manager.yaml#L35

[2021-04-14 09:06] ossinkine commented on #426
You specified the `master` branch, I got the manifest from `0.5.2` tag: https://github.com/mongodb/mongodb-kubernetes-operator/blob/v0.5.2/config/manager/manager.yaml#L35

[2021-04-14 09:11] bznein commented on #426
Hi @ossinkine,

it looks like we have an error with `0.5.2` tag, will fix it but in the meantime you should be able to fix that issue by using the value on `master`

[2021-04-14 09:13] ossinkine commented on #426
Thank you, I'll return to `0.5.1` and will wait for a fix

[2021-04-14 12:35] ossinkine commented on #270
Hi guys, I guess the automated storage expansion should be implemented, so I suggest to open this issue

[2021-04-14 15:28] ossinkine commented on #270
@chatton @bznein @irajdeep @rodrigovalin How do you look at it?

[2021-04-15 10:00] bznein commented on #270
Hi @ossinkine,

This is not on our roadmap at the moment, but we are happy to accept external contributions to it.

[2021-04-15 11:16] ossinkine commented on #270
My point is if we have open issue external contributors can see it and maybe contribute. Or at least we can follow the issue and see when it appears in your roadmap.

[2021-04-15 15:31] bznein commented on #270
@ossinkine you can definitely open a new issue, or this one can be reopened, and we can add a `feature-request` label. Nothing against it!

[2021-04-16 13:42] ossinkine commented on #426
@bznein if I use agent image from `master` (`quay.io/mongodb/mongodb-agent:10.29.0.6830-1`), the initial issue is still present, MongoDB object is in `Pending` status

[2021-04-19 10:17] #380 closed

[2021-04-19 10:34] jamesbroadhead commented on #421
Could you please upgrade the Operator to the latest version & try again?

Before upgrading, please take a look at the notes about CR changes in our Release Notes

[2021-04-19 16:03] bznein commented on #425
Hi @diogopainho,

apologies for the delay.
If you still have the pods running, can you provide the content of the files in the following path:

`/var/log/mongodb-mms-automation/healthstatus`

Thanks!

[2021-04-19 16:30] bznein commented on #408
Hi @ghabarid

To be able to deploy the operator as a cluster-wide operator, you also need the two following steps (taken fron [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md#operator-in-different-namespace-than-resources)):

[code]

[2021-04-20 10:28] diogopainho commented on #425
Dear @bznein ,

Please find in attachment the required logs.

Thank you.
[agent-health-status.zip](https://github.com/mongodb/mongodb-kubernetes-operator/files/6342742/agent-health-status.zip)

[2021-04-20 10:31] yveskaufmann commented on #421
I forgot to report that a previously performed automatic gke cluster upgrade solved the issue for us.
The upgrade re-created the Statefulset which apparently solved the issue in our cluster.

The problem seems not so easy reproducible we did the same in a different environment and didn't had this issue.
When we encounter the problem again, we will try it with the latest operator version.

For us t