[2021-04-20 11:11] bznein commented on #425
Thanks @diogopainho,

from the file it looks like the readiness probe should not be failing.

Which version of the operator are you using?
Can you share the spec of your deployment?

Can you also share the following file?

`/var/log/mongodb-mms-automation/readiness`?

Thanks

[2021-04-21 15:41] lchdev commented on #426
Hi all,

I also tried to use the operator v0.5.2 (since i'm interested in the new `ignoreUnknownUsers` flag), but I did not manage to get any mongodb cluster up and running, no matter the agent version used (from master or from 0.5.2 tag).

However, it seems to work if I install everything from current `master` branch. Would it then be possible to have a proper working tag on the latest operator v

[2021-04-22 09:45] jwenjian opened #438 "v0.5.1 Operator in "CrashLoopBackOff" status"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. `git clone https://github.com/mongodb/mongodb-kubernetes-operator.git`
2. `cd mongodb-kubernetes-operator`
3. `git checkout v0.5.1`
4. `kubectl apply -f config/crd/bases/mongodbcommunity.mongodb.com_mongodbcommunity.yaml`
5. `kubectl apply -k config/rbac/ --namespace default`
6. `kubectl create -f config/manager/manager.

[2021-04-22 09:51] chatton commented on #438
Hi @jwenjian, thanks for the report.

I'm unable to reproduce this locally, would you be able to provide the logs of the crashing pod, using `kubectl logs <pod> -p` ?

[2021-04-22 10:58] jwenjian commented on #438
hello, I will post the log tomorrow morning。

发自我的iPhone

------------------ Original ------------------
From: Cian Hatton ***@***.***&gt;
Date: Thu,Apr 22,2021 5:52 PM
To: mongodb/mongodb-kubernetes-operator ***@***.***&gt;
Cc: Jiang Wenjian ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [mongodb/mongodb-kubernetes-operator] v0.5.1 Operator in "CrashLoopBackOff" status  (#438)

-----------

[2021-04-22 11:13] chatton commented on #426
Hi @lchdev, yes - we recently changed the user to a non-root user. This ended up causing some issues with existing deployments during an upgrade. A possible workaround is using an init container to change the permissions of the contents of the volume as per: https://github.com/mongodb/mongodb-kubernetes-operator/pull/431

[2021-04-22 11:35] lchdev commented on #426
Hi @chatton, thanks.

I guess the patch has to be applied after upgrading the operator to v0.5.2, right ?

[2021-04-22 11:48] chatton commented on #426
@lchdev yes, alternatively you could include this in the `spec.statefulSet.spec.template` override in the MongoDBCommunity resource.

[2021-04-23 00:52] jwenjian commented on #438
@chatton see logs below, only 2 lines

[code]

[2021-04-23 01:57] #251 closed

[2021-04-23 01:57] #250 closed

[2021-04-23 01:57] #245 closed

[2021-04-23 01:57] #244 closed

[2021-04-23 01:58] #235 closed

[2021-04-23 01:58] #162 closed

[2021-04-23 01:58] #131 closed

[2021-04-23 01:58] #120 closed

[2021-04-23 07:38] lchdev commented on #217
Hi all,

Bumping this topic to know if there are any plan to add SCRAM-SHA-1 support directly in the operator ? Honestly, since this auth mechanism is supported and not deprecated by MongoDB, I don't this why the operator should prevent its use.

Support for SCRAM-SHA-1 would help in migrating old applications not yet supporting SCRAM-SHA-256. Relying on a mutating webhook workaround feels a bit o

[2021-04-23 08:08] jwenjian commented on #438
@chatton additional context:

1. I setup the k8s cluster using kubeadm in a CentOS vm with a master node only, no worker node, all the pod will be scheduled at master node
2. total memory of the vm is 4Gb

[2021-04-23 09:35] rgherta commented on #217
I say the operator will see a better adoption by legacy systems running in private clusters.

[2021-04-26 02:18] hayazan opened #443 "I want to connect to the deployed mongo outside the k8s cluster. I can only connect it through the nodeport of svc. How to change the svc of ClusterIP to nodeport"
![image](https://user-images.githubusercontent.com/18796907/116020319-a0dc2380-a678-11eb-8a27-a22548f40628.png)

The default is clusterip, which cannot be connected outside the K8S cluster

[2021-04-26 02:18] hayazan commented on #443
![image](https://user-images.githubusercontent.com/18796907/116020407-c79a5a00-a678-11eb-96c6-ea54d07dee9d.png)

[2021-04-26 08:47] #443 closed

[2021-04-28 10:12] ties-s opened #452 "[questions] Seed lists?"
Does this operator expose seed list DNS anywhere? Since that would make it easier to connect to an auto scaling replica set.

[2021-04-28 11:34] chatton commented on #452
Hi @ties-s , the operator currently exposes a connection string in the status at `<resource-name>.status.mongoUri`. This dynamically adjusts based on the number of members specified.

However it does not currently include auth/tls parameters. Just the list of hosts.

[2021-04-28 11:53] ties-s commented on #452
How would I use that in a nodejs application for example?

[2021-04-29 14:40] NOLANKANGYI opened #458 "[Question] Adjust Priority for Replica Set Member"
Hello, I try to adjust priority for replica set member following the official document "https://docs.mongodb.com/manual/tutorial/adjust-replica-set-member-priority/".
So I connected to the primary pod and I made these changes. However the changes what I made didn't be saved. (It came back to the original. )
It seems that there is no way to edit rs.conf() directly in the pod. Anyone know how to fix

[2021-04-30 07:30] samaiyayashraj opened #460 "Persistent volume issue."
**What did you do to encounter the bug?**
Not able to configure storageclass.

Steps to reproduce the behavior:

**What did you expect?**
I'm sure how should I configure storageclass.

**What happened instead?**
Pods are going in a pending state

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operator Information**
 - Operator Version
 - MongoDB Image used

**Kuber

[2021-05-01 15:27] daniloasfigueiredo opened #462 "Readiness probe fail - mongodb-agent"
Hello, we instaled the last version of operator with mongodb 4.4.0 and the mongod container it works well but the mongodb-agent returns healthcheck and readiness probe error and sometimes the primary instance goes down without any error in mongodb service.

**What did you do to encounter the bug?**
kubectl describe pod mongodb-1

Events:
  Type     Reason                  Age    From

[2021-05-01 15:32] daniloasfigueiredo commented on #462
We instaled the last version of operator with mongodb 4.4.0, the mongod it works properly but the agent returns healthcheck error, we are using the defualt yaml configurations without any customization.

Another problem is sometimes our primary instance is down and failover to secondary replicaset did not work, making our cluster in read only state.

[2021-05-01 16:24] daniloasfigueiredo commented on #462
We tried to add "MANAGED_SECURITY_CONTEXT" in config files following reference below, but did not work
https://github.com/mongodb/mongodb-kubernetes-operator/issues/58#issuecomment-642528641

[2021-05-04 10:07] LMolr commented on #460
@samaiyayashraj : could you please fix the formatting? Thank you.

[2021-05-04 10:57] gopikrishnamanne commented on #89
HI, could you please elaborate more on this. I applied the `MANAGED_SECURITY_CONTEXT` environment variable in the operator config and the pod is failing continuously.

[2021-05-05 06:34] samaiyayashraj commented on #460
Hello @LMolr
I'm not able to configure the storage class in the custom resource yaml file.
PFA the yaml I'm using

---
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: example-mongodbzzzzzzzzzzzzz
spec:
  persistent: true
  members: 3
  type: ReplicaSet
  version: "4.2.6"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: my-user
      d

[2021-05-05 08:53] umrikar opened #464 "unable to create replicaset from sample"
Hi,
   I followed steps on https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#deploy-a-replica-set

but pods remained in pending state, as volume claims were not available , is there any additional step required to perform before this?

Events:
  Type     Reason            Age                    From               Message
  ----     ------            ----

[2021-05-05 18:23] samaiyayashraj commented on #460
[mongo.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/6429383/mongo.txt)

[2021-05-06 05:09] jwenjian commented on #464
Same  issue, attach below output of `kubectl describe pvc logs-volume-example-mongodb-0`

[code]

[2021-05-06 07:14] samaiyayashraj commented on #61
Hello @chatton , Sorry to reopen this issue but I still can't find the storageclass name in the CRD. PFA yaml I'm using create a MongoDB instance using MongoDB community operator.
Here basically I want to use my custom storageclass to create PVC but somehow it's not taking the SC name & it's going in pending state.
[example.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/6432508/

[2021-05-06 08:21] chatton commented on #61
Hi @samaiyayashraj

Are you trying to update the `storageClassName` of an existing StatefulSet? This property cannot be changed and you should get an error that looks like

[code]

However if you are creating a fresh resource and it is still not working, I am unable to produce that locally, I was however successfully able to **create** a resource with the overridden storage class name.

If you are

[2021-05-06 08:28] chatton commented on #464
Hi @umrikar @jwenjian

by default the operator will use whatever the current default storageclass is. This can be different based on your provider. You are able to specify a storageclass of your choosing.

You can refer to #157 with examples for this.

Please let me know if this helps you fix the problem!

[2021-05-06 12:53] antonlisovenko commented on #438
hi @jwenjian

Do you still have this problem?

Have you tried the following:
- running the other kubernetes clusters locally. Kind/Minikube/k3s are the most common options. This would ensure there are no global environment problems affecting the work of the Operator and the error is specific to K8s cluster installed by `kubeadm` only.
- it's important to catch what real error is happening in the c

[2021-05-06 14:12] antonlisovenko commented on #460
hi @samaiyayashraj

The snippets are still hard to read - can you please format them?
You can use the github formatting buttons

[2021-05-06 15:10] jmcollin78 commented on #256
Same for me 👎 (

[2021-05-06 16:53] sangnguyen7 opened #467 "Cannot list resource "mongodbcommunity" in API group "mongodbcommunity.mongodb.com" at the cluster scope"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
I got this issue "cannot list resource "mongodbcommunity" in API group "mongodbcommunity.mongodb.com" at the cluster scope" as long as I deploy the operator on a namespace difference than the default namespace..

Here is the log I'm getting from a mongodb-kubernetes-operator pod where I deployed on a namespace named "mongod

[2021-05-06 21:47] stefangraber commented on #462
We have the same issue with 4.4.4 on GKE 1.17.17

[2021-05-06 23:00] jmcollin78 opened #468 "Ability to connect to MongoDB via SRV DNS Record"
Original title: Impossible to connect to MongoDB via SRV DNS Record

**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Install MongoDB via mongodb-kubernetes-operator

**What did you expect?**
A client application should be able to connect to the MongoDB Cluster via an connection string using SRV DNS record like:

`mongo mongodb+srv://mongodb-svc.mongodb-ns.svc.cluster.loc

[2021-05-07 05:02] umrikar commented on #464
@chatton , can i specify my own persistent volume and claim in statefulset, i did try it but its taking data-volume and logs-volume only,

apiVersion: mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: example-mongodb
spec:
  members: 3
  type: ReplicaSet
  version: "4.0.6

can i specify persistent volumes and claims inside above manifest, i did try but it didnt change anything it was still u

[2021-05-07 05:25] umrikar commented on #464
i looked at example given there and tried to apply it i got below error
**no matches for kind "MongoDB" in version "mongodb.com/v1"**

`apiVersion: mongodb.com/v1
kind: MongoDB
metadata:
  name: volume-claim-templates-mdb
spec:
  members: 3
  type: ReplicaSet
  version: "4.2.6"
  persistent: true
  statefulSet:
    spec:
      volumeClaimTemplates:
        - metadata:
            name: data-volume

[2021-05-07 11:46] antonlisovenko commented on #460
hi @samaiyayashraj

Provisioning of PVs highly depends on the configuration of the Kubernetes cluster and an underlying infrastructure. In practice most of the public cloud providers support dynamic PV provisioning so it's enough to omit `storageClass` completely and specify the proper size requirements that can be met by the provider. In AWS for example the cluster created by `kops` utility allow

[2021-05-07 14:41] bartlomiejwulff opened #470 "MongoDB Repair Database after NFS crash"
Hello,

any idea how I could run the `--repair` function for mongo?

Thanks in advance!

[2021-05-07 17:44] neo-neo123 opened #471 "Database authentication fail"
have deployed the following replicaset and it is working fine. When I try connect to the instance I get 'authenticaton failed ' error.

kubectl get mdbc
The instance is running mode.

mongo localhost:27017 -u my-user -p admin@1234
MongoDB shell version v3.6.8
connecting to: mongodb://localhost:27017/test
Implicit session: session { "id" : UUID("516c5483-f498-43fd-b79f-adc50a9c52d7") }
MongoDB serv

[2021-05-07 18:08] #471 closed

[2021-05-07 18:30] samaiyayashraj commented on #61
Hi @chatton Thanks for the reply.
So if you specify a storageclass which is not the default storageclass of your cluster then you can probably reproduce the issue.
Here in the attachment, you can find the yaml file I'm using to create the mongoDB instance.
Here I'm using
storageClassName: "vsan-default-storage-policy" & this is not the default SC of my cluster but when I make this as default SC th

[2021-05-07 21:32] jmcollin78 opened #472 "Unable to make PodAntiAffinity works with Operator 0.6.0"
**What did you do to encounter the bug?**
I try many combination to make PodAntiAffinity works without success.
found in reading the code (but I'm not a Go dev):
[code]
or like found here: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
[code]
or like found here: https://github.com/mongodb/mongodb-kubernetes-operator/issues/426

[code]

**What did you expect?**
Each pod sh

[2021-05-08 05:48] LMolr commented on #460
Not sure if this can help, but we're successfully mounting data and log volumes with a specified Storage Class.
Our current setup is a K8s cluster running on VMs on Azure (no AKS).
The operator is installed from this repo at tag `v0.6.0`.

[code]

[2021-05-08 18:20] tobias-neubert commented on #464
Hi, I too am not able to create a mongodb stateful with a different error. But your resource definition looks strange to me. The definition of the storage to use is not as described here: https://docs.mongodb.com/kubernetes-operator/v1.10/reference/k8s-operator-specification/. At the end of this section you can find an example. Nowhere in that description I can find the use of a volumeClaimTemplat

[2021-05-08 18:40] tobias-neubert opened #473 ""logs-volume-system-mongodb-0" is forbidden: Internal error occurred"
Hi, most likely this is not a bug but I made a mistake. But because I cannot find any more information that can help solving the problem, I want to ask for help here.

The StatefulSet that is being created by the operator reports the following error and I don't know what to do.

[code]

The definition of the ReplicaSet is as follows:

[code]

The volume that I want the pod to use is defined as fol

[2021-05-08 21:54] tobias-neubert commented on #460
Ah, great, that works for me. But is it possible to save both, logs and data, to only one volume? I read about it here https://docs.mongodb.com/kubernetes-operator/v1.10/reference/k8s-operator-specification/#spec.podSpec.persistence.single but I don't know how to get working.

[2021-05-09 01:34] daniloasfigueiredo commented on #462
As a workaround, we disabled the readiness probe from mongodb-agent.

[2021-05-09 08:07] tobias-neubert commented on #464
Ok, No you are right, volumeClaimTemplate works. I think I am confused about the available documentation :-) The solution that works for me is described here: https://github.com/mongodb/mongodb-kubernetes-operator/issues/460

[2021-05-09 08:11] tobias-neubert commented on #473
Ok, now I am confused. The solution that works for me is described at the end of [this](https://github.com/mongodb/mongodb-kubernetes-operator/issues/460) issue.

I followed the enterprise operator documentation ([here](url)).

So is it possible to use one volume for both, data and logs, as described in the documentation of the enterprise operator? And if so, how?

[2021-05-09 10:43] ties-s commented on #462
I also have this issue:
`ERROR	versionhook/main.go:49	Error getting the agent health file: could not open file: open /healthstatus/agent-health-status.json: no such file or directory`

[2021-05-09 11:08] chatton commented on #462
Hi @daniloasfigueiredo,

The error message you are referring to is actually a bit misleading, this message is coming from a **post-start hook**, not the readiness probe.

The post start hooks reads a file that is written by the `mongodb-agent` container and is only used during version upgrades. This file will not exist upon startup so it looks like we need to re-evaluate the severity of this log m

[2021-05-09 18:52] shardulsrivastava commented on #256
looking for support for Mongo DB 3.6 , any updates ??

[2021-05-09 22:03] jmcollin78 commented on #256
You are right. I migrate to MongoDB 4.5.4.

[2021-05-09 22:10] daniloasfigueiredo commented on #462
Hi @chatton, thanks for you response, makes sense and it's clear for me about these erros - mongod container log and mongodb-agent readiness probe.

We have another problem that our primary instance goes down unexpectedly, but we upgrade mongodb to version 4.4.5 and replicaset count from 2 to 3 to enable automatic primary role promote and "failover", we will monitoring system logs and metrics in n

[2021-05-10 00:51] daniloasfigueiredo commented on #462
Hi @chatton,

![image](https://user-images.githubusercontent.com/81190453/117592828-7d04ed00-b110-11eb-844e-ada7fa9772ef.png)

[2021-05-10 00:52] daniloasfigueiredo commented on #462
Hi @chatton

is it expected this amount of errors for mongodb-agent readiness probe?

![image](https://user-images.githubusercontent.com/81190453/117592911-be959800-b110-11eb-9940-a44ed9d580cf.png)

[2021-05-10 01:20] daniloasfigueiredo opened #474 "Readiness probe fail - mongodb-agent"
Hi @chatton

is it expected this amount of errors for mongodb-agent readiness probe? because in this scenario the mongodb-agent don't accept any traffic.

![image](https://user-images.githubusercontent.com/81190453/117592911-be959800-b110-11eb-9940-a44ed9d580cf.png)

We tried to increase the number of replicaset and upgrade our cluster, but after this process only the first instance is running wit

[2021-05-10 01:50] jwenjian commented on #464
I tried with custom storage class (LPV) OK with members == 1

[2021-05-10 02:11] jwenjian commented on #460
https://github.com/mongodb/mongodb-kubernetes-operator/issues/460#issuecomment-835120945 by @LMolr works for me, I used a LPV storage class to deploy one single mongodb community successfully

[2021-05-10 02:13] jwenjian commented on #438
hi @antonlisovenko , I switched to v0.6.0, it works, didn't try v0.5.1 yet

[2021-05-10 02:58] daniloasfigueiredo commented on #474
After review all config files, update services and delete and recreate statefulset manually, it works now.

probably a configuration mistake :-)

[2021-05-10 02:58] #474 closed

[2021-05-10 03:09] jwenjian opened #475 "stange user configured in MongoDB Pod (I have no name!)"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. deploy a mongodb replica set successfully
2. execute `kubectl exec -it <pod name> -n <namespace> -- /bin/bash`

**What did you expect?**
I should be a root user in the /bin/bash terminal of mongodb pod

**What happened instead?**
It shows me a user with name: `I have no name!` and `whoami` shows me an error:

[code]

**S

[2021-05-10 06:26] irajdeep commented on #460
Hi, @samaiyayashraj  could you please check if the spec provided in this comment: https://github.com/mongodb/mongodb-kubernetes-operator/issues/460#issuecomment-835120945 works for you?

[2021-05-10 06:32] LMolr commented on #460
@tobias-neubert you are referring to the doc from Enterprise Operator, while this is the Community Operator.

There are many issues related to people confusing the two Operators, mostly because (AFAIK) on older versions the CRD were both named `MongoDB`, while now the Community CRD is named `MongoDBCommunity`.
Another reason for the confusion is that web searches are likely to return pages from th

[2021-05-10 06:36] irajdeep commented on #460
Another reason for the confusion is that web searches are likely to return pages from the Enterprise Operator docs.

That is right, I think we should probably explicitly mention it in the Community operator README to avoid the confusion.

[2021-05-10 09:27] tobias-neubert commented on #460
Great, thank you for the clarification.

[2021-05-10 13:29] jamesbroadhead commented on #475
Hi @jwenjian -

Thanks for filing this ticket.

What you're seeing is a result of us setting a uid (in this case, 2000), but not creating a user account in the docker image. We set a uid for security reasons - see https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ for more context.

Although the prompt may be unexpected, we don't think that not having created a user account

[2021-05-10 13:38] jamesbroadhead commented on #468
@jmcollin78 glad you managed to figure this out!

We know about this issue - but also believe that setting the port like this has compatibility problems with istio. We have some work planned to investigate and try to find something which works for both use-cases.

related: #146

[2021-05-10 13:43] jamesbroadhead commented on #458
Hi @NOLANKANGYI -

This isn't supported via the Operator yet. As you saw, making manual changes to RS config will get reverted. I'll tag this as a feature request.

James

[2021-05-10 15:20] jmcollin78 commented on #468
Glad to here that. In my opinion, SRV records is a MUST have. Istio is more a nice to have.

Moreover, I don't see why this could cause an issue on Istio to name the port.

[2021-05-11 11:53] chdanielmueller commented on #299
@jamesbroadhead Some months have passed. Any news on the upstream dependencies?

[2021-05-11 12:21] jmcollin78 commented on #472
Hello, I've got finally makes it works successfully with this configuration:

[code]

I hope this will helps someone.

May be a little documentation about this or an example is a good idea.
Note: it don't works with `requiredDuringSchedulingIgnoredDuringExecution`

[2021-05-11 15:44] daniloasfigueiredo commented on #462
@chatton,

Sometimes our primary instance is goes down unexpectedly (without any mongodb service error and mongod and mongodb-agent container is up and running) and we did a pod restart, but the mongodb-agent don't start properly with readiness probe error x4, x10, x30, x100, etc...

![image](https://user-images.githubusercontent.com/81190453/117844397-070a9e00-b256-11eb-9ee5-33d87ea49e29.png)

![

[2021-05-11 17:54] tobias-neubert opened #481 "Reuse preexisting volumes"
In general - from my undersanding - the `statefulSet` content is a "regular" StatefulSet definition, so I assume that one can follow the general principles when customizing it.

_Originally posted by @LMolr in https://github.com/mongodb/mongodb-kubernetes-operator/issues/460#issuecomment-836243821_

Ok, I am sorry, I did not want to open a new issue. This is a response to a comment of my last issu

[2021-05-11 18:35] adthonb commented on #462
I have the same problem with the readiness probe. The error comes from `mongod` container. The StatefulSet doesn't get a running state and only one container running in the pod.

**Operator Information**
- mongodb-kubernetes-operator 0.6.0
- mongodb 4.2.14

**Kubernetes Cluster Information**
- My Own Kube Cluster
- Version 1.20.2

[2021-05-11 19:34] caiorcferreira opened #482 "Operator overwrites Pod annotations"
**What did you do to encounter the bug?**
If deploying a Replica set with the below `MongoDBCommunity`, the Pod annotations defined on the `statefulSet.template.metadata` are overwritten by the annotation `agent.mongodb.com/version` after the `mongodb-agent` reachs its goal state.

[code]

I belive the code responsible for this behaviour is this function: https://github.com/mongodb/mongodb-kuberne

[2021-05-12 08:46] puertal opened #483 "Is SplitHorizon functional? External access failure"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Deploy the next MongoDBCommunity resource:
[code]

**What did you expect?**
The creation of a 3 nodes MongoDB cluster accessible from outside with this connection:
`mongo --host ds-mongodb/node1:31110,node2:31111,node3:31112
`

**What happened instead?**
MongoDB still renames the hosts to the internal ones and the connectio

[2021-05-12 09:06] tobias-neubert commented on #481
The strange thing is, that the one claim data-volume-system-mongodb-0 is now bound to two volumes, although the access mode is ReadWriteOnce. But the preexisting volume, the one that I would like the mongodb to bind to, is "available", while only the newly created volume is "bound".
<img width="1181" alt="Bildschirmfoto 2021-05-12 um 11 05 46" src="https://user-images.githubusercontent.com/5521862

[2021-05-12 09:24] chatton commented on #462
Hi @daniloasfigueiredo

Would you be able to provide some more logs to help us diagnose it?

The logs of the readiness probe can be found at `/var/log/mongodb-mms-automation/readiness.log` in the agent pods.

The readiness probe indicates whether or not the agent has reached the desired state, so some number of readiness probe failures when performing operations such as initial rs config, scaling,

[2021-05-12 09:25] chatton commented on #462
@adthonb what sort of errors can you see in the statefulset?

Are you running a cluster locally? If so you could try lowering the resources as mentioned above.

[2021-05-12 11:59] adthonb commented on #462
@chatton Thank you for pay attention to my problem. I can run it successfully now.

This below this my error. Sometimes it make me confuse and don't sure what's the problem.

[code]

[2021-05-12 12:02] chatton commented on #462
Hi @adthonb , sorry about the confusion - this is actually just a bad choice of log severity that we need to address.

It's fine if this file does not exist when initially creating the resource. There are certain situations in which this file not existing should be an actual error. This is likely not an actual error.

Can you confirm that your mongodb replica set is up and running?

[2021-05-12 12:07] adthonb commented on #462
@chatton Yes, I confirm it running successfully.

![image](https://user-images.githubusercontent.com/18661601/117972398-4cfa5b80-b355-11eb-96d2-ac0ec9949be5.png)

[2021-05-12 12:09] chatton commented on #462
@adthonb  okay good to hear, in this case you can dis-regard this error message and we will re-assess the severity level.

[2021-05-12 15:03] tobias-neubert commented on #481
Ok, next try: I created the PVCs manually. That prevented the two new volumes from being created, but the mongodb pod did not start because it thought the PVs were in use by someone else.

[2021-05-13 09:24] tobias-neubert commented on #481
Ok, I have a solution. It has nothing to do with the operator, so, sorry again for this issue. It works simply by selecting the volume by using the matchLabels selector.

[code]

[2021-05-13 09:24] #481 closed

[2021-05-13 10:07] chatton commented on #481
I'm glad you got everything working @tobias-neubert !

[2021-05-13 11:25] dgdevops opened #487 "Cannot add label and additional port to the default clusterIP service"
Hello Everyone,

I am trying to add custom port & label to the default clusterIP service (<rs_name>-svc) in order to enable metric scraping for Prometheus. To achieve this Prometheus is looking for kubernetes service(s) with a specific label & port name.
As I checked the default service that the Operator creates would be a great fit if it had the label and custom port Prometheus is looking for. Is

[2021-05-13 11:28] chatton commented on #487
Hi @dgdevops

There is currently no support for adding arbitrary values to the service created by the operator. I will mark this issue as a feature-request.

In the meantime, you can make any modifications you need to the created service directly. The operator will not revert these changes.

[2021-05-13 11:33] dgdevops commented on #487
Thank you @chatton forthe quick response.

[2021-05-13 14:28] caiorcferreira opened #488 "Operator crashes whem there is more ReplicaSet memebers than replicaSetHorizons entries"
**What did you do to encounter the bug?**
1. Deploy a ReplicaSet with 3 members and the corresponding `replicaSetHorizons` with 3 entries.
2. Scale the ReplicaSet to 4 members, **without** adding a new `replicaSetHorizons` entry.
3. The operator will crash due to a handled panic:
[code]

**What did you expect?**
If the configuration cannot be performed with a size mismatch between members and `rep

[2021-05-13 23:54] steeling opened #489 "Node affinity error on udpate"
On a regular update, getting a node affinity error

[code]

I believe this is due to the PVC being attached to the node, and the pod not being able to reattach to that specific node. Any tips to avoid this?

[2021-05-14 07:56] #482 closed

[2021-05-14 11:18] irajdeep commented on #489
Hi @steeling, indeed this seems to be a PVC/Node infrastructure issue.

There are some ideas mentioned in this link: https://stackoverflow.com/questions/51946393/kubernetes-pod-warning-1-nodes-had-volume-node-affinity-conflict. Could you please try them out and let's know if it works?

[2021-05-14 11:24] irajdeep commented on #172
The documentation has been updated this issue was created.
The current document points to the right path for CRDs

[2021-05-14 11:24] #172 closed

[2021-05-14 13:30] caiorcferreira commented on #488
Hi @chatton, if you could help me with a direction because I'm not familiar with the internals of automation configuration what should be the best outcome in this case? Knowing that I can make a PR to solve this.

[2021-05-14 13:43] chatton commented on #488
Hi @caiorcferreira,

you're right this is definitely cause of the panic. In the case of `members != len(replicaSetHorizons)`, this is not a validation that is possible via the CRD, so I think it could be a good option to validate the state of the resource at the beginning of the Reconciliation loop.

Perhaps [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/dcddbfb1a19e3fa65454e39

[2021-05-14 13:50] caiorcferreira commented on #488
Nice! I will work on this as soon as I can, thanks for the support 😄

[2021-05-14 21:30] steeling commented on #489
I ended up just deleting all the PVC's and the pods and recreating, since this was in a dev cluster. Since these PVC's are created by the operator, is there a way to implement a fix? I'm a little afraid of this happening in production.

Is there a way to accomplish this through the operator to specify the affinity, or better yet to prefer not node-bound PVC's?

[2021-05-17 08:02] antonlisovenko commented on #438
Glad to hear this got fixed.
Closing the ticket then - feel free to reopen if you encounter the same issue.

[2021-05-17 08:02] #438 closed

[2021-05-17 17:01] tibulca commented on #236
Hi @bartlomiejwulff,
if this is still an ongoing issue can you please attach here 2 sets of files (taken with at least 30 minutes in between) with the output of the following kubectl commands? We think your mdb custom resource is being modified, causing the StatefulSet restarts

[code]

[2021-05-17 17:22] bartlomiejwulff commented on #236
Hi @tibulca

thanks for troubleshooting it! Unfortunately I'm not able to provide these files, as the issue is gone after the upgrade to the newest operator release and moving to FluxCD 2

Great work and thanks!

[2021-05-17 17:22] #236 closed

[2021-05-18 10:17] samaiyayashraj commented on #460
Hello guys, did anyone got a chance to look into the above issue. Any help is appreciated. @irajdeep @LMolr

[2021-05-18 10:27] antonlisovenko commented on #489
hi @steeling

could you please provide the specification of the replica set Custom Resource you are creating/updating?
I'm interested if you provide the PVC templates specification as the Operator doesn't create any PVCs.

This is a working example of the PVC templates: https://github.com/mongodb/mongodb-kubernetes-operator/blob/2c77ad7f25661a0a35253b9860d2491a636606bb/controllers/testdata/volume_

[2021-05-18 10:38] antonlisovenko commented on #460
@samaiyayashraj
The Operator does nothing special about persistent volume claims and storage classes - this part is configured solely by the user. As mentioned above the user needs to configure the PVC templates by providing the `statefulset.spec. volumeClaimTemplates` and the only thing Operator will do is merge this configuration into the `StatefulSet` configuration it generates. Operator doesn'

[2021-05-18 18:15] steeling commented on #489
Gotcha, ya I didn't add any originally, is that the recommendation? Note this is on AKS

[code]

[2021-05-19 00:35] daniloasfigueiredo commented on #462
Hi @chatton, follow attached the requested files and logs.

[mongodb-agent logs.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/6505072/mongodb-agent.logs.txt)
[mongod-logs.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/6505073/mongod-logs.txt)
![pod_status](https://user-images.githubusercontent.com/81190453/118739785-a9132300-b820-11eb-9fec-ffa14e039713.PNG)
!

[2021-05-19 01:03] #462 closed

[2021-05-19 16:29] antonlisovenko commented on #489
ok, have double-checked that the Operator always creates a persistent ReplicaSet so the Statefulset specification will get non-empty `sts.spec.VolumeClaimTemplates` configuration. It's possible to tweak those templates using the link that I provided above.
Operator doesn't control the Persisten Volumes created - it only ensures that the VolumeClaimTemplates are created correctly. The volumes provi

[2021-05-20 09:40] umrikar commented on #481
@tobias-neubert  I also tried to create resource with preexisting persistent volumes but i see below error
**Error creating /data/automation-mongod.conf : open /data/automation-mongod.conf: permission denied**

for mongodb-agent container, Have you done any additonal steps to set permissions?

[2021-05-20 10:19] tobias-neubert commented on #481
In regard to the persistent volumes and claims? No. But of course I followed all the other steps described in the documentation, for example, create the necessary roles and rolebindings. This is especially important if you, like I did, try to create the mongodb in a different namespace than the mongodb-kubernetes-operator.

Moreover, to me it seems that persistent volumes are one of the borders, w

[2021-05-20 10:40] umrikar commented on #481
@tobias-neubert  Thanks, I think issue i have is related to PV, I have hostPath volume and it has filesystem in it and owner and user are root on base VM for that partiular path, I will look further

[2021-05-21 10:08] umrikar commented on #481
@tobias-neubert have you tried with statefulset having multiple members, i see you tried with single member earlier

[2021-05-21 10:21] umrikar commented on #464
Hi,
      I have below PV and PVC which is present for all nodes in my k8s cluster , i want to use same to bind volumes in pods created using statefulset, is there way to do it.
**#PV**
[code]

#**PVC**
[code]

**I did try like below to use same persistent volume but it didn't work, It was still looking for claims logs-volume-system-mongodb-0 and data-volume-system-mongodb-0**

---
apiVersion: mon

[2021-05-21 12:26] #203 closed

[2021-05-21 15:22] ayhanap commented on #182
I have the same issue of reconcilation cannot be completed. But mongodb is up and running. I had the object has been modified error but thats gone when I restarted the operator. Now its indefinetly doing reconcilation and updating MongoDB resource like every 100ms. And there seems to be no error in operator logs.

`2021-05-21T14:40:17.257Z	INFO	controllers/replica_set_controller.go:126	Reconciling

[2021-05-23 02:04] #173 closed

[2021-05-23 02:04] #197 closed

[2021-05-23 02:04] #200 closed

[2021-05-23 02:04] #212 closed

[2021-05-23 02:04] #215 closed

[2021-05-23 02:04] #218 closed

[2021-05-23 02:04] #222 closed

[2021-05-23 02:04] #226 closed

[2021-05-23 02:04] #233 closed

[2021-05-23 02:04] #254 closed

[2021-05-23 02:04] #257 closed

[2021-05-23 02:04] #268 closed

[2021-05-23 02:04] #269 closed

[2021-05-23 02:04] #314 closed

[2021-05-23 23:19] spike008t commented on #483
I have the same issue

[2021-05-24 15:43] rodrigovalin commented on #467
Hi @sangnguyen7,

For the operator to be able to watch resources in a different namespace, you should follow the steps in "[Operator in Different Namespace Than Resources](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md#operator-in-different-namespace-than-resources)".

This way, the `mongodb-kubernetes-operator` Role will be able to watch over resources

[2021-05-27 10:41] vasRK opened #510 "PVC is always created with fixed 10Gi for data and 2Gi for logs no matter what is specify in deployment"
pvc is always created with fixed 10Gi for data and 2Gi for logs no matter what is specify

**What did you expect?**
pvc is not created with 64Gi, always PVC size is set to 10Gi

**Screenshots**

<img width="1440" alt="upload_mongo" src="https://user-images.githubusercontent.com/11040197/119811769-169c0f00-bf05-11eb-9933-0df6c0a363bd.png">

**Operator Information**
 - Operator Version: quay.io/mong

[2021-05-27 11:28] bznein commented on #510
Hi @vasRK,

it looks like the spec you are using are coming from our enterprise operator. In the community operator we do not have fields such as `persistence.single` and `persistence.multiple`.

The following is an example of how you can modify the resource to specify a 64Gi storage for the data volume:

[code]

[2021-05-27 11:35] vasRK commented on #510
@bznein thanks for quick reply works like a charm..

[2021-05-27 11:38] bznein commented on #510
Glad to hear that!

Closing the issue as it has been resolved, feel free to reopen it if needed!

[2021-05-27 11:38] #510 closed

[2021-05-27 14:28] rodrigovalin commented on #487
Hello @dgdevops,

This is not something we will implement in the community operator; the service can be updated for your needs or even a new, different Service can be created.

I will close this issue for now.

[2021-05-27 14:28] #487 closed

[2021-05-31 07:56] suhavan-gupta commented on #267
I was able to access the MongoDB cluster running on Kubernetes using mongodb-kubernetes-operator(community) using the following commands

`kubectl port-forward svc/my-mongo-db 27018:27017`

` mongo --port 27018 --username XXXX --password XXXX`

This technique always connects me to the first pod(which sometimes acts as a secondary node in the MongoDB cluster). I think svc should be intelligent enou

[2021-05-31 09:59] fireba11 commented on #182
Is there any way to figure out what exakt change the operator is trying to do?
I ended up in that state again, and if i knew i could roll it back to have a clean state again. But sadly this time i got no idea *what* to change back. Now i can't do any changes anymore ...

[2021-05-31 10:16] chatton commented on #182
Hi @johnlinvc , @paweltatarczuk

The issue regarding cleaning up of services will be addressed in the next release

The issue of excessive reconciliations is a regression that is also being addressed in the next release.

@fireba11 just to confirm, do you mean you get the `object has been modified` errors and the operator never reaches running state? These should be transient errors, generally eit

[2021-05-31 11:27] fireba11 commented on #182
Hi @chatton
currently (sadly in production) my operator tries to reconsile mongodB every 10 seconds.
It's cancelled with "StatefulSet mongo/mongodb is not yet ready, retrying in 10 seconds"
So there is a change operator wants to roll out but doesn't because he (correctly) waits for it to be in ready state to start.

mongodb.mongodb.com/mongodb is still in phase pending, but i got no idea why.

And

[2021-05-31 12:35] fireba11 commented on #182
I just tested upgrade to v0.6.0 and noticed i have to delete everything except PV for the upgrade, so it should get cleaned up then ...

[2021-05-31 12:41] chatton commented on #182
@fireba11 there was a change of user from root to non-root. This transition means that the upgraded agent will not have permissions to access the old /data dir without some additional work. I will try and perform this upgrade (0.2.2 -> 0.6.0) if I have some time.

[2021-05-31 13:41] fireba11 commented on #182
@chatton no need, i figured out all steps needed and will make a pull request with a detailed description to the docs :-)

[2021-05-31 13:53] chatton commented on #182
At @fireba11 that's great to hear I'm glad you got it working, I already did the repro so I will leave this information here for you in case any of it is useful for your PR

git checkout tags/v0.2.2
kubectl apply -f /Users/cianhatton/checkouts/mongodb-kubernetes-operator/deploy/

* apply this file
[code]

Once resource is in running state. Do the following
* delete operator deployment
* delete crd

[2021-05-31 14:59] flmmartins opened #519 "caConfigMapRef configuring cert"
Hello,

I would like to generate the certificate using cert-manager and letsencrypt. Currently cert-manager only support the creation of the secret which contains the .tls and .key but not the ca.crt itself.

Is it possible to omit caConfigMapRef from the configuration?

Also is it possible to have an integration with cert-manager and mongo operator? Tks!

[2021-06-01 02:19] #359 closed

[2021-06-01 10:29] rodrigovalin commented on #519
Hello @flmmartins thanks for reaching us.

The `caConfigMapRef` attribute is optional, so can leave it out if you don't need it. You need to make sure that the certificates you want to trust are part of the validation chain in the Pods and you should be good to go.

If you are using your own (not-publicily recognizable) CA authority, you'll have to provide this CA for MongoDB to work, somehow. If

[2021-06-02 15:31] flmmartins opened #525 "Accidental changes to admin and others users breaks authentication"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Did some manual changes to admin user via mongo cli

2. Then Mongo tried to recreate the user but couldn't. I got this error:
 mongodb-1:mongodb-agent [2021-06-02T15:14:09.887+0000] [.error] [src/mongoctl/authctl.go:UpsertUserScram:446] [101] <mongodb-1> [15:14:09.887] Error inserting user admin in db  : <mongodb-1> [15:

[2021-06-02 15:55] dgdevops commented on #483
Same issue here

[2021-06-02 16:04] chatton commented on #525
Hi @flmmartins

Could you provide the contents of of the corresponding config secret that was created by the operator? This should be called `mongodb-config` In your case. In particular I'm interested in the decoded contents of the `auth.usersWanted` array.

Note: this array will contain credentials in the fields  `scramSha1Creds` and `scramSha256Creds`, the only thing we need to check is the user

[2021-06-03 09:02] rodrigovalin opened #527 "test issue!"
testing github notifications

[2021-06-03 09:02] #527 closed

[2021-06-03 09:06] flmmartins commented on #525
Thanks for the fast reply!

I added the ignoreUnknown but still when I try to auth with admin against the database:

[code]

Here is the file:

One interesting thing I noticed is that in one of the iterations I created a root user to the YAML file just to see if I could regain access of the cluster. I removed from the final version but I notice that it's still in the config.

[code]

[2021-06-03 09:52] #352 closed

[2021-06-04 07:56] vasRK commented on #127
`
apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes.io/azure-dns-label-name: example-mongodb-prod
  name: example-mongodb-prod-lb
spec:
  loadBalancerIP: 111.111.111.111
  type: LoadBalancer
  selector:
    statefulset.kubernetes.io/pod-name: example-mongodb-0
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017

`

I did it with a cluster loadbala

[2021-06-04 08:01] vasRK commented on #483
not sure about SplitHorizon i access mongodb outside cluster using a loadbalancer

`
apiVersion: v1
kind: Service
metadata:
annotations:
service.beta.kubernetes.io/azure-dns-label-name: example-mongodb-prod
name: example-mongodb-prod-lb
spec:
loadBalancerIP: 111.111.111.111
type: LoadBalancer
selector:
statefulset.kubernetes.io/pod-name: example-mongodb-0
ports:
- protocol: TCP
port: 27017
targetP

[2021-06-04 08:10] puertal commented on #483
Dear @vasRK , you are configuring one POD inside the StatefulSet.
If this POD fails or is not the Master node I think you won't be able to connect with the Mongo cluster.
You do not have HA.
That is why we need to use SplitHorizon to access the cluster from outside the K8s environment (DBAdmins).
Regards.

[2021-06-04 08:56] rodrigovalin commented on #525
Hello @flmmartins, we are still trying to figure out what's going on in this case. I have a few questions:

1. After applying the changes suggested, in https://github.com/mongodb/mongodb-kubernetes-operator/issues/525#issuecomment-853153533, do you still see the errors reported in your first comment (the one with `Error inserting user admin in db`)
2. From your connection string, what is `gssapiSe

[2021-06-04 09:27] flmmartins commented on #525
Hey Rodrigo,

1. Yes.  I will paste the full log this time. I left the credentials there because I will change them later anyway....
[code]

2. To be honest I have no idea. I imagine this comes by default. To login I am doing:

[code]

I also tried from another pod. I installed a mongo client and I want to connect to Primary so I do:

[code]

[2021-06-04 10:15] suhavangupta commented on #267
To access the MongoDB from inside the Kubernetes cluster, use the following commands -

`mongo "mongodb://<service-object-name>.<my-namespace>.svc.cluster.local:27017/?replicaSet=<replica-set-name>" --username <username> --password <password> --authenticationDatabase <authentication-database>`

To access MongoDB from outside the Kubernetes cluster, you will have to create a Network Load Balancer (

[2021-06-04 11:36] vasRK commented on #483
@puertal Good to know,  I use this only to manually verify data or query, all my apps are on same cluster for now. may be i need SplitHorizon when i want to connect to replicaset from other clusters.

thanks

[2021-06-04 17:41] devanshah2 opened #532 "Restarting monogodb pod results in open /data/mongod.lock: permission denied and storage.bson"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Deploy Operator
2. Wait for deploy to finish
3. Delete one of the MongoDB pods created by the operator

**What did you expect?**

The deleted pod should come back up gracefully

**What happened instead?**

The pod went into error state with the following in the logs:

[code]

**Screenshots**
Upload log file.
[ErrorLogs.l

[2021-06-04 17:46] devanshah2 commented on #532
Looks like this issue might be solved in https://github.com/mongodb/mongodb-kubernetes-operator/releases/tag/v0.6.0 will try this version. Closing for now.

[2021-06-04 17:46] #532 closed

[2021-06-05 03:35] DotJoshJohnson opened #533 "Agent Not Creating Configuration File"
**What did you do to encounter the bug?**
This appears to be the same problem as reported in #331.

**What did you expect?**
After applying **mongodb.MongoDBCommunity.yml**, I wait until `kubectl get mdbc` reports `Running`. I then shell into the `mongod` container and attempt to connect locally using the `mongo` client.

**What happened instead?**
The connection is refused and further investigati

[2021-06-07 06:28] 205g0 commented on #198
@hi-usui I've just seen your post about backup strategies, very nice and thx for sharing! In this context, are you using the mongo-k8s-operator in production and would you say that it's production-ready (for running replica sets) compared to let's say the Bitnami Helm Mongo chart?

[2021-06-07 08:11] dgdevops commented on #483
Is there any ETA for fixing this?

[2021-06-07 11:26] irajdeep commented on #533
Hi @DotJoshJohnson , could you please try by removing the field:
[code]
from the CR spec? -- The operator creates a dedicated service object to connect to the pods of the satefulset.

I was able to connect to the `mongod` after doing that.

[2021-06-07 12:27] DotJoshJohnson commented on #533
That did it, thank you! I used `mongodb.com_v1_custom_volume_cr.yaml` from the `samples` directory (which contains these fields) as a starting point for my configuration and didn't even notice those fields weren't present on the other samples.

[2021-06-07 12:27] #533 closed

[2021-06-07 17:05] j-lorenzo commented on #438
Hi!,

This is happening to me in the version v0.6.0 right now.

Im using KIND

[code]

[code]

[2021-06-07 17:06] j-lorenzo commented on #438
[code]

[2021-06-07 21:02] RyshMan opened #536 "Add liveness/readiness probes"
I've installed Mongodb operator - run lint on cluster and get errors:

[ERROR] scanned-deployment-staging-mongodb-kubernetes-operator.yaml: spec.template.spec.containers[0].livenessProbe not defined (ContainerHasLivenessProbe)
[ERROR] scanned-pod-staging-mongodb-kubernetes-operator-8678bf444b-jvtvk.yaml: spec.containers[0].livenessProbe not defined (ContainerHasLivenessProbe)
[ERROR] scanned-pod-s

[2021-06-07 21:51] afzalch opened #537 "Linting error due to Pod Security Context definition being expected"
**What did you do to encounter the bug?**
I installed Mongodb operator - run lint on cluster and get errors:

**What did you expect?**
No linting errors as each field under pod security context is filled out

**What happened instead?**
Errors due to lack of pod security context definition

**Logs**
[code]

**Operator Information**
 - Operator Version
 - MongoDB Image used: Image ID: quay.io/mongod

[2021-06-07 22:29] afzalch opened #538 "Linting errors due to not implementing principle of least privilege"
**What did you do to encounter the bug?**
I installed Mongodb operator - run lint on cluster and get errors:

**What did you expect?**
No linting errors as linter expects that containers implement the principle of least privilege to minimize security risks by dropping ALL capabilities at securityContext.capabilities.drop before adding back only the privileges that are necessary for the container.

[2021-06-08 08:24] chatton commented on #525
Hi @flmmartins, the should correspond to the inverse of `auth.authoritativeSet`in the config file. It looks like maybe there was a problem in the operator and it failed to update this file or perhaps the config value was set at the incorrect level. (`spec.security.authentication.ignoreUnknownUsers`)

Could you double check that this value is set correctly in your MongoDBCommunity resource, and if

[2021-06-08 08:52] flmmartins commented on #525
Hello,

So my current mongocommunity is like the first post but @rodrigovalin requested me to add the ignore know users and now this section is like:

[code]

The rest is just the same. I don't think this variable is causing the issue because the logs are exactly the same as before adding this variable.

The operator log is as follows and it seems happy:

[code]

[2021-06-08 13:47] afzalch opened #539 "Linting error due to undefined readiness probe"
**What did you do to encounter the bug?**
I installed Mongodb operator - run lint on cluster and get errors:

**What did you expect?**
No linting errors as readiness probe is defined

**What happened instead?**
Errors due to lack of readiness probe as linter expects every container for a pod that matches a service's selector field to have a readiness probe defined

**Logs**
[code]

**Operator Info

[2021-06-08 15:07] afzalch opened #540 "Linting error due to there being undefined product id, product metric and product name annotations"
**What did you do to encounter the bug?**
I installed Mongodb operator - run lint on cluster and get errors:

**What did you expect?**
No linting errors

**What happened instead?**
Errors due to lack of product id, product metric, product name annotations

**Logs**
[code]

**Operator Information**
 - Operator Version
 - MongoDB Image used: Image ID: quay.io/mongodb/mongodb-kubernetes-operator@sha2

[2021-06-08 16:07] chatton commented on #425
Hi @isbaran

What environment are you running the operator in?

 A pod security context with user 2000 is configured in the StatefulSet, my guess would be the security context is being modified in some way.

 Would you be able to provide us with the `describe` output for the StatefulSet?

[2021-06-08 16:20] isbaran commented on #425
Hello, running k8s 1.19.7 on Oracle Cloud, statefulset attached
[mongodb-statefulset.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/6618119/mongodb-statefulset.txt)

[2021-06-08 19:01] afzalch opened #542 "Linting error due to missing metadata labels"
**What did you do to encounter the bug?**
I installed Mongodb operator - run lint on cluster and get errors:

**What did you expect?**
No linting errors

**What happened instead?**
Errors due to lack of metadata labels being defined

**Logs**
[code]

**Operator Information**
 - Operator Version
 - MongoDB Image used: Image ID: quay.io/mongodb/mongodb-kubernetes-operator@sha256:3ea8935ce639ef43ca1a

[2021-06-08 20:21] RyshMan opened #543 "lint error: ContainerDefinesResources"
Hello team
When I am run lit against resources on my cluster I faced with this error: (ContainerDefinesResources)

Each container of a Pod must specify one or more of the following:

spec.containers[].resources.limits.cpu
spec.containers[].resources.limits.memory
spec.containers[].resources.requests.cpu
spec.containers[].resources.requests.memory

[ERROR] scanned-deployment-staging-mongodb-kuberne

[2021-06-09 08:06] #519 closed

[2021-06-09 08:09] chatton commented on #425
Thanks @isbaran, would you also be able to provide the yaml output? `kubectl get sts <mdb-name> -o yaml` There are some fields I'm interested in that don't actually show up with just the `describe` output, thanks!

[2021-06-09 19:40] isbaran commented on #425
Sorry about that, yaml output attached
[mongodb-statefulset.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/6626456/mongodb-statefulset.txt)

[2021-06-09 20:09] zeemba commented on #462
Hello, did you ever find a resolution to this issue? I'm experiencing the same problem .

[2021-06-10 11:00] chatton commented on #425
Hi @isbaran ,

Looking at the files you provided, the operator appears to be correctly configuring the pod security context

[code]

However it looks like both PVCs are stuck in the `Pending` phase. I have never worked with Oracle Cloud, so I am not familiar with the CSI implementation in use there.

The operator simply uses the default StorageClass.

I think there are two things that could be inv

[2021-06-11 12:19] j-lorenzo opened #554 "Can't access replicaSet following the documentation 🤔"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Followed the steps to install the operator
2. Deploy the replicaSet https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#deploy-a-replica-set
3. Try to connect with the following command

[code]

My current resources

[code]

Then I filled the command:

service: example-mongodb-svc

[2021-06-11 12:21] j-lorenzo commented on #554
I followed this documentation to try to debug the access https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

[code]

[2021-06-11 12:23] j-lorenzo commented on #554
If I forward the service port and access via localhost, it connects me to a SECONDARY node. Can anyone tell me what am I doing wrong?

[2021-06-11 12:33] chatton commented on #554
Hi @j-lorenzo

You should be attempting to connect to the replica set form **within** the cluster

The name of the MongoDB Replica Set is `example-mongodb`, `mongodb-kubernetes-operator-7c6c4d8cff` is the name of the Kubernetes Replica Set for the Operator itself, (not MongoDB)

The connection string that you will need to use should be in a secret. See [the release notes](https://github.com/mongod

[2021-06-11 12:41] j-lorenzo commented on #554
Thank you Chatton for your quick response!

I tried that too but it seems to doesn't work too:

[code]

[2021-06-11 12:45] j-lorenzo commented on #554
Sorry, but I don't know how to define the secret you said and how to use it to access the cluster.

[code]

[2021-06-11 13:10] chatton commented on #554
Based on the name of the MongoDBCommunity resource and the name of the user, there should be a secret created in the same namespace as the MongoDBCommunity resource.

You should see it when you run

`kubectl get secrets`

this secret should contain a connection string you can use to connect to the database.

[2021-06-11 13:23] j-lorenzo commented on #554
These are all the secrets I have in the namespace:

[code]

[2021-06-11 13:24] chatton commented on #554
It looks like the `example-mongodb-admin-my-user` secret is what you're looking for.

[2021-06-11 13:39] j-lorenzo commented on #554
Thank you @chatton !

These are the steps I followed:

[code]

Then I decoded the string:

[code]

And try to connect with the string:

[code]

Now I think I have another issue, but I think I finally have the string :)

[2021-06-11 16:26] #554 closed

[2021-06-14 10:04] dgdevops commented on #483
Is there any update here @bznein?

[2021-06-14 10:57] chatton commented on #525
@flmmartins

I will try and repo this, do you have some examples of what commands you used through the shell?

Did you add/remove/modify roles etc. ?

[2021-06-14 10:59] chatton commented on #464
Hi @tobias-neubert

The specification you provided (with `podSpec`) is from the `enterprise-operator`. No the community one, the specifications are not entirely the same.

[2021-06-14 12:05] chatton commented on #464
Hi @umrikar,

I tried to repro and get your examples working, It looks as long as the operator configures `volumeClaimTemplates` that will take precedence over the custom `persistentVolumeClaim` you specify in the `statefulSet.spec.template.spec.[*].volumes`.

I manually removed the `volumeClaimTemplates` and it looks like the custom PV was bound to. I will flag this issue as a feature-request to

[2021-06-14 13:02] joshho opened #563 "[[Feature Request]] Mongodbcommunity CR version field to support ImageDigest/SHA for AirGap scenarios"
Currently the Mongodb Operator uses the Mongodbcommunity CR.version field as a tag.
In AirGapped Openshift environments, if a ImageDigest/SHA256 is used, the Openshift layer (via ImageContentSourcePolicy) can redirect/mirror from a private Docker registry using the SHA.

Also, [there is a RFE open against Openshift to control ImageContentSourcePolicy](https://bugzilla.redhat.com/show_bug.cgi?id=19

[2021-06-14 13:26] tibulca commented on #233
Hi @caiconkhicon
is this issue still happening for you with the latest operator? If yes please reopen the ticket.

Starting v0.5.2 the operator runs as non root (user 2000, fsGroup 2000)
https://github.com/mongodb/mongodb-kubernetes-operator/blob/48376c2dbc936924c7385cb1a7b4ceaae317dfe1/dev_notes/past_release_notes/v0.5.2.md

[2021-06-15 04:18] umrikar commented on #464
@chatton Thanks for looking into it

[2021-06-15 17:49] ossinkine opened #570 "Log takes all space and mongodb is down"
**What did you do to encounter the bug?**
We are running a cluster with 3 nodes, it works about 2 months.
Once one replica gone down.
After some investigation we found that the file /var/log/mongodb-mms-automation/mongodb.log takes all spaces in /var/log/mongodb-mms-automation mount.

**What did you expect?**
I expect /var/log/mongodb-mms-automation stores something for agent or similar but not mo

[2021-06-15 19:55] ficoos opened #571 "database pod marked as running but database is not up"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Deploy mongodb using

[code]

Wait for the controller to set up the stateful set

**What did you expect?**
A functioning mongodb instance

**What happened instead?**
the pod is marked as running but I can't connect to the database running inside it
the logs show

[code]

**Operator Information**
 - Operator Version v0.6.1

[2021-06-15 19:57] ficoos commented on #571
I also entered the mongod container and it looks like it's waiting for a file to be created
[code]

[2021-06-16 01:51] #372 closed

[2021-06-16 02:18] mtarekfouad opened #572 "Mongodb Agent-Openshift Issue"
We deployed MongoDB Kubernetes Operator and the opsmanager on openshift 4.7 and they are working fine but once we are trying to deploy the mongoDB pod we are getting below error

{“logType”:“agent-launcher-script”,“contents”:“Using Kubernetes CA file”}
{“logType”:“agent-launcher-script”,“contents”:“Created symlink: /data/journal → /journal”}
{“logType”:“agent-launcher-script”,“contents”:“Downloadi

[2021-06-16 02:21] mtarekfouad commented on #572
MongoDB Yaml :
apiVersion: mongodb.com/v1
kind: MongoDB
metadata:
  name: mtx-mongodb-dev
spec:
  version: 4.4.6
  opsManager:
    configMapRef:
      name: mtx-dev-project-config
  credentials: mtx-dev-orga-api-key

  type: Standalone
  persistent: true
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: mongo-mtx-dev-pvc
  terminationGracePeriodSeconds: 10

[2021-06-16 09:56] bznein commented on #572
Hi @mtarekfouad, this repository is for the Community Operator while your problem is related to the Enterprise Operator.

Please follow the instructions you find here: https://github.com/mongodb/mongodb-enterprise-kubernetes#support-feature-requests-and-community

[2021-06-16 09:56] #572 closed

[2021-06-16 10:26] ossinkine commented on #570
It looks like the operator configures mongod to write logs to a local folder. This is rather strange, but even if it is, who is in charge of rotating and deleting old logs? If you do not do this, the disk will inevitably fill up, which happened to me.

[2021-06-16 13:51] rajavignesh opened #573 "File System Snapshot"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
MongoDB Version: 4.2.11
Take a snapshot of the persistence volume using Cohesity or Velero and restore the PVC
Pods will go in Error or CrashLoopBackOff state
Note: even copying the files from pod to VM, facing the same issue

**What did you expect?**
Pod should come up using the data files that have been restored

**What h

[2021-06-17 08:17] timstoop opened #575 "No option to decrease verbosity"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Deploy the operator and a mongo cluster
2. Check the operator logs

**What did you expect?**
I expected a single log line every now and again.

**What happened instead?**
It's spamming the log with about 5600 lines per minute.

**Screenshots**
[code]

The logs are continuously outputting the following sequence:

[code]

[2021-06-17 08:23] bznein commented on #575
Hi @timstoop

after the operator prints `Successfully finished reconciliation` it shouldn't show any more log until something is changed int he MongoDB Custom Resource that causes another reconciliation.

Do you have something else on your cluster that could make modifications to the MongoDB Resource so that this triggers a new reconciliatino by the operator?

[2021-06-17 08:40] timstoop commented on #575
I have not, this is a bare-bones minikube cluster, only addon is storage and I delete it and recreate it for every test. I'm using the config from config/samples/mongodb.com_v1_mongodbcommunity_cr.yaml to deploy the mongo cluster and the clusterwide rbac for the operator, using the code as provided in the docs in this repo. I was just testing if I could get it to work easily, so didn't change anyt

[2021-06-17 08:54] timstoop commented on #575
It's really only the operator that touches the CR. I used:
[code]
And got a whole long line of
[code]
If I filter those out, there is no output at all. So I'm 99% sure that only the operator is modifying the resource.

[2021-06-17 09:15] timstoop commented on #575
Ok, I just remembered that I did make a change that is probably the issue here. I did not use the default config/samples/mongodb.com_v1_mongodbcommunity_cr.yaml but modified it slightly based on the example in config/samples/arbitrary_statefulset_configuration. I added only the following:

[code]
As I was testing using earlier created snapshots for the data dir to see if that would be a viable bac

[2021-06-20 21:03] 205g0 opened #578 "Insufficient CPU error without any reason"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
- Create 4 instances w/2vCPU and 4GB RAM, install k3s with three servers and one worker on them
- Install a 3-Mongo-replica-set
- `kubectl delete node <one node with a mongo replica>`

**What did you expect?**
Mongo schedules the lost replica to one of the left nodes where a Mongo replica set hasn't been installed yet.

**W

[2021-06-21 12:10] puertal commented on #483
Somebody there?

[2021-06-21 12:38] repocho commented on #483
I have same issue 😢
Will it be fixed in next release ??

Thank you !!

[2021-06-21 12:44] priyolahiri commented on #483
There's work in progress to redesign the feature for community operator. The specs will change, and we intend to add the ability for the services to be created for external access as well to reduce the manual steps required.

[2021-06-21 14:14] priyolahiri commented on #570
Thank you for reporting this. We are looking into this.

[2021-06-21 17:09] MichaelJCole commented on #571
I'm seeing the same thing.  Is there a solution better than downgrading?

[2021-06-21 20:23] MichaelJCole commented on #571
These were in my "mongodb-agent" container.  My "mongo" container had similar output as the OP.
[code]

For me, the solution was to change the version from '4.4' which caused the EOF to '4.4.6' which worked.  Downgrading had no effect.  Good luck!

[2021-06-22 01:49] #383 closed

[2021-06-22 07:17] Aonauma opened #585 "Can't pull registry.hub.docker.com/library/mongo:4.2.6"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Deploy and Configure a MongoDB Resource follow documents
2. Replace <your-password-here> in config/samples/mongodb.com_v1_mongodbcommunity_cr.yaml to the password
3. Invoke the following kubectl command
[code]
I found the error can't pull registry.hub.docker.com/library/mongo:4.2.6
Could you please help me to this soluti

[2021-06-22 08:17] chatton commented on #563
Hi @joshho,

if you need to override fields in the underlying StatefulSet (such as image/tag)

you can use the statefulSet overridel.

See [this example](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/samples/mongodb.com_v1_mongodbcommunity_specify_pod_resources.yaml) and update it is required.

Let me know if this solves your issue.

[2021-06-22 08:19] chatton commented on #425
Hi @isbaran,

I'm closing this issue as we've been unable to reproduce it.

If you still have problems and can reproduce this in multiple environments please re-open and provide any additional repro steps you have, thanks!

[2021-06-22 08:19] #425 closed

[2021-06-22 08:26] bznein commented on #585
Hi @Aonauma,

I was able to reproduce the issue, and it looks like for some reason `dockerhub` has changed how to pul images.

before, it was possible to do `docker pull registry.hub.docker.com/library/mongo:4.2.6`but not it can only be either `docker pull mongo:4.2.6` or `docker pull library/mongo:4.2.6`

While we try to understand if this is a permanent change, you can try one of the two followi

[2021-06-22 08:34] #570 closed

[2021-06-22 09:03] Aonauma commented on #585
Dear all,

I will tried this solution two. I still found the error same before cannot
pull image

On Tue, 22 Jun 2564 BE at 15:26 Nikolas De Giorgis ***@***.***>
wrote:

[2021-06-22 09:07] bznein commented on #585
@Aonauma can you please show me the output of

`kubectl describe deployment mongodb-kubernetes-operator`

and

`kubectl describe statefulset example-mongodb`

Please note that you will have to delete the pod that is failing to pull the image so that it gets rescheduled with the new `image` field and it should be able to pull from the right one

[2021-06-22 09:21] Aonauma commented on #585
Dear All,

Output

$ kubectl describe deployment/mongodb-kubernetes-operator -n poc-mongodb
Name: mongodb-kubernetes-operator
Namespace: poc-mongodb
CreationTimestamp: Tue, 22 Jun 2021 16:13:10 +0700
Labels: app.kubernetes.io/managed-by=Helm
Annotations: deployment.kubernetes.io/revision: 1
meta.helm.sh/release-name: poc-mongodb-operator
meta.helm.sh/release-namespace: poc-mongodb
Selector: name=m

[2021-06-22 09:23] bznein commented on #585
Hi @Aonauma,

please next time format your output using the triple backtick (```).

Looking at your `kubectl describe deployment` output, it looks like you only changed `MONGODB_IMAGE` but not `MONGODB_REPO_URL`, which should be set to `library` for this workaround to work

[2021-06-22 09:38] Aonauma commented on #585
Dear all,

Thank you for help on that. I will try to change MONGODB_REPO_URL

On Tue, 22 Jun 2564 BE at 16:23 Nikolas De Giorgis ***@***.***>
wrote:

[2021-06-22 12:27] #585 closed

[2021-06-22 16:04] bznein commented on #575
Hi @timstoop, we tried reproducing your issue but weren't able to.
We will add an internal ticket to give the option to decrease operator verbosity but this would not help the underlying issue.

[2021-06-22 16:15] timstoop commented on #575
Thanks for keeping me posted!

If you cannot reproduce the issue, feel free to just close this. We've switched to the percona server for mongodb operator instead, as it seems a bit more mature and offers backups and some other nifty features. I'll look into this operator again in a few months, but for the time being it seems like psmdb is solving our issue.

[2021-06-23 11:01] samaiyayashraj opened #591 "external connection to mongodb replicaset from loadbalancer ip"
So I'm trying to connect to the MongoDB replica set from a mongo shell installed on my local system.
Below is the YAML I'm using for the deployment .
I'm creating a service of type LoadBalancer to access the MongoDB replica set from outside of the K8s cluster.
Getting an authentication error when I try to access from outside but it works fine when exec in one of the MongoDB pods & run the same com

[2021-06-24 07:56] dgdevops commented on #591
@samaiyayashraj , based on the error the connection to the exposed replicaset member was successful and you are facing just an authentication error due to wrong credentials. The user/role configuration looks alright, check the content of the "mongodb-0-admin-password" secret to double-check the password. Additionally, if you have multiple replicasets in the Kubernetes cluster make sure to double c

[2021-06-24 07:59] dgdevops commented on #483
Knowing the release date would definitely be a great help considering the fact that this issue is blocking our developments.

[2021-06-28 12:53] bmv-ce commented on #198
Just my two cents: we tried Bitnami Helm Mongo, but it doesn't look production-ready at all, as it cannot survive "primary" pod restarts (see here: https://github.com/bitnami/charts/issues/6741)

We are looking to see if this Community Operator will work for us better.

[2021-06-29 01:49] #336 closed

[2021-06-29 01:49] #400 closed

[2021-06-29 11:53] dgdevops opened #604 "Kubernetes secret with username/password needs to be always present for the replicaset to be marked as "Running""
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Deploy the Kubernetes secrets containing the ReplicaSet user's usernames & passwords
2. Deploy a ReplicaSet with DB users configured using Operator 0.6.0
3. Wait for the ReplicaSet to reach the "Running" state
4. Remove the Kubernetes secrets deployed in step 1. (scram-credentials are already generated from the secrets)

[2021-06-29 16:58] bznein commented on #571
Hi @ficoos,

thanks for your report, I was able to reproduce the issue.
Just to confirm, you specify
[code]
because you created this specific service called `database`?
The operator at the moment does not give the option to specify the service name, which is always `resourcename-svc`.

If that is the case, I know where the issue arises from, and that's because we create the automationConfig by usi

[2021-06-29 18:25] bznein commented on #573
Hi @rajavignesh

The usage of tools such as Cohesity or Velero is not something we support at the moment.
The suggested approach to save and restore data is through the use of `mongodump` and `mongorestore`.

The enterprise operator supports more advanced backup configurations.

[2021-06-29 18:25] #573 closed

[2021-06-30 00:40] raffimohammed opened #606 "CustomResourceDefinition needs upgrade from v1beta1 to v1 to work with k8s version 1.19.11"
**What did you do to encounter the bug?**
While running ' kubectl apply -f config/crd
/bases/mongodbcommunity.mongodb.com_mongodbcommunity.yaml'

kubectlWarning: apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition
customresourcedefinition.apiextensions.k8s.io/mongodbcommunity.mongodbcommunity.mon

[2021-06-30 01:50] #285 closed

[2021-06-30 06:03] irajdeep commented on #606
Hi, @raffimohammed  thanks for reporting this -- we are aware of this issue.
We are hoping to update the CRDs to v1 in the next 2 weeks.

[2021-06-30 10:17] bmv-ce opened #608 "Unable to store logs and data in a single persistence volume"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Use MongoDB Kubernetes Community Operator to create a Replica Set with the following settings:

**What did you expect?**
A single PVC is created for each Pod running a replica set member

**What happened instead?**
The setting get ignored, and two PVCs are created for each pod: one for "data-volume", and another for "logs-v

[2021-06-30 10:19] bznein commented on #608
Hi @bmv-ce,

the specification you are using is for the enterprise operator. The Community one does not have `podSpec` fields.

Please note that from the latest release (0.6.2) the logs will be automatically sent to `stdout` (this can be overridden with `spec.additionalMongodConfig`. The logs pvc will still be created as a backward-compatible change.

[2021-06-30 10:21] bmv-ce commented on #608
Thanks @bznein, understood!
Does it mean that there is no way to get rid of the second PVC for logs when using the Community version of the operator?

[2021-06-30 10:23] bznein commented on #608
Hi @bmv-ce,

currently you are correct, it is not possible. We might in a near release do that, but this will break the existing statefulset and require a restart of the pods. I will create an internal ticket to track this.

[2021-06-30 10:28] bmv-ce commented on #608
@bznein

Thanks, could you please also let me know how that "logs-volume" is mounted by default?
What would be the log directory when I SSH to the mongod pod? And what happens, if the "logs-volume" max size is reached?

[2021-06-30 13:16] bartlomiejwulff opened #610 "mongodb-agent not starting - permission denied"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

**What did you expect?**
mongodb-agent and mongod containers start

**What happened instead?**
Mongodb-agent is not starting on pure kubernetes (block-storage). Maybe some inconsistency of UID?

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.
-

**Operator Information**
 - Operator Vers

[2021-06-30 14:31] bartlomiejwulff commented on #610
My bad, the issue was:

[code]

inside MongoDB CRD Manifest.

Case closed :-)

[2021-07-02 01:49] #253 closed

[2021-07-02 01:49] #353 closed

[2021-07-03 19:01] nesspll opened #614 "no matches for kind "MongoDBCommunity" in version "MongoDBCommunity.mongodb.com/v1""
no matches for kind "MongoDBCommunity" in version "MongoDBCommunity.mongodb.com/v1"

OR

no matches for kind "MongoDBCommunity" in version "mongodb.com/v1"

`apiVersion: mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb-replica-set
  namespace: mongodb`

`apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb-replica-set
  namespace: mongodb`

Bo

[2021-07-05 04:06] ruodingt commented on #591
Hi @samaiyayashraj, @dgdevops

Thanks for sharing your experience here.

Based on your reply I have crafted my version as well.

I was be able to connect to the secondary replica successfully. Secondary replica seems to be read only and i cannot write anything into that.

I think the Load Balancer will just redirect any request randomly to one of the 3 replica. I am very confused about how to writ

[2021-07-05 16:49] bznein commented on #614
Hi @nesspll,

did you install the CRDs as pointed out as prerequisites for point 1 in the installation?
I realize now we don't explicitly tell users how to do it, but you can by running

`kubectl apply -f ttps://raw.githubusercontent.com/mongodb/mongodb-kubernetes-operator/master/config/crd/bases/mongodbcommunity.mongodb.com_mongodbcommunity.yaml`

[2021-07-06 09:05] dgdevops commented on #483
@priyolahiri, by any chance is there an ETA for the redesigned feature to be released?
Thank you

[2021-07-06 09:51] dgdevops commented on #591
Hello @ruodingt ,
I have been facing the same issue you described above, currently the options for accessing the Primary member from outside the Kubernetes cluster in which the ReplicaSet is residing are quite limited. If you want to keep 3 replicas in the ReplicaSet (and don't want to scale down to 1 to have only the Primary instance) you can label the primary using a sidecar then you can configu

[2021-07-06 10:14] priyolahiri commented on #483
Sorry, there is no exact ETA at the moment, but it is WIP.

[2021-07-06 12:26] irajdeep commented on #606
Fixed as part of this: https://github.com/mongodb/mongodb-kubernetes-operator/pull/617

[2021-07-06 12:26] #606 closed

[2021-07-06 12:36] dgdevops commented on #483
Thank you for the reply @priyolahiri , I upgraded the Operator to the latest version but I am still experiencing the issue described in this ticket. I can access each member separately from outside of the Kubernetes cluster but I cannot reach the replicaset:

[code]

Configuration:
[code]

Is there a way to get rid of this error?

[2021-07-06 12:50] priyolahiri commented on #483
You would want to create nodePort services for the replicaset for external access. Use alternate ports, for example 31181, 31182, 31183

Your split horizon config would look like

`
replicaSetHorizons:
  - horizon: node1.public-ip.com:31181
  - horizon: node2.public-ip.com:31182
  - horizon: node3.public-ip.com:31183
`
Make sure the certs have the required SANs.

Your mongo connection would then l

[2021-07-06 13:11] dgdevops commented on #483
Hello @priyolahiri ,
Thank you for your response.

The Operator & ReplicaSets run on GKE clusters where all our services are exposed with "LoadBalancer" service type (either Internal/External). Exposing services with "NodePort" on managed Kubernetes clusters is possible but no external IP is associated with the services exposed this way hence the internal/external LoadBalancer service type is in u

[2021-07-06 13:23] MieleVL opened #621 "The CustomResourceDefinition "mongodbcommunity.mongodbcommunity.mongodb.com" is invalid"
**What did you do to encounter the bug?**
Deploying the `mongodbcommunity.mongodb.com_mongodbcommunity.yaml` does not work anymore since the latest update.

Running the following cmd returns an error:
[code]
Error:
The CustomResourceDefinition "mongodbcommunity.mongodbcommunity.mongodb.com" is invalid: spec.preserveUnknownFields: Invalid value: true: must be false in order to use defaults in the s

[2021-07-06 13:28] irajdeep commented on #621
Hi @MieleVL We have upgraded the CRD to version `v1`. Could you try adding the following to the `spec` in the CRD YAML.

[code]
and apply again. It is documented here: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/RELEASE_NOTES.md#kubernetes-operator

[2021-07-06 14:32] MieleVL commented on #621
@irajdeep ah ok, didn't notice this was documented. Will give that a try, thx!

[2021-07-06 14:32] #621 closed

[2021-07-06 20:20] bodomic2 commented on #176
Hi everyone, can you please advise on how to apply the above template factually?
I've put the mentioned   statefulSet.spec.template into my yaml file but it does not get applied on 'kubectl apply -f' - memory limits are still the same 500M:
`metadata:
  name: mongodb-replica-set
  namespace: ams
spec:
  members: 3
  type: ReplicaSet
  version: "4.4.0"
  security:
    authentication:
      modes: [

[2021-07-07 01:49] #416 closed

[2021-07-07 01:49] #417 closed

[2021-07-07 06:22] fireba11 commented on #176
@bodomic2 looks correct. limits need to be set on container start, so changes here would cause operator to rollout restart the set ... check it's logs maybe it's waiting for the statefulset to be consolidated and that's stuck there ... had that happen a few times.
also, try adding a new cluster that is configured with limits from the get-go to check if your config is correct

[2021-07-07 10:34] bznein commented on #608
Hi @bmv-ce, sorry for the delay in the reply.

the logs-volume is by default mounted to

`/var/log/mongodb-mms-automation`

Unfortunately, is the max size is reached, `mongodb` will go down, see #570.

If you are running an older operator which has this issue, you should periodically free up space in the folder.

Hope this helps!

[2021-07-07 10:46] chatton commented on #563
Hi @joshho, closing this issue assuming that the provided solution works for you, if you are still having a problem feel free to re-open!

[2021-07-07 10:46] #563 closed

[2021-07-07 10:48] bmv-ce commented on #608
Hi @bznein, thanks for the reply.

As I understand, this ticket addressed the issue, and now it is possible to not log into file, but only stdout: https://github.com/mongodb/mongodb-kubernetes-operator/pull/584

Does this setting work for the Community version of the operator? And if yes, what happens to the "logs-volume" PVC? You mentioned above, that there is no way to get rid of it currently, a

[2021-07-07 10:55] bznein commented on #608
It is still possible to log onto a file, by specifying a setting in `spec.additionalMongodConfig`. I can provide an example if you need it. However, the default now is to log to stdout.

Yes, it is actually part of the release notes of version 0.6.2 (https://github.com/mongodb/mongodb-kubernetes-operator/releases/tag/v0.6.2)

You are right, it doesn't. But it is not possible to change `volumeClaim

[2021-07-07 10:59] irajdeep commented on #604
Hi @dgdevops -- I tried the following steps but couldn't reproduce the issue. I have listed the steps below:

1. Deploy the operator with version `v0.6.0` by editing the operator image in `config/manager/manager.yaml`
2. Deploy the MongoDB resource with the following spec(with the secret spec) :

[code]
3. Wait for the CR to reach `Running` state.
4. Delete the SCRAM secret `kubectl delete my-scra

[2021-07-07 11:23] bmv-ce commented on #608
Awesome, thanks for the answers, and looking forward to seeing some examples.

[2021-07-07 11:24] dgdevops commented on #127
Hello @yjwong & @sagittaros
Thank you for devoting the time to adding & testing the ReplicasetHorizons feature.
I have upgraded to the latest version of the operator, however for some reason I still cannot reach the ReplicaSet from external sources:

[code]
I have the following configuration in place:
  replicaSetHorizons:
  - horizon: public-ip-0:27017
  - horizon: public-ip-1:27017
  - horizon:

[2021-07-07 12:25] bmv-ce commented on #608
One last question, probably: now I understood that `mongod` logs can be output to `stdout`, but there are also `healthstatus` directory and `readiness.log` file in the mounted `/var/log/mongodb-mms-automation` directory.
I can see that `readiness.log` grows constantly in size as well. Is there a setting to disable it somehow (similar to mongod output)? Otherwise, the persistence volume will run ou

[2021-07-07 12:48] dgdevops commented on #604
Hello @irajdeep,
Thank you for looking into this.
In step 4. you need to delete the k8s password secret (in your case: `my-user-password`) not the `my-scram-scram-credentials` as if the password secret is present on the cluster the Operator will regenerate the scram-credentials secret automatically if it detects it has been deleted so eventually the replicaset will reach the "Running" state.

[2021-07-07 13:03] bznein commented on #608
Hi @bmv-ce,

the `healthstatus` file will not be an issue as it gets overwritten each time.

The `readiness.log` file might pose the same problem as the mongod logs; we aware of this and will put up a fix soon.

[2021-07-07 14:16] sagittaros commented on #127
@dgdevops with a quick glance (and with a fuzzy memory), I think the issue lies in the usage of IP addresses where it should have been a list of domains.

External cluster access leverages split horizon, which is a DNS feature.

[2021-07-07 15:38] dgdevops commented on #127
Hello @sagittaros,
Thank you for getting back to me so quickly.
I forgot to mention that my first attempt was to use domain names in the replicaSetHorizons settings but I stumbled upon the following error:

[code]

Configuration used:
[code]

Connectivity test:
[code]

[2021-07-07 16:20] irajdeep commented on #604
Hi @dgdevops indeed -- that was the case, we have found a fix that will be released in the next operator version.
Thank you for reporting.

[2021-07-07 18:05] bodomic2 commented on #176
@fireba11 thanks for your kind reply, I'm very (VERY) new to k8s and many concepts I just don't get or get them incorrect.
I have to tell that of course I've tried to 're-init' this system but I definitely do that incorrect :-D - first I've tried just to 'apply -f', then I've deleted pods one by one, then I've deleted three of them in one command, I've even deleted mongodb-k8s-operator pod and dep

[2021-07-08 01:49] #415 closed

[2021-07-08 02:44] sagittaros commented on #127
@dgdevops I see some SSL error there, and I suspect you don't have both the internal domains (kubernetes svc) and public domains in your self-signed `[alt_names]` field. Refer my `certificate-ext.conf` below.

Ok, let me just share how I did this. Mostly strung together from memory and zsh history so it may not work 100%.

[code]

certificate-ext.conf
[code]

[2021-07-08 05:46] fireba11 commented on #176
if you want to remove your mongo cluster you just need to delete the custom resource (see 'kubectl get mongodbcommunity.mongodbcommunity.mongodb.com'), operator will do the rest if it's working properly.
that is also the only config you should update manually.

[2021-07-08 07:44] bodomic2 commented on #176
@fireba11 , thanks for your help and patience, actually, recreating the resource has helped!
I've found another issue though (never noticed before) - resource is in the status 'Pending' because all three agent containers are in crashed state :(
I'll try to debug that myself or maybe ask here in separate thread,

[2021-07-08 09:53] dgdevops commented on #127
Hello @sagittaros ,
Thank you for getting back to me with an update.
I added the public domains to the self-signed certificate as you suggested, the SSL related errors disappeared but the connection is still not possible as seen below:

[code]

Additionally I also tried connecting to the replicaset from Mongo Compass as well but got the following error:
`getaddrinfo ENOTFOUND rs-name-0.rs-name-svc

[2021-07-08 10:12] sagittaros commented on #127
Mind sharing your deployment specs?

[2021-07-08 10:32] dgdevops commented on #127
Sure @sagittaros, here it is:

[code]

[2021-07-08 10:32] sagittaros commented on #127
I just tried the same connection string format on my machine.

[code]

I have to add `--tls` to make it work.

Also, I normally use mongo-shell, which is stricter in root CA check (I recall Compass behave more similar to mongo-shell than mongo). You have to install your CA cert for Compass to work.

[code]

[2021-07-08 10:35] dgdevops commented on #127
Thanks @sagittaros for checking, I posted the deployment manifest above.
I added the `--tls` flag, getting the same errors.

[2021-07-08 10:40] sagittaros commented on #127
@dgdevops the deployment spec looks good to me except:

[code]

`caConfigMapRef` should be a CA cert, not to be confused with the server/mongo certificate.

I also suggest you try connecting using mongosh:
[code]

[2021-07-08 10:52] dgdevops commented on #127
@sagittaros , I am using Kubernetes cert-manager to issue the certificates and the `caConfigMapRef` pointing to `mongodb-cg-rs-cert` is generated from the `mongodb-cg-rs-cert` Kubernetes secret's ca.crt field that is created by Let's encrypt.

[2021-07-08 11:44] raman-nbg commented on #231
Is there already a feature request on feedback.mongodb.com? Couldn't find any but I'm not sure...

[2021-07-10 09:22] #473 closed

[2021-07-11 12:54] bodomic2 opened #630 "Uneven experience with k8s 1.21.1 (?)"
Sorry for not making a bug report but more of a discussion post but there are things that do not just go fine and I have to re-create the whole cluster again and again (it's great that I have this opportunity).
My experience with this software is so far followed by these warnings and issues;
1.
[code]
I understand this is just a warning but it looks like there is a v1 version in place so maybe I'm

[2021-07-11 13:00] bodomic2 commented on #630
P.S.: Actually, on my very first try I've got another mixed experience - my set got running on default settings, it's actually got `.status.mongoUri` set and I have connected to it several times until I realized it's running on 500 Mb RAM and dying from OOM killer on any meaningful actions.
All three agents were in crashed state all the way back then though, and `mongodbcommunity.mongodbcommunity.

[2021-07-11 13:39] bodomic2 commented on #630
P.P.S: on the recent try that I'm describing here I've managed to connect to replica set by borrowing mongodb uri from previous tries. It looks quite usable, however, I'm not sure it makes any sense to try running production on semi-failed k8s deployment...

[2021-07-11 13:54] bodomic2 commented on #176
Can I please also ask to help me with this:
[code]
Where do I get 'my storage class' from?
In description of pod I see it as:
[code]
if it helps.

[2021-07-11 18:48] bodomic2 opened #631 "Latest master fails to create CRD"
**What did you do to encounter the bug?**
I've pulled the latest master (e8c4d350c6738dcc6452234707aa2f498b0ee339) and just can not create a resource.
The saddest part I've already removed the previous `mongodbcommunity.mongodb.com_mongodbcommunity`

**What did you expect?**
I've expected the resource will be recreated from scratch.

**What happened instead?**
[code]

**Operator Information**
 - m

[2021-07-11 19:26] bznein commented on #631
Hi @bodomic2, please see #621 for the first part of your question

Regarding tour PS, we released yesterday 0.6.3 which supports SCRAM-SHA-1

[2021-07-11 20:56] bodomic2 commented on #631
Oh thanks for rapid answer!
It seems to fix everything for me, let me recreate everything and try to connect again.

[2021-07-11 21:00] bodomic2 commented on #631
I'm not sure why it is so but it has definitely changed just now.
[code]

[2021-07-11 21:03] bznein commented on #631
You are trying to create a resource that specifies namespace `mongodb` but you are in another namespace.

Try to create the namespace

`kubectl create ns mongodb`

And then move there

`kubectl namespace mongodb`

And then try again

[2021-07-11 21:06] bodomic2 commented on #631
ok, sorry, I'm a bit overwhelmed by all these entities, I've changed namespace in those two files (`config/rbac/role.yaml` and `config/manager/manager.yaml`) to get going (I don't need an extra NS at the moment).
Thanks again.

[2021-07-11 21:06] #631 closed

[2021-07-11 21:22] bodomic2 commented on #631
I'm sorry again, @bznein, can ou help me a bit more?
After recreation I have got only one pod running (with Agent permanently crashing) - I've seen this many times while working with this operator but I don't know how to debug or fix the issue apart from deleting the cluster altogether and starting from scratch.
I've tried to apply patch and to delete a pod (as the end of `Upgrading` section says

[2021-07-12 14:18] priyolahiri commented on #127
New doc added: ```docs/external_access.md``` and samples in ```config/samples/external_access```

[2021-07-12 14:18] priyolahiri commented on #483
New doc added: ```docs/external_access.md``` and samples in ```config/samples/external_access```

[2021-07-12 14:18] priyolahiri commented on #591
New doc added: ```docs/external_access.md``` and samples in ```config/samples/external_access```

[2021-07-12 14:48] bznein commented on #631
Hi @bodomic2,

if the agent crashes, it might be worth to file a new issue with detailed logs.

`kubectl logs <name-of-the-crashing-pod>` might help!

[2021-07-12 16:51] bodomic2 commented on #631
@bznein - I've already filed it here - https://github.com/mongodb/mongodb-kubernetes-operator/issues/630
I've just recreated cluster from the scratch on latest master and repeated https://github.com/mongodb/mongodb-kubernetes-operator/issues/630 wholly

[2021-07-12 17:24] bodomic2 commented on #217
I guess I'm the first to report that feature is still not supported in 0.7.0 even if announced in release notes...

[code]

The error message is the very same as before upgrade.

[code]

[2021-07-13 07:58] bartlomiejwulff opened #633 "MongoDB Metrics Export"
Hello,

as far as I can see, there is no option to activate any prometheus metrics exporter for mongo here. Can you please suggest some solution which allow to export mongoDB related metrics to prometheus?

Thanks in advance,
Bartlomiej

[2021-07-13 09:02] bznein commented on #217
hi @bodomic2,

I just tried deploying a MongoDB Replica Set with SCRAM-SHA-1 successfully using operator 0.7.0

I'll report here the specs used, if it still doesn't work for you please open a new issue:

`kubectl get mdbc -o yaml` (omitting `metadata` and `status` here)

[code]

[2021-07-13 09:57] bznein commented on #464
Hi @umrikar,

I tried to work on this issue and came up with a few conclusions you can see in #603.

To summarize:

- You can't specify a custom name at the `statefulSet.spec.template.spec.volumes` name, because it will try to bind to the same `PVC` for all pods
- You can, however, define your custom volumes and then use `statefulSet.spec.volumeClaimTemplates` to override the PVCs created by the o

[2021-07-13 11:31] dgdevops commented on #604
Hi @irajdeep,
I have just upgraded the Operator to 0.7.0 and the issue has been fixed.
Thank you for the help!

[2021-07-13 11:39] irajdeep commented on #604
Good to know.

[2021-07-13 11:39] #604 closed

[2021-07-13 12:05] bodomic2 commented on #217
Thanks for your answer, @bznein!
Definitely it was my mistake to assume `modes: SCRAM` will serve for both SHA-1 and SHA-256 modes...
After re-applying the updated configuration I have two issues:
1. Replica set has descended to only one member (number 0) - I've already reported it in other issues, this makes me spend several hours on each iteration, recreating the whole k8s cluster from scratch.

[2021-07-13 14:16] unbornchikken opened #634 "Question about configuring a simple external access"
Hi,

I want to configure a simple external access without the ttl magic. Just created a mongodb replica set with the docs provided [there](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md).

Then I've created three services to get the ports opened:

[code]

The ports are open and listening, I can telnet in. But I cannot access it from MongoDB compass, it

[2021-07-13 22:32] supersaeyan commented on #231
Hi @jamesbroadhead
I would be interested to take that up.
Could you help me get started as i am new to kubernetes development and open source as well.
Any reading material or other helpful resources that can help me understand what is expected from the first PR, would be great.

[2021-07-14 13:41] dgdevops commented on #127
Hello @sagittaros,
Many thanks for the suggestions, eventually I made it work.
@priyolahiri. thank you for the documentation.

[2021-07-14 13:55] dgdevops commented on #634
Hello @unbornchikken,
To be able to access the cluster from your local machine (on localhost!) you need to expose the Kubernetes pods with kubectl port-forward for example as on your local machine the 30001,30002,30003 ports are not open and have no connection to the actual mongodb pods. However your configuration suggests that you want actual external access (not just port-forwarding) as you crea

[2021-07-14 14:06] dgdevops commented on #633
@bartlomiejwulff,
You can inject a mongodb-exporter sidecar into your statefulset under `spec.statefulSet.spec.template.spec.containers`

[2021-07-14 14:45] dgdevops commented on #483
Hello @priyolahiri,
Thank you for the documentation.
I have managed to set up the feature successfully using LoadBalancer service type.

Few observations regarding the documentation:
1) `docs/external_access.md` - `--tlsCAfile` should be `--tlsCAFile` (as `file` with lowercase is not an accepted flag)
2) When configuring the certificate the commonName field needs to contain a domain with .local TL

[2021-07-14 15:24] bartlomiejwulff commented on #633
@dgdevops
Hi,

thanks for the answer. I have added an sidecar container to my template as follow:

[code]

[2021-07-14 15:24] #633 closed

[2021-07-14 17:07] dgdevops opened #636 "Configurable TLS mode when ReplicaSetHorizons is enabled"
Hi,

First of all, this issue was raised more to get more insights about the TLS requirements of the ReplicaSetHorizons feature then to report a bug. When the ReplicaSetHorizons feature is enabled the net.tls.mode is set automatically to requireTLS.
Are there any plans to make the mode configurable? Having the mode set to preferTLS would be a great benefit when it comes to migration.

Thanks

[2021-07-15 01:04] sagittaros commented on #127
Great! What was the issue? @dgdevops

[2021-07-15 05:52] umrikar commented on #464
@bznein Thanks, I understood the issue, I will try to explore another persistent volume types as i don't see hostpath type volume is suitable for HA using mongodb-kubernetes-operator

[2021-07-15 06:56] unbornchikken commented on #634
Yeah, I think I need port forward, thanks for the reply.

[2021-07-15 06:56] #634 closed

[2021-07-15 08:16] chatton commented on #636
Hi @dgdevops, in order for horizons to be configured correctly, TLS must be enabled. Are you currently working on migrating an existing non-tls deployment to use horizons? If this is the case, you would need to configure your deployment to either preferTLS or requireTLS before transitioning to using horizons.

[2021-07-15 08:35] dgdevops commented on #636
Hello @chatton,
My plan is to migrate from VM mongo to Kubernetes by extending the existsing VM replicaset with the Kubernetes members.
However, if the requireTLS is enabled then the then the VM mongos won't be able to connect to the Kubernetes ones.
Overall, having the TLS enabled makes sense when the replicasetHorizon is in use, however I believe preferSSL would come handy in the above mentioned

[2021-07-15 11:03] irajdeep commented on #630
Hi @bodomic2 , regarding points 1 and 2, we have now migrated the CRDs to version `v1` -- so you shouldn't be seeing those warnings anymore.

Regarding the agents crashing -- could you please share the detailed agent logs? Thanks.

[2021-07-16 06:51] fireba11 opened #639 "namespace error on upgrade to 0.7.0"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. have 0.6.0 running
2. try to upgrade to 0.7.0

**What did you expect?**
A clear and concise description of what you expected to happen.

**What happened instead?**
$ kubectl create -f config/manager/manager.yaml --namespace mongo
error: the namespace from the provided object "mongodb" does not match the namespace "mongo"

[2021-07-16 06:55] irajdeep commented on #639
Hi @fireba11 , it looks like we have hardcoded the `namespace` in `manager.yaml` in latest release -- (we should probably remove it), meanwhile you can remove the `namespace` key from here - https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/manager/manager.yaml#L9 and it should work.

[2021-07-16 10:17] #639 closed

[2021-07-18 16:39] bodomic2 commented on #630
Hi @irajdeep, sorry for delay, I've been offline for a while.
As agent keeps crashing, it seems that `kubectl logs` only dumps latest logs, so here they are.
[agent.log](https://github.com/mongodb/mongodb-kubernetes-operator/files/6836597/agent.log)

I have to state again that this or another side-effect causes replicaSet degradation to a single pod (with agent crashing in it, the same). This log

[2021-07-19 12:53] bodomic2 commented on #630
I've recreated the cluster and got two agent logs
- [agent-2.log](https://github.com/mongodb/mongodb-kubernetes-operator/files/6840992/agent-2.log) - log of crashing agent in replica-2 pod (while two other agents are considered as alive).
- [agent-3.log](https://github.com/mongodb/mongodb-kubernetes-operator/files/6840994/agent-3.log) - log of crashing agent in replica-0 pod (after all three agent

[2021-07-20 01:52] #408 closed

[2021-07-20 08:44] irajdeep commented on #630
@bodomic2 nothing stand out to me in the agent logs, could you please share the outout of `kubectl describe mdbc` i.e the CR spec you're trying to deploy. Thanks

[2021-07-20 08:54] bodomic2 commented on #630
@irajdeep, here you are:
[mdbc.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/6846936/mdbc.txt)

[2021-07-20 12:30] dgdevops commented on #127
Hey @sagittaros,
I am not entirely sure, the only difference I can see between the working & not working scenarios is that I redeployed the replicaset with the ReplicaSetHorizons feature enabled from scratch. Previously I added the ReplicaSetHorizons parameter to the existing replicaset.

[2021-07-21 01:50] #421 closed

[2021-07-21 16:25] chatton commented on #636
Hi @dgdevops, the `requireTLS` setting a requirement for the horizons feature to work. We recently added some in-depth details about configuring things, please take a look if you haven't already https://github.com/mongodb/mongodb-kubernetes-operator/blob/1b5925c18368e5015efc32a00cf3f9680ca8a32c/docs/external_access.md

I'm closing this issue as it is not possible to configure `preferTLS` with hori

[2021-07-21 16:25] #636 closed

[2021-07-22 01:51] #426 closed

[2021-07-22 16:44] Sorvatus opened #651 "Reconciling endless loop"
**Operator Information**
IMAGE: quay.io/mongodb/mongodb-kubernetes-operator:0.7.0
AGENT_IMAGE:                 quay.io/mongodb/mongodb-agent:11.0.5.6963-1                                                                                                         VERSION_UPGRADE_HOOK_IMAGE:  quay.io/mongodb/mongodb-kubernetes-operator-version-upgrade-post-start-hook:1.0.2

[2021-07-22 19:59] arshabh-copods opened #652 "/lib64/ld-linux-x86-64.so.2: No such file or directory"
I am stuck with this issue for a long time now. Please kindly help.

I followed the documentation to install the operator and deployed config/samples/mongodb.com_v1_mongodbcommunity_cr.yaml. However when i describe the pod i get this

I am running the operator using minikube and kind (tried both) on my apple m1 macbook air.

Any help would be highly appreciated

[code]

The logs for each container

[2021-07-23 01:50] #106 closed

[2021-07-23 07:14] samaiyayashraj commented on #591
Hi, @priyolahiri I had followed the documentation & samples. Can you please help me understand, we won't be able to connect with the primary node if we don't know which one is primary. Is that correct?

[2021-07-23 07:24] priyolahiri commented on #591
You should automatically get connected to the Primary Node. You can read more about setting read and write preferences [here](https://docs.mongodb.com/manual/applications/replication/).

[2021-07-23 09:26] Sorvatus commented on #651
The Problem was same scramCredentialsSecretName for different users

2021-07-22T16:12:41.508Z DEBUG scram/scram.go:181 Successfully generated SCRAM credentials
2021-07-22T16:12:41.801Z DEBUG scram/scram.go:170 Generating new credentials and storing in secret/mongodb-admin-scram-scram-credentials
2021-07-22T16:12:42.011Z DEBUG scram/scram.go:181 Successfully generated SCRAM credentials
2021-07-22T1

[2021-07-23 09:26] #651 closed

[2021-07-23 11:45] ebarped commented on #250
Hi!
I was having a similar problem, but it all were due to authorization problems.
I added the backup role to my admin user, in this way, and it solved the problem:
[code]

[2021-07-24 02:28] roshanr10 commented on #231
^ I would also be interested in contributing to this effort

[2021-07-26 08:56] dgdevops commented on #636
Hello @chatton,
I am familiar with the requirements of the ReplicaSetHorizons feature & I did look into the external access documentation previously. The point of this issue was more to discuss if there is/will be a way to make the TLS mode configurable to ease the migration in the scenario I described above. What is the common practice in these cases?

[2021-07-26 11:27] killian2k commented on #217
The SHA-1 authentication has been added to the release v0.7.0
More info about this release [here](https://github.com/mongodb/mongodb-kubernetes-operator/releases/tag/v0.7.0).

[2021-07-26 11:27] #217 closed

[2021-07-26 17:49] Pantelispanka opened #657 "node(s) had volume node affinity conflict"
In a Kubernetes bare metal cluster created with kubeadm

I have custom pv's ( that already contains data )
in kubectl apply ... the operator hold the pods deployment with

.. node(s) had volume node affinity conflict.

Should i add something more at the yaml files? I use basically the examples

[2021-07-26 20:35] #657 closed

[2021-07-27 04:27] arshabh-copods commented on #652
No help here ?

[2021-07-29 04:25] yahoje93 opened #661 "operator throws rbac forbidden when set operator watching all namespace"
**What did you do to encounter the bug?**
follow instruction set operator watch all namespace. e.g. watch resource in default namespace and mongodb namespace
1. set watch "*"
2. kubectl apply -f deploy/clusterwide
3. kubectl apply -k config/rbac -n mongodb and kubectl apply -k config/rbac
4. kubectl apply -f config/manager/manager.yaml -n mongodb
5. create custom resource in namespace mongodb

**W

[2021-07-30 08:57] gmodzelewski opened #663 "Clusterwide installation: ClusterRoleBinding needs subjects.namespace at installation"
**What did you do to encounter the bug?**

Steps to reproduce the behavior:
Follow instruction set operator watch all namespace. e.g. watch resource in default namespace and mongodb namespace

1. set watch "*"
1. kubectl apply -f deploy/clusterwide

**What did you expect?**
Clusterwide role and role binding configuration worked and I can go on with the tutorial.

**What happened instead?**

An err

[2021-07-30 10:31] gmodzelewski opened #664 "Clusterwide installation: ClusterRole needs create verb for statefulsets.apps"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Follow instructions, configure operator to watch all namespace, install operator and try to deploy a first example database in a different namespace.

1. set watch "*"
1. kubectl create namespace mongodb-operator
1. kubectl apply -f deploy/clusterwide
1. kubectl apply -k config/rbac -n mongodb-operator
1. kubectl apply -f c

[2021-07-30 16:30] arshabh-copods commented on #652
Any help would be highly appreciated. Thanks.

[2021-07-31 13:38] daxxog commented on #406
I have gotten this same error on operator `v0.7.0` when attempting deploy a non-[semver](https://semver.org/) tag of MongoDB.

Investigating the logs of the operator gave me this:
[code]

Deploying tag `4.0.26` instead of `4.0` fixed my issue.

[2021-08-03 09:47] lchdev opened #668 "Readiness probe failing continuously with operator 0.7.0"
When deploying MongoDB with the latest release of the operator (0.7.0), the readiness probe generates a continuous stream of "Unhealthy pods" warning events on each of the mongodb pods:

[code]

This does not seem to impact the mongodb-agent container (nor the pod) behavior (still marked `ready` by kubernetes), so I guess that only some of the checks are failing, not all of them.

There does not s

[2021-08-03 09:52] dgdevops commented on #636
Hello @chatton , @priyolahiri ,
I did a few tests previous week and made an attempt to connect an existing VM mongo replicaset to a Kubernetes replicaset by adding one of the Kubernetes members as a new member in the VM replicaset, however the Kubernetes member was marked as unhealthy. My suspicion is that it could be related to the requireTLS setting that does not allow members that have TLS disa

[2021-08-03 13:35] jamesbroadhead commented on #652
Thanks for filing!
We are waiting for a dependency before we can support M1 / aarch64 / arm64 machines.
Follow #299 for details.

[2021-08-03 13:35] #652 closed

[2021-08-04 07:50] #591 closed

[2021-08-04 08:28] mrgoonie commented on #198
Agree with @bmv-ce, I can't remember how many times I fixed the MongoDB deployment of Bitnami repo, it's totally not production ready at all.

[2021-08-04 10:09] refaelb opened #670 "1. run all in docoment nut create secret to connection string"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**What did you expect?**
A clear and concise description of what you expected to happen.

**What happened instead?**
A clear and concise description of what happened instead

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-08-04 13:52] Pantelispanka commented on #610
I am having the same issue a week now and i cannot do anything!!  I am trying to run the containers as root user but that is something i cannot manage. And then i am trying to change the fsGroup and again nothing changes! What was your solution? Men i dont get it!

[2021-08-04 15:55] #661 closed

[2021-08-04 15:55] #663 closed

[2021-08-04 15:55] #664 closed

[2021-08-04 17:13] Pantelispanka opened #673 "security context not changing"
Cannot change security context of the containers

---
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb
  namespace: mongodb
spec:
  members: 3
  type: ReplicaSet
  version: "4.4.1"
  featureCompatibilityVersion: "4.4"
  security:
    authentication:
      modes: ["SCRAM"]
      ignoreUnknownUsers: False
  users:
    - name: my-user
      db: admin

[2021-08-04 19:13] bartlomiejwulff commented on #610
Hi @Pantelispanka

in my case I was dealing with block storage - here it does matter if you use the rofgt fsgroup and userid inside the container (until there I was using NFS which is not so sensitive).

I have changed the securityContext in the pod scope (I'm currently not sure to which values, you should have a look at the code of this repo to find the right values:

[code]

[2021-08-04 19:14] #610 closed

[2021-08-04 19:14] bartlomiejwulff commented on #610
-

[2021-08-04 19:29] bartlomiejwulff commented on #673
Hi @Pantelispanka

I think you are interpreting the function of security scope wrong. Try to use these statements. Pod scope

[code]

And in the container scope:

[code]

[2021-08-04 19:53] Pantelispanka commented on #673
Hi @bartlomiejwulff !!

Thanks a lot!! Really helpful.
 I was really confused, now t seems that the agent and the mongod container have access to the pv but i continue to get an error for the readiness probe.

Readiness probe failed: panic: couldn't open sink "/var/log/mongodb-mms-automation/readiness.log": open /var/log/mongodb-mms-automation/readiness.log: permission denied goroutine 1 [running]

[2021-08-04 20:18] bartlomiejwulff commented on #673
Try to delete fsGroup

[2021-08-05 13:50] FlorentinaSimlinger commented on #543
Unfortunately we weren't able to reproduce the error. Would you be able to share more information, including the yaml file(s) and linter used? Thanks.

[2021-08-06 01:49] #262 closed

[2021-08-06 07:54] Pantelispanka commented on #673
Worked!
Scopes worked! Thanks for pointing out that.
Some things to notice.

Readiness probe fails many times before creating the replica set and that gives you the sense of a failure.
Also the directory mounted was not empty and that created a lot of errors. Had to create the replica set on an empty directory and dumb / restore the data.

[2021-08-06 07:54] #673 closed

[2021-08-06 16:34] tliron opened #676 "Resource is invalid "status.version" errors"
**What did you expect?**
The operator is unable to update the CR's status and the logs are showing errors like this:
[code]
**More context**
Operator version 0.7.0.

Trying with various versions of MongoDB: 5.0.2, 4.4.8, 4.2.6

[2021-08-06 17:03] tliron commented on #676
Workaround for now is to comment out [this line](https://github.com/mongodb/mongodb-kubernetes-operator/blob/ed9ec900804bef5f1fb278a39b29038d0feac604/config/crd/bases/mongodbcommunity.mongodb.com_mongodbcommunity.yaml#L332).

[2021-08-07 19:11] Pantelispanka opened #677 "Authorization Question"
---
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb
  namespace: mongodb
spec:
  members: 3
  type: ReplicaSet
  version: "4.4.1"
  featureCompatibilityVersion: "4.4"
  security:
    authentication:
      modes: ["SCRAM"]
      ignoreUnknownUsers: true
  users:
    - name: *
      db: admin
      passwordSecretRef:
        name: *
      roles:
        -

[2021-08-09 01:50] #470 closed

[2021-08-09 07:45] chatton commented on #677
Hi @Pantelispanka, there is currently no way to disable auth. By default SCRAM is required to be enabled.

[2021-08-09 07:47] chatton commented on #670
Hi @refaelb,

It is not clear what your question is. Please provide as much information as possible and a clear description of what the issue is.

[2021-08-09 09:13] FlorentinaSimlinger commented on #676
Hi @tliron, unfortunately we weren't able to reproduce this error. Would you be able to share the custom resource yaml you are applying? Thanks

[2021-08-09 13:31] tliron commented on #676
Sure:
[code]

[2021-08-09 14:22] FlorentinaSimlinger commented on #676
Could you check please if the mdbc reaches running phase (kubectl describe mdbc open5gs-mongodb --> Status.Phase)?

[2021-08-09 14:43] tliron commented on #676
Well, as you can see from the error, it fails exactly when it tries to update the Status, so there is no Status.Phase or anything else in Status. It seems that somehow the code is sending in an empty version string and thus fails the CRD's OpenAPIv3 schema.

By the way, the replica set *is* up and *does* work. This is only an issue with the operator failing to update the status.

[2021-08-09 15:39] FlorentinaSimlinger commented on #676
Just to confirm, does the mdbc CR report running state in the status after making this change?
Would it be also possible for you to share more detailed operator logs, including the other error messages (if any)?

[2021-08-09 16:11] tliron commented on #676
It does report running state. There is no "status" section in the CR (that is the error).

This is the only error I am seeing, in the operator logs. I imagine the issue happens somewhere in the code where the version is retrieved but I can't see anything in the logs about it. Here's the entire context:
[code]

[2021-08-09 23:37] afzalch commented on #537
This is still an error that I would like to see addressed if possible.

[2021-08-09 23:37] afzalch commented on #538
This is still an error that I would like to see addressed if possible.

[2021-08-10 10:44] FlorentinaSimlinger commented on #676
Hi @tliron we indeed had an issue with backward compatibility. It is fixed now and the changes are in master. Here's the link to the PR https://github.com/mongodb/mongodb-kubernetes-operator/pull/684

[2021-08-10 10:44] #676 closed

[2021-08-10 15:10] tliron commented on #676
@FlorentinaSimlinger I see it required a code change, so does this mean I need to rebuild the operator to verify this fix?

[2021-08-11 01:49] #472 closed

[2021-08-11 13:22] shreesharao opened #685 "kuberntes cluster - Community operator is not spinning up new mongodb pods in case of node failures"
**What did you do to encounter the bug?**
Community operator is not spinning up new pods in case of node failures

Steps to reproduce the behavior:
1. Follow the steps in https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md and install operator
2. Follow the steps in https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md an

[2021-08-12 14:46] #571 closed

[2021-08-16 08:20] chatton commented on #670
closing issue as there is not enough information, feel free to re-open with more details if you need help.

[2021-08-16 08:20] #670 closed

[2021-08-16 09:40] chatton commented on #668
Hi @lchdev, thanks for the report.

The log for the readiness probe itself can be found at `/var/log/mongodb-mms-automation/readiness.log` in the agent pods. Would you be able to provide them?

[2021-08-17 01:49] #488 closed

[2021-08-17 07:55] irajdeep commented on #543
I am closing this ticket now, feel free to re-open if the issue still persists.

[2021-08-17 07:55] #543 closed

[2021-08-17 08:17] lchdev commented on #668
Hi,

The log file only contains the same line repeated every 10 seconds:

[code]

What kind of checks does the readiness probe execute ?

Please note that there is close to no load at all on that mongodb cluster, thus I don't really explain why it would be slow every now and then.

[2021-08-17 10:52] chatton commented on #668
Hi @lchdev

The readiness probe parses some state written by the agent to determine if the deployment has reached the desired state.

This file is located at `/healthstatus/agent-health-status.json` in the agent pods. Would you be able to provide this file along with the agent logs? (`mongodb-agent` container)

I can take a look and hopefully help you figure this out.

If the logs are reporting th

[2021-08-17 11:36] lchdev commented on #668
I found a few occurrences of this error in the readiness probe logs:

[code]

This means that the readiness probe is actually calling the Kubernetes API during its check. If the API is a bit too slow to answer (i.e. takes more than 1s), the readiness probe would report a failure...

We known that our API server can be a bit slow, so it would be sufficient to explain the recurring failures. Is ther

[2021-08-17 15:09] chatton commented on #668
Hi @lchdev,

Yes you are absolutely right, the readiness probe does make a few Kubernetes API calls to determine readiness.

It is possible to adjust the readiness timeouts using the StatefulSet spec override in the MongoDBCommunity CR. You can use it like this

[code]

(I've ommited every unrelated field)

You should be able to modify any underlying StatefulSet field using this mechanism.

[2021-08-17 15:31] lchdev commented on #668
Thanks, this is much better now :)

Out of curiosity, is there any reason to have the readinessprobe configured with a low timeout (1s) but high failureThreshold (40) ?

[2021-08-18 12:48] chatton commented on #668
Hi @lchdev,

There is no reason specifically for these values, but you do make a good point. We should re-assess these values. Since your original issue was resolved, I'm closing this issue.

[2021-08-18 12:48] #668 closed

[2021-08-19 01:47] #489 closed

[2021-08-19 13:33] afzalch commented on #540
This is still an issue that I would like to see get resolved in the future if possible.

[2021-08-19 13:34] afzalch commented on #542
This is still an issue that I would like to see get resolved in the future if possible. This issue is still affecting me.

[2021-08-20 06:14] Brice187 opened #692 "Readiness probe failed - permission denied"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

Upgraded yaml and images from operator 0.5.1 to 0.7.0

**What did you expect?**
Spin up a 3-Node MongoDB ReplicaSet

**What happened instead?**
[code]

**Operator Information**
 - mongodb-kubernetes-operator:0.7.0
 - 4.4.8

**Kubernetes Cluster Information**
 - k3s
 - v1.21.3+k3s1
 - internal registry

**Additional context

[2021-08-20 06:55] Brice187 commented on #692
Nevermind:

had to add

[code]
to my MongoDBCommunity StatefulSet

[2021-08-20 06:55] #692 closed

[2021-08-23 09:05] priyolahiri commented on #578
Could not reproduce with three worker node K3S Cluster and switching off 1 worker node for a 3 member replica set.

[2021-08-23 09:05] #578 closed

[2021-08-24 01:48] #467 closed

[2021-08-24 07:25] samsing123 opened #698 "Arbiter mongodb-agent always in unready status"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

1. Follow the steps in https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md and install the operator
2. Follow the steps in https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md and deploy a resource.
Observe that both operator and mongo DB resourc

[2021-08-24 08:11] idlezombie commented on #299
The link seems to be talking about MacOS specifically and the MongoDB website indicates that MongoDB server supports arm64 and the docker hub images for MongoDB server specify arm64v8. Am I missing something here?

Looked at that link a second time and also noticed "Looks like mongodb 4.4.0 supports x86_64 on Linux and macOS, **and arm64/aarch64 on Linux**" in the description.

Am not a programmer

[2021-08-25 01:48] #460 closed

[2021-08-27 17:08] nbalacha opened #699 "deploy/openshift/operator_openshift.yaml fails to deploy the operator"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Install the Mongodb community operator on an OCP cluster using deploy/openshift/operator_openshift.yaml
2. The operator pod fails to come up :
NAME                                           READY   STATUS                 RESTARTS   AGE
mongodb-kubernetes-operator-648775d88c-67zz5   0/1     CreateContainerError   0

[2021-08-31 01:48] #182 closed

[2021-08-31 20:52] dragonknight88 commented on #673
@Pantelispanka @bartlomiejwulff what was the needed update to deployments? I'm facing a similar issue where the container is unable to access the PV.

[2021-08-31 22:39] dragonknight88 opened #701 "Unable to run mongo server"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Followed operator install
2. Deploying rs. https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md

**What did you expect?**
1. mongod is running on container mongod

**What happened instead?**
1. mongod script commands failing on file access issue

[code]

**Screenshots**
If applicabl

[2021-08-31 22:47] dragonknight88 commented on #701
I'm trying to run mongo using community operator

[2021-09-01 01:48] hilaryming commented on #525
I had the same problem

[2021-09-01 01:51] hilaryming commented on #525
So how did you finally solve the problem？@flmmartins

[2021-09-01 08:13] bznein commented on #701
Hi @dragonknight88,

that error message is actually misleading; we should probably change it to a warning. That error is expected as soon as the pod starts because the file doesn't exist yet, so we need more info to troubleshoot the issue.

Are the mongodb pods marked as non ready? If so, can you attach the logs of the MongoDB pods?

Thanks

[2021-09-01 10:35] dragonknight88 commented on #701
Pods are all in ready state. Mongodb agent container logs shows 0 mongo instances ready.

Host name on the config in mongodb-agent container contains domain svc.cluster.local which is different for my on premise cluster could that be an issue?

[2021-09-02 08:11] freerk opened #703 "Resource request and limits not configurable in helmchart"
I've installed the operator via the helm-chart and found out that the resource requirements are not controlled via the values.yaml but 'hard-coded' in the operator deployment.

These resource requirements are quite huge, especially when trying to install the operator on a smaller cluster.

Now defaulting to:
[code]

These should be configurable through settings in the values.yaml.

[2021-09-03 06:18] raffimohammed commented on #701
I am running into the same issue. I am hosted on Azure on k8s version 1.19.11.

 The pods are in Running status when retrieved through 'kubectl get pods'. However, when you describe the pod, you notice these messages. kubectl logs against the pods the same error message. Please let me know if you need the logs.

[code]

[2021-09-03 07:44] dragonknight88 commented on #701
@raffimohammed what’s the config for hostname  under mongodb-agent container?

You could find the config location under commands when you describe the pod (mongodb-agent container commands)

try and check if cluster is able to resolve hostname successfully.

[2021-09-03 22:31] jphgardner commented on #299
same problem here with a Raspberry Pi4 Cluster, Gonna have to update my cluster to multi-arch

[2021-09-04 01:49] #267 closed

[2021-09-04 13:16] flmmartins commented on #525
I couldn't solve the issue and got locked out from the db. I am no longer in the project in question so I cannot provide more logs or configs for this issue.

[2021-09-08 01:49] #536 closed

[2021-09-08 19:50] arshabh-inspectlogs opened #711 "secrets that contains users' connection strings and credentials are not created anymore"
As per the [documentation](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#deploy-a-replica-set) and the [release notes](https://github.com/mongodb/mongodb-kubernetes-operator/releases/tag/v0.6.1)

[code]

Sadly, this is not true anymore in the latest code. We were able to get the above mentioned secret made in [release 0.6.1](https://github.com/mongodb/

[2021-09-08 21:38] trilliot commented on #676
This issue is still causing troubles on commit 9ec2dcf:

[code]

It seems that commit 44ed501 applied later on somehow overwrote the fix.
Commenting out [this line](https://github.com/mongodb/mongodb-kubernetes-operator/blob/44ed501acaeb58b523d757025fbf292bec7e024d/config/crd/bases/mongodbcommunity.mongodb.com_mongodbcommunity.yaml#L343) fixes it for now.

[2021-09-08 21:41] trilliot commented on #711
I had the same issue and it seems linked to #676.
The secret will not be created until the reconcilation loop succeeds, which is prevented by the mentioned issue.

[2021-09-09 02:26] loserdog-err commented on #711
+1

[2021-09-09 09:59] snehlatamohite opened #712 "mongodb-agent binary for Power (ppc64le) arch"
Hello Team,

We were trying to build mongodb-kubernetes-operator locally on power platform.

All operator images got built on Power. However x86 mongodb-agent binary is getting installed in mongodb-agent-dev:latest image.  Dockerfile - (https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/scripts/dev/templates/agent/Dockerfile.builder#L8)

In previous conversation over ticket https:/

[2021-09-09 13:40] mazzespazze commented on #711
+1

[2021-09-09 13:42] mazzespazze commented on #711
Any insight in how to connect then to mongodb?

[2021-09-09 14:28] arshabh-inspectlogs commented on #711
@mazzespazze I used release 0.6.1. It worked

[2021-09-09 22:10] joshho opened #713 "Cannot add a ImagePullSecret to the Statefulset template."
**What did you do to encounter the bug?**
mongo CR
[code]

[code]

**What did you expect?**
Image PullSecret to be added to mongo STS

**What happened instead?**
Mongo Operator failed to merge it.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operator Information**
 - 0.52
 - MongoDB Image used

**Kubernetes Cluster Information**
 - Distribution
 - Version
 - Ima

[2021-09-10 03:27] chowyu08 opened #714 "does operator 0.7 support mongo v5"
does operator 0.7 support mongo v5?

[2021-09-10 08:17] mkruliv opened #715 "Operator doesn't start on IPv4 only k8s cluster if IPv6 enabled"
We need to create MongoDB clusters for Kubernetes that will work on IPv4 and IPv6 platforms, but when we set
[code]
the cluster doesn't start on IPv4 platform, for IPv6 only platform it works well
Is it possible to have one config for both platforms?

**What did you expect?**
We expect that the Kubernetes operator with that parameters should work on both ipv4 only and ipv6 only Kubernetes cluster

[2021-09-10 08:51] rodrigovalin commented on #715
Hello @mkruliv

Thanks for reporting! We have not done any tests on dual-stack ipv4/ipv6 Kubernetes, but I would like to definitely try.

* What kind of Kubernetes distribution are you using?
* And also, can you please copy the full yaml file with your mongodb custom resource you are using?

[2021-09-10 09:03] mkruliv commented on #715
Hi @rodrigovalin! Thanks for quick response
1. Currently we are using Kubernetes on VMware vSphere
```Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:50:46Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}```
2. CR YAML:
[code]

[2021-09-10 09:12] mkruliv commented on #715
If we don't set ipv6 parameter cluster starts successfully

[2021-09-10 16:56] rodrigovalin commented on #715
Hello @mkruliv

I managed to reproduce your configuration using [kind](https://kind.sigs.k8s.io/) with the following configuration:

[code]

And starting a cluster with:

[code]

I've tested your configuration and I can confirm that the Operator does not work on dual-stack Kubernetes with ipv6 parameter. I've been investigating this a bit and the agent won't get to running state as you mention.

T

[2021-09-10 17:04] rodrigovalin commented on #715
Hey @mkruliv

Now that I wrote that comment I think I missed your original point, which was to have `ipv6: true` enabled in a **IPv4 only** cluster!

This problem might be related to using `bindIpAll: true` with `ipv6: true`. In that case, mongodb will bind to the `::` address, which is not available in `ipv4`, of course. More info [here](https://docs.mongodb.com/manual/reference/configuration-opt

[2021-09-10 17:19] rodrigovalin commented on #715
I'll answer that question myself, when using `ipv6: true`, and whatever value you use for `bindIp`, the configuration will always be `bindIp: '::'` for `mongod`, which means that MongoDB will try to bind to a `::`.

[2021-09-10 20:50] mswilson4040 commented on #711
+1

Working my way through the documentation [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#deploy-a-replica-set) and can't make much progress since the below command can't find the secret. The replica set and secret within the yaml file here deploy without issue.

Doesn't work:
[code]

Is there a manual way to get the operator to generate the se

[2021-09-13 01:49] #539 closed

[2021-09-13 07:38] repocho commented on #483
Hello,

is this still not working or was fixed in a release ?

Thanks.w

[2021-09-13 08:02] bznein commented on #483
Hi @repocho,

please see https://github.com/mongodb/mongodb-kubernetes-operator/issues/483#issuecomment-878319275

Kind regards,
Nikolas

[2021-09-13 09:25] rajivml opened #716 "CA ConfigMap "mongodb/" not found"
HI,

I have cloned the latest mongoDB operator and tried to deploy MongoDB via helm chart and the Mongo deployment failed with this error.

[code]

helm -n mongodb install mongodb helm-chart

Can you please fix this

[2021-09-13 09:26] rajivml commented on #716
cc @tibulca as it's related to https://github.com/mongodb/mongodb-kubernetes-operator/pull/706

[2021-09-13 11:48] asychev commented on #676
Same problem for me

[2021-09-13 13:53] priyolahiri commented on #714
Yes!

[2021-09-13 13:53] #714 closed

[2021-09-14 06:17] mkruliv commented on #715
I can't find the MongoDB automation agent source code. Is it free or proprietary?

[2021-09-14 07:52] rodrigovalin commented on #715
The agent's code is not open source unfortunately.

I understand you might have a very good reason to enable ipv6 on a SingleStack Kube cluster, but for now, and to make your resource to work, it has to be disabled.

[2021-09-14 08:01] mkruliv commented on #715
@rodrigovalin thanks for the explanation

[2021-09-14 10:59] mkruliv commented on #715
I'm going to close the ticket as I'm able to fix that issue by editing the mongo Kubernetes operator Go code (related to container run command) and building a new operator docker image and it works as expected. Not sure that I need to create PR with my changes. If someone needs the same please ping me. Thanks.

[2021-09-14 11:05] rodrigovalin commented on #715
I think I'm interested in seeing your solution; if you don't mind, create that PR and we can discuss about that being a solution for this particular use case and how we can include it in the future.

[2021-09-14 14:16] irajdeep commented on #713
Hi @joshho, I couldn't reproduce this issue. I used the following YAML to create the resource with `imagePullsecrets` and it was created successfully. Please make sure you have the correct roles and serviceAccount configured for the operator.

Pasting the yaml spec:

[code]

[2021-09-15 07:25] irajdeep commented on #713
Feel free to re-open if the issue still persists.

[2021-09-15 07:25] #713 closed

[2021-09-15 10:13] tibulca commented on #716
Hi @rajivml
can you please share the helm values.yaml?
If you're trying to deploy the resource too (createResource: true), this will be possible with our next release 0.7.1, or if you build the operator image from master and use it in the helm install

[2021-09-15 10:35] tibulca commented on #711
Hi @arshabh-inspectlogs, @trilliot,
found the regression and fixed it on master, can you please pull the latest changes and try again?

[2021-09-15 10:40] tibulca commented on #676
Hi @asychev , @trilliot,

we found the regression and fixed it on master [PR 718](https://github.com/mongodb/mongodb-kubernetes-operator/pull/718/files) can you please pull the latest changes and try again?

[2021-09-15 11:09] asychev commented on #676
@tibulca maybe you can release 0.7.1 version with this fix only?

[2021-09-15 12:09] tibulca commented on #676
@asychev
the issue was with the CRD, not the operator itself, and was introduced after 0.7.0.
Re-applying the CRD from master should fix the problem in your environment.

[2021-09-15 12:57] trilliot commented on #711
Hello @tibulca,
I can confirm the issue is fixed on master.

[code]

Thank you very much :raised_hands:

[2021-09-15 12:57] trilliot commented on #676
Hello @tibulca,
I can confirm the issue is fixed on master.

[code]

Thank you very much :raised_hands:

[2021-09-16 06:20] mkruliv commented on #715
@rodrigovalin I've pushed these changes to my fork, so you can check it [there](https://github.com/mkruliv/mongodb-kubernetes-operator/commit/9e16c5b9d73645a2d2c397f33f29ca2fedf48a79)

[2021-09-16 06:20] #715 closed

[2021-09-17 09:46] priyolahiri commented on #685
The pods seem to be stuck in a terminating state. Did this eventually resolve for you? I am unable to reproduce this on my K3s cluster.

[2021-09-17 09:56] irajdeep commented on #630
Hi @bodomic2 I couldn't reproduce this issue against the latest operator version and CRDs, we fixed some issues with the CRD in last few weeks. Could you please try again against the latest CRD in master and the operator release and check if the issue still persists.

[2021-09-17 10:26] bodomic2 commented on #630
hi, thanks for the update, I've let down the whole mongodb k8s idea since then.
I'll keep this noted, I believe this very issue can be closed for now.

[2021-09-17 10:26] #630 closed

[2021-09-17 12:34] abhijitchaudhari1 opened #720 "Labels for volumeClaimTemplates in MongoDBCommunity not getting passed to actual PVC resource"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Create a `MongoDBCommunity` with version `mongodbcommunity.mongodb.com/v1` with following config
[code]
2. Check the labels on created PVC
[code]
3.  Check volumeClaimTemplates config on statefulset
[code]
4. Label (in this case `mongodb-volume`) is not passed to statefulset and hence not to actual PVC resource

**What d

[2021-09-17 13:50] DeborggraeveR opened #721 "Mongo not starting"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

Followed the install instructions
https://github.com/mongodb/mongodb-kubernetes-operator/blob/b9487763041816f773d8dd01e1a5eb69dcf4a644/docs/install-upgrade.md

https://github.com/mongodb/mongodb-kubernetes-operator/blob/b9487763041816f773d8dd01e1a5eb69dcf4a644/docs/deploy-configure.md

**What did you expect?**
Running mong

[2021-09-19 01:49] #542 closed

[2021-09-20 08:16] olfway opened #724 "Operator crashes after members 1 -> 3 update"
**What did you do to encounter the bug?**
1. I was running one node mongodb cluster
2. Increased members to "3" and in the same time updated "resources" in statefulSet.spec.template.spec.containers for mongod container
3. mongodb-cluster-1 pod started and become "running" but mongodb-cluster-0 pod become "pending" because of pods anti-affinity and eks node-group max nodes limit
4. Increased eks no

[2021-09-20 08:20] olfway commented on #724
Tried to decrease members to "1" - this fixes operator
But after increase to "3" it starts crashing again

[2021-09-20 08:40] olfway commented on #724
It seems that's because of replicaSetHorizons misconfiguration

[2021-09-20 12:47] priyolahiri commented on #724
You need to have a corresponding number of horizon entries for the value you have set in members. For example if:

`members: 2`

then

[code]

[2021-09-20 12:47] priyolahiri commented on #724
Refer to: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/samples/external_access/mongodb.com_v1_mongodbcommunity_cr.yaml

[2021-09-21 01:49] #575 closed

[2021-09-21 16:03] samelie commented on #554
For what it's worth, I faced similar issues connecting my nodejs app to the connection string extracted with `k get secrets example-mongodb-admin-my-user -n adddog -o json | jq -r '.data | with_entries(.value |= @base64d)'`

Going to place below what learnings were made.

The config secret must have been created. See https://github.com/mongodb/mongodb-kubernetes-operator/issues/711

I was able to

[2021-09-21 19:06] #711 closed

[2021-09-21 19:18] arshabh-inspectlogs commented on #299
@jamesbroadhead Looks like Spidermonkey ESR91 was released on 10th Aug. Any plans on when will mongodb agent for aarch64 will be available ?

[2021-09-22 07:45] irajdeep commented on #721
Hi @DeborggraeveR

Could you please share the `MongoDBCommunity` Custom Resource file, you're trying to apply.

[2021-09-22 08:14] DeborggraeveR commented on #721
@irajdeep

I have been using the sample file: config/samples/mongodb.com_v1_mongodbcommunity_specify_pod_resources.yaml

Meanwhile i also run the same scenario on another cluster

**Kubernetes Cluster Information**
- Type: on-premise
- Kubernetes v1.21.1
- Ubuntu server 20.04 LTS

[code]

These are the exact steps executed during deployment
[code]

[2021-09-22 09:13] jatinderjawanda opened #730 "Agent health Status is not readable when securityContext is in Containers"
**What did you do to encounter the bug?**
This appears to be the same problem as reported in https://github.com/mongodb/mongodb-kubernetes-operator/issues/533
The only difference is the securityContext.

**What did you expect?**
After applying mongodb.MongoDBCommunity.yml, I wait until `kubectl get mdbc -n mongodb` reports Running. I then shell into the `mongod` container and attempt to connect lo

[2021-09-22 18:38] jatinderjawanda commented on #721
Any Update on this one !!

[2021-09-23 11:50] irajdeep commented on #721
[code]

[2021-09-23 13:06] jatinderjawanda commented on #721
@irajdeep : I agree that these steps ran fine. Both operator pod and replica pod comes up. However the database is not starting inside the pod.
I raised a ticket for the same to get pointers.
https://github.com/mongodb/mongodb-kubernetes-operator/issues/730
[code]

[2021-09-23 13:09] irajdeep commented on #721
@jatinderjawanda okay, we can have a look at that ticket, could you close this ticket in that case? It looks like a duplicate.
Thanks

[2021-09-23 13:12] jatinderjawanda commented on #721
@irajdeep : This ticket is opened by @DeborggraeveR.

Regards !!

[2021-09-23 13:16] irajdeep commented on #721
Sorry missed that, @DeborggraeveR  are you having the similar issue of not able to connect or the mongodb pods are not running.

[2021-09-23 13:26] jatinderjawanda commented on #721
it seems @DeborggraeveR is also facing the same.
[code]

[2021-09-23 13:29] DeborggraeveR commented on #721
Yes, the files are missing, causing the mongod pod to wait for ever on these files.
From what i found, these files should be generated by the agent pod, but i don't find the reason why

[2021-09-23 13:32] irajdeep commented on #721
Thanks, folks. I am going to close this issue and we are going to investigate this as part of https://github.com/mongodb/mongodb-kubernetes-operator/issues/730.

[2021-09-23 13:32] #721 closed

[2021-09-24 06:11] olfway opened #731 "Cannot scale down cluster to zero nodes"
**What did you do to encounter the bug?**
I tried to temporary scale down cluster with spec.members: 0

**What did you expect?**
Operator should terminate all mongodb pods

**What happened instead?**
Got an error in operator logs:

**Operator Information**
 - mongodb-kubernetes-operator:0.7.0

[2021-09-24 08:41] priyolahiri commented on #724
Please feel free to re-open if your issue is not resolved after the correct configuration.

[2021-09-24 08:41] #724 closed

[2021-09-24 10:35] priyolahiri commented on #537
Which linter are you using? Are you running it on the cluster with something like https://github.com/digitalocean/clusterlint?

[2021-09-24 10:35] priyolahiri commented on #538
Which linter are you using? Are you running it on the cluster with something like https://github.com/digitalocean/clusterlint?

[2021-09-27 06:01] krishvoor commented on #712
@theburi we cannot seem to pull in the binary from this [location]( https://cloud.mongodb.com/download/agent/automation/mongodb-mms-automation-agent-manager-10.19.0.6566-1.ppc64e1.ubuntu1604.deb ) onto ppc64le

Do we have to import any public keys for the repo/deb-package to be accessible?
Can you kindly shed some light on this?

[2021-09-28 08:15] snehlatamohite commented on #712
Able to download binary for power using dockerfile. Thanks.

ADD https://mciuploads.s3.amazonaws.com/mms-automation/mongodb-mms-build-agent/builds/automation-agent/prod/mongodb-mms-automation-agent-11.0.5.6963-1.rhel7_ppc64le.tar.gz /data/mongodb-agent.tar.gz
Downloading [==================================================>]  15.39MB/15.39MB
 ---> 663fc95ed96a

[2021-09-28 08:15] #712 closed

[2021-09-28 12:36] priyolahiri commented on #731
We currently don't allow scale down of MongoDB nodes to 0. We might consider allowing this in the future.

[2021-09-28 12:36] #731 closed

[2021-09-29 18:06] TechnicalMercenary opened #737 "Using mongo:4.2 fails creating replica set"
**What did you do to encounter the bug?**
For our mongo in dev regions we prefer not to lock mongo to a 0.0.x version.  Helps keep us up to date.

I tried  the following

[code]

**What did you expect?**
I had hoped that the mongo pods would be created running the latest version of mongo 4.2.x but I got an error instead.

Well,  the first pod was created successfully, but the replica set will not

[2021-09-30 14:23] DeborggraeveR commented on #730
Can we set the agent log level to verbose to find a possible reason these files are not being created?

[2021-09-30 19:21] TechnicalMercenary opened #738 "Changing the storage.dbPath prevents startup"
**What did you do to encounter the bug?**

I'm trying to use the operator to work like an existing mongo installation we have, there's a few defaults that I will need to change.  One is the path to the data.  I tried the following adding this to my configuration

[code]

**What did you expect?**

I expected the mongo instance to start and run, using the storage path I specified.

**What happened i

[2021-09-30 19:26] TechnicalMercenary opened #739 "Would like to be able to set the name of the replicaSet"
**What did you do to encounter the bug?**

I would like to use my own name for the replicaSet.  I'm trying to update an existing system that uses the replicaSet name `rs0` and we have jobs that require this to be the replica set name

I set this in my config

[code]

**What did you expect?**

I would like it to have used my name for the replicaSet

**What happened instead?**
A clear and concise de

[2021-10-04 10:19] manuel-koch commented on #193
Any estimate when enhance the helm-chart to support https://github.com/mongodb/mongodb-kubernetes-operator/issues/380 is available ?

I don't like to manually create ServiceAccount with same privileges as the operator and those privileges seem far too permissive for a simple MongoDb ReplicaSet/Pod that is not acting as an operator.

[2021-10-05 01:49] #614 closed

[2021-10-05 13:12] priyolahiri commented on #737
We currently don't support running the latest version with a tag like 4.2. You need to enter a minor version. We will consider this use case in the future.

[2021-10-05 13:12] #737 closed

[2021-10-06 21:36] petrovicboban opened #742 "EmptyDir for data-volume and log-volume"
It would be very helpful for users CI pipelines in testing phases, to start mongodb instance(s) with no data, populates initial data and proceed with testing on each run.

**What did you do to encounter the bug?**

[code]

**What did you expect?**
I expect a pod to start with empty directory for data-volume and log-volume.

**What happened instead?**
Those volumes are still defined as VolumeClaimT

[2021-10-07 01:51] #608 closed

[2021-10-08 01:52] #202 closed

[2021-10-08 01:52] #328 closed

[2021-10-08 15:29] browser-bug opened #744 "mongodb-agent permission denied when creating new Replica Set"
**What did you do to encounter the bug?**
Following the docs I've correctly [installed the operator](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md#procedure) using the default namespace.
After that I've proceeded to [deploy and configure mongodb resources](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md) using

[2021-10-09 11:33] browser-bug commented on #744
As an update, I managed to apply the security context to the agent specifically. Apparently the securityContext set inside the manager operator deployment is not getting reflected on the images defined.
[code]
What I did is setting inside the CRD a securityContext that could act with root permissions (even if this is not really safe but I'm in a closed environment for now).
[code]

[2021-10-09 11:36] browser-bug commented on #744
What I'm facing now is a different error, inside the mongod agent again.
[code]
Which I really don't know how to solve this time. I'm just following step by step the documentation default instructions.

[2021-10-09 23:11] browser-bug commented on #744
I tried forcing a schedule to specific nodes but It doesn't seem to be relevant to the matter. What I figured

[2021-10-10 20:45] Starefossen opened #746 "Operator creates invalid connectionString for cluster with cluster name"
**What did you do to encounter the bug?**

For clusters with FQDN other then `cluster.local` it not possible to connect with the connection strings provided in the database user secrets even with `CLUSTER_DNS_NAME` set in the operator (#181).

This is most likely caused by these lines:

https://github.com/mongodb/mongodb-kubernetes-operator/blob/48ae26a1e96266cf337a4fe3ac1093cc209cb2d2/api/v1/mong

[2021-10-10 21:45] Starefossen opened #748 "Provide metrics to monitoring the operator"
What kind of metrics is it possible to get out from the operator currently?
Would it be possible to instrument the operator (not the databases) with Prometheus metrics for better monitoring?

[2021-10-18 10:31] #748 closed, assigned to nobody

[2021-10-21 09:19] irajdeep commented on #701
This indeed seems to be the problem. There is a similar issue: https://github.com/mongodb/mongodb-kubernetes-operator/issues/746 which would allow configuring the `clusterSpecDomain` which is currently being worked on.

[2021-10-21 11:10] suppix opened #756 "resize data volume and update configuration"
Hello. Thanks for this k8s operator.

Could you please let me know how I can resize volume for Mongodb:
[code]

My config:
[code]
I have changed storage 50G -> 60G

And the same question about config:
I have added this config:
[code]
But operator, haven't updated Mongodb config file.

[2021-10-22 13:58] joshho opened #757 "Cannot verify if Mongo is communicating with other mongo pods with TLS"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Deploy Mongo with:
[code]

**What did you expect?**
Logs to show the connection information between mongo pods.

**What happened instead?**
Logs show this:
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operator Information**
 - 0.5.2
 - Image is 4.2.16 - MongoDB Image used

**Kubern

[2021-10-22 18:09] teobouvard opened #758 "mongodb-agent cannot retrieve cluster config when using non-full image tags"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

1. Create a minikube cluster
2. Install mongodb-kubernetes-operator
3. Create a MongoDBCommunity object by specifying a MongoDB image with a non-full tag (e.g. "5.0" rather than "5.0.3")

**What did you expect?**
I expect the replica pods to be created.

**What happened instead?**
The first pod gets created but is never re

[2021-10-26 06:14] hjy93 opened #759 "statefulset container template - imagePullPolicy were forced set to Always"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. prepare required image locally
2. create cr by cr yaml in this repo
3. see statementfulset template spec, all container's ImagePullPolicy except mongod were set to Always.

**What did you expect?**
I think the ImagePullPolicy should be IfNotPresent because kubernetes document said

I know I can specify ImagePullPolicy in

[2021-10-27 16:54] ties-s opened #761 "Error after migrating to M1 Max MacBook Pro"
After moving my working setup from an Intel MacBook Pro to my new M1 Max MacBook Pro, I have the following errors. Mongo seems stuck waiting for agent, which keeps looping through some wait script.

[code]

[code]

[2021-10-29 03:19] tayl0r opened #764 "Adding multiple users to MongoDBCommunity spec-users array breaks ReplicaSet"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

1. Follow the mongodb-kubernetes-operator getting started guide to [install the operator](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md):
[code]

2. Follow the guide to [deploy a mongodb resource](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-con

[2021-10-29 17:45] #699 closed, assigned to nobody

[2021-10-29 18:10] rodrigovalin commented on #764
Can you post the output of the containers in the `example-mongodb` Pods?

[code]

[2021-10-29 18:45] tayl0r commented on #764
To be clear, with the workaround, when I use 1 user, it creates each pod and the ReplicaSet is ready. Working fine.

When I use 2 users (as described in my bug report), the first pod creates but fails the readiness check.

Logs from pod-0:

mongod
[code]

mongodb-agent
[code]

[2021-10-29 18:49] tayl0r commented on #764
Some other output that might be useful for debugging, from the *not working* mongodb-0 pod terminal:

[code]

So, readinessprobe returns non-zero, but the agent-health-status.json seems to indicate it's ready.

[2021-11-01 00:40] ties-s commented on #761
I have tried installing with the files cloned directly from this repository, which defines image `quay.io/mongodb/mongodb-kubernetes-operator:0.7.1` with both mongo `4.4` (which now runs fine standalone) and `5.0`.

**Kubernetes Cluster Information**
Docker Desktop for Mac
[code]

[2021-11-01 09:10] irajdeep commented on #701
Hi @dragonknight88 could you please try configuring the cluster domain with operator version `v0.7.1`?

`0.7.1` release allows users to configure the cluster domain with an environment variable. More details can be found here: https://github.com/mongodb/mongodb-kubernetes-operator/releases/tag/v0.7.1

[2021-11-02 05:54] hjy93 commented on #759
@bznein thanks for your apply.

[2021-11-02 05:54] #759 closed

[2021-11-02 08:47] irajdeep commented on #701
Feel free to re-open if the issue still persists.

[2021-11-02 08:47] #701 closed

[2021-11-03 09:23] bznein commented on #758
Hi @teobouvard, I'm closing this issue as it has been documented (thank you for the PR!), feel free to reopen it if needed!

[2021-11-03 09:23] #758 closed, assigned to nobody

[2021-11-04 07:20] stanltam opened #771 "Possbile to configure electionTimeoutMillis in replicaset?"
**What did you do to encounter the bug?**
Possible to configure electionTimeoutMillis in replica set CRD? Not able to find any documents mentioned that.

**What did you expect?**
Possible to configure electionTimeoutMillis in replica set CRD? Not able to find any documents mentioned that.

**What happened instead?**
Possible to configure electionTimeoutMillis in replica set CRD? Not able to find a

[2021-11-04 09:42] priyolahiri commented on #761
Can you ensure that you are using the latest version of Docker from here: https://docs.docker.com/desktop/mac/apple-silicon/

Also, check to see if Rosetta is installed: softwareupdate --install-rosetta

Currently there is no official support for M1 but it is being worked on.

[2021-11-04 22:16] petrovicboban commented on #742
Hi @cortex3
workaround is not to re-deploy mongodb on each pipeline, but instead, reset db contents each time.

[2021-11-05 06:07] spartanox opened #772 "[Question] Is it possible to rotate root credentials outside of CRD?"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Install operator locally
2. Deploy a replica set with mongo 5 and admin user with root role.
3. install and innit hashicorp Vault for key management
4. Add connection string of created database to vault and check it works
5. When the connection succeed, vault ask me to rotate root credentials and I accept
6. Credentials

[2021-11-08 01:49] #677 closed

[2021-11-08 11:50] rodrigovalin commented on #193
All of our Kubernetes Operators are available in the [MongoDB Helm Repo](https://github.com/mongodb/helm-charts).

[2021-11-08 11:50] #193 closed

[2021-11-08 14:14] siegenthalerroger opened #773 "Adding arbiter to existing cluster results in unready and unresponsive cluster"
**What did you do to encounter the bug?**
Have a mongo deployment with 3 members of the replica set.
Add a new member and add an arbiter simultaneously (i.e. add an arbiter without sacrificing a replica node).

**What did you expect?**
I expected a new node to be added and this to be defined as the arbiter, resulting in no downtime.

**What happened instead?**
1. A new node was scheduled BUT inste

[2021-11-08 14:35] siegenthalerroger commented on #773
I've also checked and verified that the same issue happens even with mongoDB 4.4.10

[2021-11-10 08:59] fractal1977 opened #776 "Mongodb community operator Helm chart is Broken"
The Mongodb operator community Helm Chart is no more available on our catalog because the new community-operator chart is missing from the index (only enterprise is listed here)

[2021-11-11 09:57] rodrigovalin commented on #776
Thanks for reporting,

As stated here https://github.com/mongodb/helm-charts/issues/70 the Chart was renamed to `mongodb-kubernetes-operator`; _that was a mistake on our part_.

The Chart will be renamed back to `community-operator` as you expect, in the next few days.

[2021-11-12 17:34] michalschott opened #779 "Adding replicas to replicaset doesn't work"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. install mongodb-community-operator (chart 0.7.1, watch all namespaces)
2. provision MongoDB:

[code]

**What did you expect?**
I'd expect 3 pods of MongoDB running.

**What happened instead?**
Controller is stuck in `ReplicaSet is not yet ready, retrying in 10 seconds`.

[code]

MongoDB pods are stuck:
[code]

agent-0:
[

[2021-11-12 18:14] #757 closed

[2021-11-15 18:45] cortex3 commented on #764
Hi, I have the same problem, my logs look very similiar too.

[2021-11-16 14:01] rodrigovalin commented on #773
Hello @siegenthalerroger,

After increasing `spec.arbiters` from 1 to 2 we have the following error from agent on Pod-1 (example-mongodb-1)

[code]

The important part of this output is:

[code]

It looks like `example-mongodb-1` can't be made an `arbiter` right away, it needs to be _removed_ from the Replica Set and then _added_ as a arbiter.

When applying this change, the MongoDB resource will

[2021-11-16 14:05] chatton commented on #779
Hi @michalschott would you be able to provide the `kubectl describe` output for the StatefulSet? There may be some information there about why the last member is not coming up.

I notice you've explicitly removed the resource limits here

[code]

This could potentially cause an issue with the resource limits in the cluster. Have you tried specifying values for this and deploying the resource again

[2021-11-18 13:32] ElyRonen opened #784 "simple example operator deployment . not authorized to execute command"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

1. following this guide: https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/install-upgrade.md
    downloading the controller on the same namespace.

- `k apply -f mongodbcommunity.mongodb.com_mongodbcommunity.yaml`

- `kubectl apply -k config/rbac`

- `kubectl create -f config/manager/manager.yaml`

c

[2021-11-18 14:21] jamesbroadhead commented on #483
Documented in #483. Please file a ticket if following those docs is not successful

[2021-11-18 14:21] #483 closed

[2021-11-18 14:23] jamesbroadhead commented on #716
@francesco995 at the moment, we don't publish release dates in advance. 0.7.1 has now been released however

[2021-11-18 14:23] #716 closed

[2021-11-18 14:29] bznein commented on #756
Hi @suppix,

I'm closing this issue as this is not a feature we support and the provided documentation should help you achieve what you are trying to do. Feel free to reopen the issue if that's not helping.

[2021-11-18 14:29] #756 closed

[2021-11-18 14:56] bznein commented on #784
Hi @ElyRonen,

looking at the mongdob documentation, your user seems to have the following roles:
https://docs.mongodb.com/manual/reference/built-in-roles/#mongodb-authrole-userAdmin
and
https://docs.mongodb.com/manual/reference/built-in-roles/#mongodb-authrole-clusterAdmin

From my understanding, these users serve respectively to manage the users (so that you can create/delete other users) and th

[2021-11-19 10:11] rodrigovalin commented on #776
Hello @fractal1977

The Community Chart was renamed back to `community-operator`. Once again, thanks for reporting.

[2021-11-19 10:11] #776 closed

[2021-11-19 10:51] rodrigovalin commented on #540
Hi @afzalch

Do you think you could provide the required annotations as a pull-request? I'm not really sure I understand the need of this, and why your linter is failing. I'm also not familiar with what is the meaning of `productID` and `productMetric`.

[2021-11-21 23:09] michalschott commented on #779
Hi @chatton,

Turns out that the problem was in global deny-all networkPolicy. Once I have opened the traffic between mongodb operator and mongodb-pods problem is gone.

Altho I'd love to narrow this policy a bit, is there any document explaining which traffic should be allowed between mongodb operator and mongo-agents?

[2021-11-22 09:22] siegenthalerroger commented on #773
Thanks for the update and evaluation. I did not attempt to removing `example-mongo-1`, though I could see this working. In large clusters this would be frustrating however, due to the large amount of data to be replicated to a new `example-mongo-z` that has taken over the replica job.

[2021-11-22 12:00] chatton commented on #779
Hi @michalschott

I'm glad you go things up and running. Unfortunately a document outlining these requirements doesn't exist yet. I've created a ticket add such documentation internally.

I'm going to close this issue as the deployment works as expected once the network policy is configured.

[2021-11-22 12:00] #779 closed

[2021-11-26 15:02] bugslifesolutions commented on #744
I'm having a similar issue:

`k -n applianceshack logs --tail=10 as-mongodb-mayastor-001-0 mongodb-agent
[2021-11-26T14:56:34.696+0000] [.info] [src/director/director.go:computePlan:280] <as-mongodb-mayastor-001-0> [14:56:34.696] ... process has a plan : WaitAllRsMembersUp,RsInit,WaitFeatureCompatibilityVersionCorrect
[2021-11-26T14:56:34.696+0000] [.info] [src/director/director.go:tracef:794] <as

[2021-11-28 08:45] ElyRonen commented on #784
Hi @bznein ,
you are right!
thanks a lot for the help and suggestions .

[2021-11-28 08:46] #784 closed

[2021-11-29 08:54] priyolahiri commented on #761
@ties-s Did you restore from a backup or is this a fresh install of the operator on the M1 Max?

[2021-11-29 13:40] ties-s commented on #761
Initially I transferred all data from my old MacBook (which I think is similar to restoring from a backup in this case)

When it didn't work I tried a fresh operator deployment. That also didn't work.

[2021-11-29 23:21] kuznero commented on #299
When mongodb agent will support arm64?

[2021-11-30 07:16] kuznero opened #792 "Mongodb agent and tools binaries for arm64"
Similar to #712, also related to [this comment](https://github.com/mongodb/mongodb-kubernetes-operator/issues/299#issuecomment-982123979).

Is there an arm64 binary available that would be possible to use in a custom build targeting arm64?

I am looking into [Dockerfile.builder](ADD https://mciuploads.s3.amazonaws.com/mms-automation/mongodb-mms-build-agent/builds/automation-agent/prod/mongodb-mms-

[2021-11-30 20:55] bugslifesolutions commented on #764
Seems the mms-automation user wiring is missing.
`SASL SCRAM-SHA-1 authentication failed for mms-automation on admin from client 10.244.4.22:36248 ; UserNotFound: Could not find user "mms-automation" for db "admin"`

**Note: This requires the SCRAM-SHA-1 authentication mode override!**

[code]

The  [spec/openAPI schema](https://github.com/mongodb/mongodb-kubernetes-operator/blob/316be0034c8a8ae43

[2021-11-30 21:00] bugslifesolutions commented on #764
Found [this code](https://github.com/mongodb/mongodb-kubernetes-operator/blob/f288c2846928c2a43abbab05c3b172e1741384de/pkg/authentication/scram/scram.go#L102) that may help sort out the mms-automation user configurability.

[2021-11-30 21:12] bugslifesolutions commented on #764
In case this helps someone, the `autoPwd` from `/var/lib/automation/config/cluster-config.json` is the same as the kubernetes secret resource value.
`kubectl get secret as-mongodb-mayastor-001-agent-password -o yaml |yq eval '.data.password' -| base64 -d`

Still haven't figured out how to get the user automatically provisioned in the `admin` auth database...

[2021-11-30 22:10] bugslifesolutions opened #795 "The secret cannot have name prefix/suffix kustomization."
https://github.com/mongodb/mongodb-kubernetes-operator/blob/f288c2846928c2a43abbab05c3b172e1741384de/pkg/authentication/scram/scram.go#L119

Impact:
Need to turn off name prefix/suffix kustomization.  Use hard coded secret names such that the `MongoDBCommunity.spec.users[name=mms-automation]` instance can reference the same password secret as passed to https://github.com/mongodb/mongodb-kubernetes

[2021-12-01 15:12] #795 closed

[2021-12-01 20:58] maxisam commented on #483
@dgdevops Could you share how you config LoadBalancer service type for external access? Thanks!

[2021-12-02 11:08] rodrigovalin commented on #773
Hi @siegenthalerroger we have just merged a solution for scaling arbiters.

The patch has been merged as 63b3567c83bdadfca3f089e57a3943617085dd99 in master.

Please try it and let us know if you have any feedback.

[2021-12-02 14:52] maxisam commented on #761
I have the same issue. I run it on Rancher

I think this is the key.
`cannot open '/var/log/mongodb-mms-automation/mongodb.log`

[2021-12-03 11:45] maxisam commented on #591
@priyolahiri Thanks for the doc. I followed it but I got the warning

"No SSL certificate provided by peer"

[2021-12-07 19:15] mrik974 opened #804 "Having issues when trying to set limits to the mongod container"
Hi all :)
I tried to install a mongodb ReplicaSet with CPU and RAM limitations using the operator?
Here's my file :
[code]

**What did you expect?**
The cluster up and running with effective limitations applied to the mongod container

**What happened instead?**
The operator pod logs this message :
[code]

**Operator Information**
 - Operator version : `quay.io/mongodb/mongodb-kubernetes-operator:

[2021-12-07 19:26] mrik974 commented on #804
Fixed it, leaving it in case someone falls into the same issue.
I just inverted the `users` and the `statefulSet` specs...

Here's my template now :
[code]

[2021-12-07 19:26] #804 closed

[2021-12-08 14:21] mrik974 commented on #744
I have exactly the same issue, with `mongodb-agent` stating that it cannot open the logfile `/var/log/mongodb-mms-automation/readiness.log`
The `mongod` container seems to remain in a waiting state, and nothing really starts. Here are other logs from `mongo-agent` saying that they cannot access anything on any volume, emptyDir or Persistent Volume.

[code]

I tried to use the template given in the

[2021-12-09 23:13] kwill4026 commented on #804
You had commas instead of a whole number that why it failed. Decimal should be used instead of the comma. Also it needs to be assigned a size suffix. Like M, K, G, Mi, etc.
[code]

Should be:
[code]

[2021-12-09 23:31] kwill4026 commented on #198
i second that

[2021-12-10 10:43] jamesbroadhead commented on #198
We hope that you're successful in prod - whether that's with this Operator or with Helm Charts.

That said, this Issue tracker is intended to help us track work that the team should take on. If you'd like to discuss Opeartors or Charts, I recommend the Community Forum - https://www.mongodb.com/community/forums/tag/kubernetes-operator

[2021-12-10 14:23] ultrr opened #805 "When not specifying a database for user creation, created user has corrupted _id"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. While creating a manifest for mongodb cluster don't configure `spec.users.db` parameter. According to the [documentation](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/users.md#modify-the-mongodb-resource) user should be created in `admin` database.
2. The user is indeed created in `admin` datab

[2021-12-13 18:01] dan-j commented on #764
Try changing each user to have a unique `scramCredentialsSecretName`. Brand new to this project, ran into a similar issue and it seems to have fixed it. It looks like it creates the secret per user, but since they're the same the 2nd user overwrites the secret, then when the next reconcile loop happens it thinks it's stale and recreates it for user 1 etc.

Again, brand new here, it would be good i

[2021-12-13 20:31] jasonmimick commented on #792
Hi @kuznero -

We don't currently have any support for arm64 for the agents however it is in the roadmap. Would you be able to share any details on your requirements which could help us prioritize this issue?

Thanks,
Jason

[2021-12-14 08:43] kuznero commented on #792
Hi @jasonmimick,

I am running relatively big k8s cluster on arm64-based hardware. One of the corner stones of what I build is MongoDB. I am able to run plain MongoDB (v4.4) that runs smoothly on arm64, but as soon as I go to MongoDB 5, it starts reporting errors for missing CPU instructions (which I am not sure precise). The next step is to run k8s operator to govern MongoDB installations (which

[2021-12-14 11:51] bznein commented on #805
Hi @ultrr,

Thank you for raising the issue!
I can confirm that the default value is not correctly applied. I will create a PR to patch it soon; in the meantime, as you already noticed, you can fix it by simply specifying `admin` as database

[2021-12-14 12:21] bznein commented on #764
@dan-j is correct, `scramCredentialsSecretName` can't be reused between multiple users.

We will add some comments in the code/readme to make it clearer as well as validation in the code.

Thanks for spotting it!

I'm closing this issue since the original post has been answered. For anyone involved in the discussion, please feel free to reopen it or open a new one!

Nikolas

[2021-12-14 12:21] #764 closed

[2021-12-14 13:49] bznein commented on #525
Hello, after some digging this seems to be the same as #805. I see in your yaml you were relying on the default value for the user's db: that was not correctly working and will be fixed in #812

Feel free to reopen this issue if needed

[2021-12-14 13:49] #525 closed

[2021-12-14 13:56] #805 closed

[2021-12-14 14:07] bznein commented on #771
Hello @stanltam

This is not possible at the moment but it would be a good feature to have. There is work being done at https://github.com/mongodb/mongodb-kubernetes-operator/pull/806 that will move toward being able to implement it. If you are interested in contributing feel free to comment and we can provide some guidance around it

[2021-12-14 17:16] bznein commented on #202
Examples have now been added [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/samples/arbitrary_statefulset_configuration/mongodb.com_v1_hostpath.yaml)

[2021-12-14 22:25] xadereq opened #818 "Operator is appending args"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Create mongo deployment with custom container in template
2. Set some args in custom container
3. Apply manifest
4. Change previously args for container for other value
5. Operator is appending args list in custom container, not overwriting it. I had to change stateful set manually to get rid of arguments applied previou

[2021-12-15 06:13] WatchLucky commented on #438
I got the same error  。

logs as follow

#kubectl logs -f mongodb-kubernetes-operator-5674959665-svfvw  -n   mongodb
Running ./manager
2021-12-15T06:06:27.997Z        INFO    manager/main.go:74      Watching namespace: mongodb
2021-12-15T06:06:57.998Z        FATAL   manager/main.go:88      Unable to create manager: Get "https://10.96.0.1:443/api?timeout=32s": dial tcp 10.96.0.1:443: i/o timeout
ma

[2021-12-15 15:55] daniel-tasnadi-epam opened #819 "secrets that contains users' connection strings and credentials still not created."
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Start Ubuntu 20.04 LTS
2. Start minikube
3. Follow the [documentation](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/deploy-configure.md#deploy-a-replica-set)

**What did you expect?**
 The mentioned ` <metadata.name>-<auth-db>-<username>` secret should be created.

 **What happened instead?**
T

[2021-12-15 16:08] daniel-tasnadi-epam commented on #819
Hi @bznein, sure.
Please find the logs below:

`2021-12-15T15:01:48.037Z INFO controllers/replica_set_controller.go:132 Reconciling MongoDB {"ReplicaSet": "mongodb/example-mongodb"}
2021-12-15T15:01:48.037Z DEBUG controllers/replica_set_controller.go:134 Validating MongoDB.Spec {"ReplicaSet": "mongodb/example-mongodb"}
2021-12-15T15:01:48.037Z DEBUG controllers/replica_set_controller.go:143 Ensuri

[2021-12-15 16:11] bznein commented on #819
It looks like the reconciliation doesn't succeed.
The secret is created at the very last step of a successful reconciliation so it makes sense not seeing it.

Have you applied the most recent CRD?

Can you do one of the following?

1. Paste the output of `kubectl get crd mongodbcommunity.mongodbcommunity.mongodb.com -o yaml`
2. Apply the updated CRD: `kubectl apply -f config/crd/bases/mongodbcommu

[2021-12-15 16:21] daniel-tasnadi-epam commented on #819
@bznein yeah, sure.
Here is the output of the first command. Also, after the second command apply nothing changed.

`apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apiextensions.k8s.io/v1","kind":"CustomResourceDefinition","meta

[2021-12-16 09:49] seimic opened #821 "'currentState.Fickle.AllRsMembersUp() ' = false"
**What did you do to encounter the bug?**

Simple deployment of crds, operator and MongoDBCommunity.

1. Operator helm chart values

[code]

2. MongoDB

[code]

**What did you expect?**
Funtional mongo replicaset (statefulset)

**What happened instead?**
mongo-agent remains in endless loop waiting for replicaset to become available.

![image](https://user-images.githubusercontent.com/34323525/1463

[2021-12-16 13:37] daniel-tasnadi-epam commented on #819
Based on some testing, it's working in version 0.7.2, but with latest master it isn't.

[2021-12-16 14:47] radicalgeek opened #822 "No connection string in secret"
**What did you do to encounter the bug?**

Deploy either master or 7.0.2 to a fresh GKE instance in the default namespace following the documentation

**What did you expect?**
A kubernetes secret containing the username password and connection string should be generated

**What happened instead?**
The secret was generated, but it contains only the password, no username or connection strings.

**Ou

[2021-12-16 14:50] bznein commented on #822
Hi @radicalgeek

It looks like you are looking at the wrong secret.

`mongodb-clientuser-password` is the one you created containing the user password:

[code]

if the reconciliation is successful, the secret you are looking for should have the format <resource-name>-<database>-<user>, so in your case mongodb-cluster-admin-mongodb-clientuser

Please let me know if you are able to find this secret

[2021-12-16 14:54] radicalgeek commented on #822
Thanks for the prompt response! No I do not have that secret.

[code]

[2021-12-16 14:59] bznein commented on #822
Can you please check if the reconciliation was successful?

`kubectl get mdbc`

If it's `Running`, then there must be something wrong in the secret creation, if it is stuck in `Reconciling` can you please provide the full logs for the database pods (both agent and mongod containers) and the operator?

[2021-12-16 15:16] radicalgeek commented on #822
It says is is running
[code]

[2021-12-16 15:25] radicalgeek commented on #822
[mongo-agent.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/7728496/mongo-agent.txt)
[mongod.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/7728497/mongod.txt)
[operator.txt](https://github.com/mongodb/mongodb-kubernetes-operator/files/7728498/operator.txt)

[2021-12-16 18:55] jasonmimick commented on #772
Hi @spartanox -
Currently there is no way to do this directly with the CR.
MongoDB does support Vault integration, which is a slightly different way to "control" the database access, but that integration does support cred rotation.

[2021-12-17 01:52] #720 closed

[2021-12-17 09:12] jamesmmchugh opened #823 "Ability to disable persistence?"
I can't see any option to disable persistence, is this possible with the DB CRD or does it always rely on creating a PVC?

[2021-12-17 10:14] #772 closed

[2021-12-20 12:06] priyolahiri commented on #761
The agent is still not supported on the M1 machines. Support is being worked on.

[2021-12-20 12:06] #761 closed

[2021-12-21 12:47] tibulca commented on #819
Hi @daniel-tasnadi-epam
It looks like one of the recent changes in the CRD caused the issue you found.
This was breaking the reconciliation process and that's why the secret was not created either (since the creation of the secret is at the end of the reconciliation process).
I implemented the fix, so if you pull the latest master, you should be able to successfully install the operator and deploy

[2021-12-21 14:51] hoba84 opened #829 "Dynamic Provisioning of Persistent Volume Claim not working with Ceph-CSI (claim Selector is not supported)"
**What did you do to encounter the bug?**
Following the tutorial [Run Secure Containerized MongoDB Deployments Using the MongoDB Community Kubernetes operator](https://www.mongodb.com/blog/post/run-secure-containerized-mongodb-deployments-using-the-mongo-db-community-kubernetes-oper), it seems that dynamic provisioning is not working with custom storage classes.

Steps to reproduce the behavior:
1

[2021-12-21 15:55] tibulca commented on #822
hi @radicalgeek
I tried your configuration in GKE (except volumeClaimTemplates part) and the reconcile process was successful and the secret was created too.
What I noticed is that you made some changes (e.g. members 5->3, arbiters 3->0) and probably several install attempts (for example mongodb-clientuser-scram-credentials is 82m old while mongodb-clientuser-password is 31m). During this time I s

[2021-12-21 21:51] hoba84 commented on #829
Hi,

Sorry for any inconvenience created...after reploying, seems the above configuration works perfectly fine - therefore closing this issue.

Cheers,
Hoba84

[2021-12-21 21:51] #829 closed

[2021-12-22 02:35] daniloasfigueiredo opened #830 "Limit memory usage for mongod"
Hi, we using mongodb operator with 3 replicaset, each replica is hosted on a dedicaded node with 16GB of RAM, and we configure the pod limits do use max 14GB of RAM, but the mongod container recognizes the all provioned memory on the node, in this case 16GB of RAM.

Out problem is, every time the mongod container tries to use more than 12GB of ram, the pod is restarted by kubernetes, because the h

[2021-12-22 10:44] baijum opened #831 "Support for Service Binding Operator"
[Service Binding Operator](https://github.com/redhat-developer/service-binding-operator) helps to connect applications with services on Kubernetes and OpenShift. Service Binding Operator implements [Service Binding Specification](https://github.com/servicebinding/spec). There are two ways to support Service Binding Operator.

1. Make the MongoDB Kubernetes resource compliant with [Provisioned Serv

[2021-12-22 13:19] xadereq commented on #819
@tibulca so if I deployed already, what step should I take in order to fix this issue? Applying new CRD and then deleting `MongoDBCommunity` kind and creating new one or should applying new CRD be enough?

[2021-12-22 15:15] dgdevops commented on #483
Hey @maxisam,
I am using internal LoadBalancer service with `cloud.google.com/load-balancer-type=Internal` annotation on GKE that works well with the replicaSetHorizons setup that I have configured this way:
[code]
The internal LoadBalancer services (3 in total, one for each MongoDB member) are configured for the FQDN specified in the replicaSetHorizons configuration (member0/1/2_domain_name) with

[2021-12-22 16:46] tibulca commented on #819
@xadereq applying the new CRD should be enough (you can also restart the operator pod if you want the changes to be picked up faster)

[2021-12-22 17:31] xadereq commented on #819
thank you, worked flawlessly. Merry Christmas ;)

[2021-12-24 01:50] #537 closed

[2021-12-24 01:50] #538 closed

[2021-12-28 16:01] necipakca opened #832 "Can not change domain cluster name."
I have tried to change default "cluster.local" domain name to my cluster name.
I have define ENV like below I could not sure which is right so I have set both :)

       - name: CLUSTER_DNS_NAME
          value: my-k8s-cls
        - name: CLUSTER_NAME
          value: my-k8s-cls

But my connection string same like

mongodb://my-dev-mongodb-0.my-dev-mongodb-svc.ygd-namespace-dev.svc.**cluster.local

[2021-12-30 01:50] #730 closed

[2021-12-30 13:43] haslersn opened #833 "Incompatible with Restricted PodSecurityPolicy Because InitContainers Run as Root"
In K8s clusters using the Restricted policy of [Pod Security Standards](https://kubernetes.io/docs/concepts/security/pod-security-standards/), the MongoDB Pods cannot be created for two reasons:

1. The PodSpec is missing the following:

[code]

2. The InitContainers (`mongod-posthook` & `mongodb-agent-readinessprobe`) run as root.

**What did you expect?**

MongoDB operator should be compatible w

[2021-12-30 14:29] haslersn opened #834 "deploy/clusterwide/role_binding.yaml is not compatible with kustomize"
https://github.com/mongodb/mongodb-kubernetes-operator/pull/672 added the subject namespace `<your-namespace>`. However, this broke compatibility of that file with kustomize. kustomize will insert the subject namespace, if it's `default` or empty, but not if it's `<your-namespace>`.

[2022-01-01 14:59] tirelibirefe opened #838 "several volume, memory, configuration related problems"
Hello,
I have k8s on aws/eks and would like to install mongodb cluster(s) by using the operator.

1)
git clone https://github.com/mongodb/mongodb-kubernetes-operator.git

2)
I configured the Operator to watch all namespaces in the cluster.

mongodb-kubernetes-operator\config\manager\manager.yaml

[code]

mongodb-kubernetes-operator\deploy\clusterwide\role_binding.yaml
[code]
3)
`kubectl apply -f d

[2022-01-05 11:14] vikomte opened #839 "Unable to change port"
I have tried every configuration examples from https://docs.mongodb.com/kubernetes-operator/master/reference/k8s-operator-specification/ but no matter what i do, the port of the running ReplicaSet still is 27017.

I have tried adding spec.additionalMongodConfig.net.port, spec.net.port, spec.configSrv.net.port, spec.configSrv.additionalMongodConfig.net.port, and many more..

Example:
[code]

I unde

[2022-01-05 15:18] rodrigovalin commented on #821
Hello @seimic; thanks for reporting this issue.

The problem is with your `MongoDB` resource. You need to change the `selector.matchLabels` and `template.metadata.labels` in `spec.statefulSet.spec` from:

[code]

To

[code]

This will get this resource to a Running state.

Closing this for now; please reopen if you have any other questions.

[2022-01-05 15:18] #821 closed

[2022-01-06 08:02] qrr1995 opened #840 "How to set `memlock` for MongoDB in Kubernetes?"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:

1. Install a MongoDB Cluster with the operator.
2. login the pod with `kubectl exec -ti mongodb-0 bash`
3.  exec `ulimit -l` to get the memlock size

**What did you expect?**
* The memlock should be **unlimited** or configurable, according to the [docs ](https://docs.mongodb.com/manual/reference/ulimit/)
*  Since I'm runni

[2022-01-06 08:14] qrr1995 commented on #839
The doc you have referred is for `MongoDB Enterprise Kubernetes Operator`  https://github.com/mongodb/mongodb-enterprise-kubernetes ， maybe it didn't work for the MongoDB community operator?

[2022-01-06 09:33] bznein commented on #831
Thanks @baijum for opening this issue.

This looks like an interesting feature; there's no immediate plan to implement it but I think it would be a good candidate for external contributors.

[2022-01-06 09:40] bznein commented on #834
Hi @haslersn

#672 was created to fix #663. Wouldn't this change bring back the same issue?

[2022-01-06 09:43] bznein commented on #830
My understanding is that this should work.

If it doesn't, can you exec into one of the pods and show the content of /data/automation-mongod.conf?

Thanks

[2022-01-06 12:26] Archanadorepalli opened #841 "Mongodb log file is not getting generated in kubernetes statefulset yaml"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Go to 'we have added log file path in mongod.conf.orig file, but still its not generating log file'

**What did you expect?**
As we have mentioned log file path in mongod.conf.orig, is there any way to write config file from statefulset yaml to generate log in the mentioned log path

**What happened instead?**
Log file i

[2022-01-06 17:36] haslersn commented on #834
Well, in cases where the line is needed, it needs to be changed anyway. If necessary, one can remove the comment.

[2022-01-07 20:52] FridMehdi opened #843 "class storage of AWS"
how to use class storge of AWS for example ?

[code]
I get the folowing issue by appliying the folowing commande
[code]

[code]

[2022-01-08 00:13] javierdompablo opened #844 "TLS enabled to false not working properly"
**What did you do to encounter the bug?**
I am trying to disable the TLS setting to delegate it to a proxy service like istio. Reviewing the configuration, I find that a field is exposed in the manifest to disable it:

[code]

**What did you expect?**
Reviewing the `/data/automation-mongod.conf` file, I find that after applying the change in the manifest, the authorization option continues enabled

[2022-01-09 11:42] antonputra commented on #843
You can override any attribute of the statefulset, including volumeClaimTemplate. It should be something like this
[code]

[2022-01-10 12:50] priyolahiri commented on #840
You should be able to set ulimit parameters by changing the docker configuration on the Kubernetes nodes. This [stackoverflow question](https://stackoverflow.com/questions/33649192/how-do-i-set-ulimit-for-containers-in-kubernetes) has some good pointers. The method works reportedly works on AWS EKS, but you can try the same on Azure AKS. This has to be done on the worker nodes.

[2022-01-10 13:00] priyolahiri commented on #844
the keyfile here is not related to the TLS setting.

[2022-01-11 08:51] rajavignesh commented on #328
Tried with Operator version 0.7.2, still, I am able to connect without a certificate by setting "allowInvalidCertificates" parameter to true.

[2022-01-12 09:37] qrr1995 commented on #840
Thanks for your reply!
I'm afraid that the solution (update args for docker/containers for node) may not satisfy my demand, since it requires a restart and I can't add bootstrap scrips for VM.

Furthermore, what's the risk of keeping  `memlock` default value `65536`  for MongoDB?
There is so few documents about this.

[2022-01-12 10:10] priyolahiri commented on #841
what is the location of the file mogod.conf.orig you are changing? is it on disk?

[2022-01-12 10:30] priyolahiri commented on #841
the way to override the log location would be to change it in the deployment. if you look at the sample [here](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/samples/mongodb.com_v1_mongodbcommunity_cr.yaml), you should see an additionalMongodConfig section. If you put in systemLog.path: "/path_to_log_file_location", you should be able to override the log file location. f

[2022-01-12 12:02] JensHor opened #849 "ReplicaSets restarts after about 24 to 48 hours"
**What did you do to encounter the bug?**
Not really a bug, but a question. I am using Mongodb Kubernetes Operator hosted on GKE with the following yaml configuration:

[code]

I have the problem that all 1 to 2 days one of the replica set pods is restarted causing my application to have no longer access to the database. I already opened an issue on the repo of the mongodb library i am using to fi

[2022-01-12 12:29] priyolahiri commented on #822
@radicalgeek was this resolved?

[2022-01-12 15:54] #839 closed

[2022-01-13 09:27] kkendzia opened #850 "service account missing when deploying database to different namespace than operator"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Deploy operator to namespace: mongodb-operator with watchNamespace: "*"
2. Try to deploy example-mongodb to namespace: mongodb-test

**What did you expect?**
Deployment with 3 replicas.

**What happened instead?**
`pods "example-mongodb-0" is forbidden: error looking up service account mongodb-test/mongodb-database: serv

[2022-01-13 09:39] seimic opened #851 "replicaSetHorizons with multiple horizons seems not to work"
**What did you do to encounter the bug?**

Defined two horizons for a 3 instances replicaset. External and Internal.

[code]

The field is named in plural, so I assume it should be possible to define more than one set of horizon definitions.
The only requirement was, they match the amount of replicaset instances. Not sure, what I'm missing here.

**What did you expect?**

I would expect both horiz

[2022-01-13 12:40] seimic commented on #849
Hi,

your resource definition looks very strange. I suppose the instances freak out because of cpu or memory limits.

Kind regards,
Michael

[2022-01-13 13:13] JensHor commented on #849
Alright. I had problems getting this running with my limited GKE resources, but i'll try to delete the resource constraints and report back!

[2022-01-13 14:39] #834 closed

[2022-01-13 19:01] drsheff commented on #850
same problem

`serviceaccount "mongodb-database" not found`

[2022-01-14 09:15] Starefossen commented on #748
Any updates on this @priyolahiri? How can I follow the tickets in JIRA?

[2022-01-14 09:55] priyolahiri commented on #748
We don't have a public roadmap for the Community Operator currently. You can track the major issues on Github Issues. We are starting to work on Prometheus Metrics this quarter and should have an update soon.

[2022-01-14 10:56] priyolahiri commented on #823
Currently there is no option to disable persistence.

[2022-01-14 10:56] #823 closed

[2022-01-16 14:51] stanltam opened #853 "How to disable download gz for offline installation?"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1.Install the operator
2. Install the CRD replicasets

**What did you expect?**
Start up normally

**What happened instead?**
Saw the database container is not ready, from the log, it shows
{"logType":"automation-agent-verbose","contents":"[2022-01-16T13:22:36.994+0000] [.info] [src/util/download.go:DownloadUngzipUntarCusto

[2022-01-17 08:59] daniel-tasnadi-epam commented on #819
Hi @tibulca ,

I can confirm now your fix working properly. Thank you for your help!

[2022-01-17 08:59] #819 closed

[2022-01-17 09:27] irajdeep commented on #849
@JensHor did changing the resource limits help with preventing the restart?

[2022-01-17 09:28] JensHor commented on #849
Yes. I see this as solved. If any problem occurs i'll reopen the issue.

[2022-01-17 09:28] #849 closed

[2022-01-17 09:29] priyolahiri commented on #840
Memlock and the effects of it are related more to MongoDB Server rather than the Kubernetes operator. I would suggest exploring the resources at support.mongodb.com

[2022-01-17 09:29] #840 closed

[2022-01-17 09:30] #843 closed

[2022-01-17 09:31] #844 closed

[2022-01-17 09:32] #833 closed

[2022-01-17 09:39] priyolahiri commented on #851
Please look at the [sample](https://github.com/mongodb/mongodb-kubernetes-operator/tree/master/config/samples/external_access) and the [docs](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/docs/external_access.md) for help on configuring external access. The way you are configuring it now is unsupported.

[2022-01-17 09:40] priyolahiri commented on #853
This is the repository for the community operator. Please go to support.mongodb.com to raise issues for the Enterprise Operator.

[2022-01-17 09:40] #853 closed

[2022-01-17 09:41] irajdeep commented on #850
Hi @kkendzia

Indeed that's the intended behavior, in the current setup to have the database deployed in a different namespace other than the operator, one needs to create the service account in that particular namespace(provided here: https://github.com/mongodb/mongodb-kubernetes-operator/tree/master/config/rbac). We intentionally decided the operator not to give permission to create serviceaccou

[2022-01-17 10:17] seimic commented on #851
Hi,

thanks for your response. The way I do it is almost exactly same as in the example and documentation, except in example there is only one horizon. It works with a single external address, but not with two horizons. The question was, how to expose the service twice. I would like to expose it to local clusters using cilium global services. For this purpose there is the second service "mongodb-s

[2022-01-17 10:23] priyolahiri commented on #851
Currently, only one entry can be specified per replicaset member.

[2022-01-17 10:28] seimic commented on #851
OK, this means the statement "You may add multiple external mappings per host." in this documentation is not valid.
https://docs.mongodb.com/kubernetes-operator/master/tutorial/connect-from-outside-k8s/ (See: spec.connectivity
.replicaSetHorizons)
Hmm... OK. We try to live with one :)

[2022-01-17 10:35] priyolahiri commented on #851
The docs you are referring to are for the Enterprise Operator and this is the Community Operator. Having said that, good point on the multiple external mappings per host. Let me try and see if I can find anything on specifying multiple split horizon entries for each replicaset member.

[2022-01-19 09:27] jinchengsix opened #860 "The pod is in the running state, but the cluster state is pending"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
kubectl apply -f config/xxxx_cr.yaml

**What did you expect?**
cluster state is running

**What happened instead?**
cluster state is pending

**Screenshots**
![image](https://user-images.githubusercontent.com/39333013/150099147-b03ae279-d9d1-4ac0-84e9-6ac8fc01fc3b.png)

**Operator Information**
 - Operator 0.7.0
 - MongoDB

[2022-01-19 09:31] jinchengsix commented on #860
here is my cr file

---
apiVersion: mongodbcommunity.mongodb.com/v1
kind: MongoDBCommunity
metadata:
  name: mongodb
spec:
  members: 1
  type: ReplicaSet
  version: "4.0.3"
  security:
    authentication:
      modes: ["SCRAM"]
  users:
    - name: shuaib
      db: admin
      passwordSecretRef: # a reference to the secret that will be used to generate the user's password
        name: my-user-pa

[2022-01-19 09:50] jinchengsix commented on #860
sorry ， my mistake

[2022-01-19 09:50] #860 closed

[2022-01-20 07:08] GayathriRameshK opened #861 "mongodbcommunity.mongodbcommunity.mongodb.com status is not showing up in version 0.7.2"
**What did you do to encounter the bug?**
I have installed mongoDB kubernetes operator version 0.7.2. while trying to check the status of mdbc using below command, the status is not showing up.
kubectl get mongodbcommunity.mongodbcommunity.mongodb.com

**What did you expect?**
The mdbc status should be showing as running or failed.

**What happened instead?**
No Status generated.
NAME

[2022-01-20 11:10] priyolahiri commented on #822
@radicalgeek Please re-open if the issue did not get resolved.

[2022-01-20 11:10] #822 closed

[2022-01-20 11:11] irajdeep commented on #850
Feel free to re-open if creating the service-account in the namespace doesn't work out.

[2022-01-20 11:11] #850 closed

[2022-01-20 16:06] irajdeep commented on #832
Hi @necipakca the cluster domain can now be configured using environment variable in the operator pod. It can be found in the release notes: https://github.com/mongodb/mongodb-kubernetes-operator/releases/tag/v0.7.1

[2022-01-20 17:10] #818 closed

[2022-01-21 01:53] jdowling-last opened #863 "Mongod fails to start in First Replicaset"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
1. Installed the operator with default setting into  the mongodb namespace:

[code]
2. For the replicas, the sample used was mongodb.com_v1_mongodbcommunity_cr.yaml.  I changed the name from example-mongodb to polis-mongodb and set the password.

3. My persistent storage plugin is csi-driver-nfs. The PVCs were created manua

[2022-01-21 12:38] stanltam opened #864 "MongoDB Community Kubernetes Operator can deploy replica set with arbiter?"
**What did you do to encounter the bug?**
Steps to reproduce the behavior:
Currently, my k8s environment has some limitation and need to deploy a replica set with 2 data node and 1 arbiter.
May I know if MongoDB Community Kubernetes Operator can deploy replica set with arbiter?

[2022-01-21 13:10] irajdeep commented on #864
Hi @stanltam

Yes, it is possible you can configure it under [spec.arbiters](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/crd/bases/mongodbcommunity.mongodb.com_mongodbcommunity.yaml#L57)

[2022-01-21 13:31] irajdeep commented on #864
Feel free to re-open, if configuring the arbiters doesn't work.

[2022-01-21 13:31] #864 closed

[2022-01-22 19:08] #832 closed

[2022-01-22 19:10] necipakca commented on #832
Adjusting CLUSTER_DOMAIN env on manager.yaml works. Thanks.

[2022-01-24 10:47] rodrigovalin commented on #863
Hi @jdowling-last,

We have an example on using [custom PersistentVolumeClaim](https://github.com/mongodb/mongodb-kubernetes-operator/blob/master/config/samples/arbitrary_statefulset_configuration/mongodb.com_v1_hostpath.yaml). I think you might be missing the part were you set your `storageClass` in the `MongoDB` resource.

If you follow that example, you'll have to provision the 6 volumes manual

[2022-01-24 10:53] rodrigovalin commented on #861
hi @GayathriRameshK,

When submitting a bug report, please add as much infomation as possible; that makes it easier for us to understand the problem and be able to help you!

If you look at the bug report, we also request:

- yaml definition of your `MongoDBCommuntity` resources (`kubectl get mdbc -o yaml`)
- logs of the Operator Pod (`kubectl logs <operator-pod>`)

[2022-01-24 11:34] GayathriRameshK commented on #861
$kubectl get mdbc -o yaml
apiVersion: v1
items: []
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""

$Kubectl logs <operator pod>
2022-01-24T11:13:57.410Z        INFO    controllers/replica_set_controller.go:132       Reconciling MongoDB     {"ReplicaSet": "mdb-opupgrade/opupgrade-mongodb"}
2022-01-24T11:13:57.410Z        DEBUG   controllers/replica_set_controller.go:134       Validating